#Overall driver options
Running mode: 		         "retrospective" #"AGRMET ops"
Map projection of the LIS domain: "latlon"
Number of nests:                  1 
Number of surface model types:    1
Surface model types:            "LSM" # "Openwater"
Surface model output interval:  "1da"
Land surface model:             "JULES.5.3"
Open water model:                "template open water"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:              "NLDAS2" #"Loobos" # "AGRMET"
Topographic correction method (met forcing):  "none" #"none"
Enable spatial downscaling of precipitation:   0   0 
Spatial interpolation method (met forcing):    "neighbor" #"bilinear" # "bilinear"
Spatial upscaling method (met forcing):        "none" #"average" # "average"
Temporal interpolation method (met forcing):  "linear" # "linear"

#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output methodology:                        "2d gridspace"
Output model restart files:                1
Output data format:                        netcdf #grib1
Output naming style:                       "3 level hierarchy"  # "WMO convention"
Start mode:                                coldstart
Starting year:                             1979
Starting month:                            1
Starting day:                              1
Starting hour:                             13
Starting minute:                           0
Starting second:                           0
Ending year:                               1979 #2018
Ending month:                              3 #11
Ending day:                                1
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                          OUTPUT
Diagnostic output file:                    OUTPUT/log/lislog
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1 #1 for l_aggregate=true #9   
Minimum cutoff percentage (surface type tiles):    0.05
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05

#Processor Layout	
#Should match the total number of processors used
Number of processors along x:    28
Number of processors along y:    8
Halo size along x: 0 
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------
Routing model:                         none # "HYMAP router"
HYMAP routing model time step:                 15mn
HYMAP routing model output interval:           1da       #1mo
HYMAP routing model restart interval:          1mo
HYMAP run in ensemble mode:                    0
# method:                enter 1 - kinematic; 2 - diffusive
# linear reservoir flag: enter 1 - use; or 2 - do not use linear reservoirs
# evaporation option:    enter 1 - compute; or 2 - do not compute evapotation in floodplains
HYMAP routing method:                          kinematic
HYMAP routing model linear reservoir flag:     1
HYMAP routing model evaporation option:        2
HYMAP routing model restart file:              #ROUTING_RST_FILE#
HYMAP routing model start mode:                #ROUTING_START_MODE#
HYMAP routing LIS output directory:            HYMAPTEST

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0      #1
Data assimilation algorithm:                         "none" #"Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2 # added by Shugong
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0
Data assimilation use a trained forward model:       0
Data assimilation trained forward model output file: none

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./input/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./input/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt

SNODEP data directory:   ./input/RS_DATA/SNODEP/mesh8
SNODEP mesh resolution:  8
SNODEP naming convention:  LIS


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
Map projection of the LIS domain:       latlon
Run domain lower left lat:               25.0625
Run domain lower left lon:             -124.9375
Run domain upper right lat:              52.9375
Run domain upper right lon:             -67.0625
Run domain resolution (dx):               0.125
Run domain resolution (dy):               0.125 

#The following options list the choice of parameter maps to be 
#used
LIS domain and parameter data file:  lis_input.d01.nc #lis_input.nldas.top.hymap.nc
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "none"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Greenness data source:           "none"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"
Max snow albedo data source:     "none"

Use greenness fraction climatology: 1
Use albedo climatology: 1
Albedo climatology interval type: monthly

#--------------------------------FORCINGS----------------------------------
Loobos forcing file: dummy_loobos/Loobos_1997.dat

#--------------------------------FORCINGS----------------------------------
NLDAS2 forcing directory:               ./input/MET_FORCING/NLDAS2.FORCING 
NLDAS2 data center source:               "GES-DISC" # "NCEP"
NLDAS2 use model level data:            0   
NLDAS2 use model based swdown:          0   
NLDAS2 use model based precip:          0   
NLDAS2 use model based pressure:        0 

#--------------------------------FORCINGS----------------------------------
AGRMET forcing map projection:             latlon
AGRMET forcing domain lower left lat:     -89.875
AGRMET forcing domain lower left lon:     -179.875
AGRMET forcing domain upper right lat:     89.875
AGRMET forcing domain upper right lon:     179.875
AGRMET forcing domain resolution (dx):     0.25
AGRMET forcing domain resolution (dy):     0.25
AGRMET forcing directory:                 ./AFWA_updated_EK 
AGRMET first guess source:                 GFS # EMK NEW
AGRMET retrospective root filename:     "/PS.AFWA_SC.U_DI.C_DC.ANLYS_GP.LIS_GR.C0P25DEG_AR.GLOBAL_PA.03-HR-SUM_DD."

AGRMET analysis directory:              Analysis_UMFG_1 # EMK 
AGRMET use timestamp on directories:    1
AGRMET use timestamp on gfs:            1

# For 10-km domain
AGRMET GALWEM Precip background error scale length (m):             85000.
AGRMET GALWEM Precip background error variance:                         0.43
AGRMET GALWEM Precip Gauge observation error variance:                  0.64
AGRMET GALWEM Precip GEOPRECIP observation error scale length (m):  78000.
AGRMET GALWEM Precip GEOPRECIP observation error variance:              2.68
AGRMET GALWEM Precip SSMI observation error scale length (m):       30000.
AGRMET GALWEM Precip SSMI observation error variance:                   7.40
AGRMET GALWEM Precip CMORPH observation error scale length (m):     62000.
AGRMET GALWEM Precip CMORPH observation error variance:                 1.53
AGRMET GALWEM T2M background error scale length (m):                30000.
AGRMET GALWEM T2M background error variance:                            1.15
AGRMET GALWEM T2M station observation error variance:                   2.75
AGRMET GALWEM RH2M background error scale length (m):               55000.
AGRMET GALWEM RH2M background error variance:                          32.5
AGRMET GALWEM RH2M station observation error variance:                 48.0
AGRMET GALWEM SPD10M background error scale length (m):            100000.
AGRMET GALWEM SPD10M background error variance:                         0.35
AGRMET GALWEM SPD10M station observation error variance:                2.52
 
  
# 10-km
AGRMET GFS Precip background error scale length (m):            75000.
AGRMET GFS Precip background error variance:                        0.58
AGRMET GFS Precip Gauge observation error variance:                 0.6
AGRMET GFS Precip GEOPRECIP observation error scale length (m): 90000.
AGRMET GFS Precip GEOPRECIP observation error variance:             2.22
AGRMET GFS Precip SSMI observation error scale length (m):      30000.
AGRMET GFS Precip SSMI observation error variance:                  7.4
AGRMET GFS Precip CMORPH observation error scale length (m):    65000.
AGRMET GFS Precip CMORPH observation error variance:                1.43
AGRMET GFS T2M background error scale length (m):               60000.
AGRMET GFS T2M background error variance:                           0.78
AGRMET GFS T2M station observation error variance:                  3.48
AGRMET GFS RH2M background error scale length (m):              95000.
AGRMET GFS RH2M background error variance:                         34.6
AGRMET GFS RH2M station observation error variance:                62.1
AGRMET GFS SPD10M background error scale length (m):             76000.
AGRMET GFS SPD10M background error variance:                         0.86
AGRMET GFS SPD10M station observation error variance:                2.44



#-----------------------LAND SURFACE MODELS--------------------------
Template open water timestep:             "15mn"

#-----------------------LAND SURFACE MODELS--------------------------
JULES.5.3 model timestep:                 "15mn"
JULES.5.3 namelist directory:              ./ps41_nml_15min
JULES.5.3 using 360-day calender:          .false. 
JULES.5.3 using aggregated surface scheme: .false. 
JULES.5.3 restart output interval:         1mo
JULES.5.3 reference height for forcing T and q:  2 #10
JULES.5.3 reference height for forcing u and v: 10 #10 

JULES.5.3 restart file:                
JULES.5.3 restart file format:        "netcdf"   

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

#Energy balance components

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255
Output GRIB Packing Type:  grid_simple


Model output attributes file: MODEL_OUTPUT_LIST.TBL
