
# == LDT Main Entry Options == 

LDT running mode:             "LSM parameter processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc   # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "none"             # Enter LSM(s) of choice

Lake model:                          "none"             # Enter Lake model(s) of choice
Water fraction cutoff value:          0.50              # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters

Number of met forcing sources:         0                # Enter number of forcing types
Met forcing sources:                 "none"             # Enter 'none' if no forcing selected
Met spatial transform methods:      "bilinear"            # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"    # none | lapse-rate

LDT diagnostic file:              ldtlog                # Log-based diagnostic output file
Undefined value:                   -9999.0              # Universal undefined value
LDT output directory:             output                # If metrics or stats are written out
Number of ensembles per tile:         1                 # The number of ensemble members per tile

# Processor layout (currently not available)
#Number of processors along x:       1 
#Number of processors along y:       1 

# LIS domain:  (See LDT User's Guide for other projection information)
Map projection of the LIS domain:    latlon 
Run domain lower left lat:         -89.5 #south
Run domain lower left lon:          -179.325  #west
Run domain upper right lat:         89.5 #north
Run domain upper right lon:         179.375
Run domain resolution (dx):          0.125
Run domain resolution (dy):          0.125


# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs 
Landcover data source:        "MODIS_Native"
Landcover classification:      "IGBPNCEP"              # Enter land cover classification type
Landcover file:             ./input/noah_2dparms/igbp.bin      # Landcover map path
Landcover spatial transform:      tile                  # none | mode | neighbor | tile
Landcover fill option:            none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:        latlon

# Create landmask field from readin landcover map or read in separate landmask file
Create or readin landmask:      "create"                # create | readin
Landmask data source:         "MODIS_Native"          # If 'created', recommended to put Landcover source name here
Landmask file:                   none                   # Land mask file (if needed to be read-in)
Landmask spatial transform:      none                   # none | mode | neighbor

#Soil texture map:
Soil texture data source:    STATSGOFAO_Native
Soil texture map:         ./input/noah_2dparms/topsoil30snew  # Enter soil texture map
Soil texture spatial transform:   mode                  # none | mode | neighbor | tile
Soil texture fill option:       neighbor                # none | neighbor
Soil texture fill radius:         5                     # Number of pixels to search for neighbor
Soil texture fill value:          6                     # Static value to fill where missing 
Soil texture map projection:     latlon

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

# Forcing Based Parameter Inputs:
GDAS forcing directory:  ./MET_FORCING/GDAS/

# SRTM Elevation data entries:
Elevation data source:    "SRTM_Native"
Elevation map:       ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw/
Elevation number of bands:     1

Slope data source:        "SRTM_Native"
Slope map:           ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw/
Slope number of bands:         1

Aspect data source:       "SRTM_Native"
Aspect map:          ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw/
Aspect number of bands:        1
Topography spatial transform:  average
Elevation fill option:         none
Slope fill option:             none
Aspect fill option:            none

# == Main Noah LSM Parameters ==

# Albedo maps:
Albedo data source:            NCEP_Native
Albedo map:                 ./input/noah_2dparms/albedo       # Albedo files
Albedo climatology interval:     monthly                # monthly | quarterly
Albedo spatial transform:        bilinear               # average | neighbor | bilinear | budget-bilinear
Albedo fill option:              neighbor               # none | neighbor | average
Albedo fill radius:                5                    # Number of pixels to search for neighbor
Albedo fill value:                0.14                  # Static value to fill where missing
Albedo map projection:           latlon                  

Max snow albedo data source:    NCEP_Native
Max snow albedo map:      ./input/noah_2dparms/maxsnoalb.asc  # Max. snow albedo map
Max snow albedo spatial transform:  budget-bilinear     # average | neighbor | bilinear | budget-bilinear
Max snow albedo fill option:        neighbor            # none | neighbor | average
Max snow albedo fill radius:         5                  # Number of pixels to search for neighbor
Max snow albedo fill value:         0.3                 # Static value to fill where missing
Max snow albedo map projection:    latlon

# Greenness fraction maps:
Greenness data source:        NCEP_Native
Greenness fraction map:   ./input/noah_2dparms/gfrac          # Greenness fraction map        
Greenness climatology interval:   monthly               # monthly
Calculate min-max greenness fraction: .false.
Greenness maximum map:    ./input/noah_2dparms/gfrac_max.asc  # Maximum greenness fraction map
Greenness minimum map:    ./input/noah_2dparms/gfrac_min.asc  # Minimum greenness fraction map
Greenness spatial transform:   bilinear                 # average | neighbor | bilinear | budget-bilinear
Greenness fill option:         neighbor                 # none | neighbor | average
Greenness fill radius:           5                      # Number of pixels to search for neighbor
Greenness fill value:           0.30                    # Static value to fill where missing
Greenness maximum fill value:   0.40                    # Static value to fill where missing
Greenness minimum fill value:   0.20                    # Static value to fill where missing
Greenness map projection:      latlon

# Slope type map:
Slope type data source:       NCEP_Native
Slope type map:           ./input/noah_2dparms/islope         # Slope type map
Slope type spatial transform:   neighbor                # none | neighbor | mode
Slope type fill option:         neighbor                # none | neighbor
Slope type fill radius:           5                     # Number of pixels to search for neighbor
Slope type fill value:            3.                    # Static value to fill where missing
Slope type map projection:      latlon

# Bottom temperature map (lapse-rate correction option):
Bottom temperature data source:     ISLSCP1
Bottom temperature map:     ./input/noah_2dparms/SOILTEMP.60     # Bottom soil temperature file
Bottom temperature topographic downscaling:  "none"  # none | lapse-rate
Bottom temperature spatial transform:  bilinear            # average | neighbor | bilinear | budget-bilinear
Bottom temperature fill option:        average             # none | average | neighbor
Bottom temperature fill radius:        5                   # Number of pixels to search for neighbor
Bottom temperature fill value:         287.                # Static value to fill where missing
Bottom temperature map projection:     latlon              # Projection type

# =======================================================
