LDT running mode:                   "LSM parameter processing"
Processed LSM parameter filename:   lis_input.d01.nc
LIS number of nests:                1

Number of surface model types:      1
Surface model types:                "LSM"  
Land surface model:                 "Noah.3.6"
Lake model:                         "none"   
Water fraction cutoff value:        0.5
Incorporate crop information:       .false.

Number of met forcing sources:      0
Met forcing sources:                "none" 
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none" 

LDT diagnostic file:                ldtlog
Undefined value:                    -9999.0
LDT output directory:               OUTPUT
Number of ensembles per tile:       1

#LIS domain
Map projection of the LIS domain:   gaussian
Run domain lower left lat:         -89.27665
Run domain lower left lon:           0.0
Run domain upper right lat:         89.27665
Run domain upper right lon:         -0.9375
Run domain resolution dlon:          0.9375
Run domain number of lat circles:  95

# Landcover/Mask Parameter Inputs #
Create or readin landmask:    "readin" 
Landmask data source:         AVHRR
Landmask file:                ./input/LS_PARAMETERS/GFS/T126/lmask_gfs_T126.bfsa
Landmask spatial transform:   none
Landmask map projection:      gaussian
Landmask first grid point lat:   -89.27665
Landmask first grid point lon:     0.0
Landmask last grid point lat:     89.27665
Landmask last grid point lon:     -0.9375
Landmask resolution dlon:          0.9375
Landmask number of lat circles: 95

Landcover classification:     "UMD"
Landcover data source:        AVHRR_GFS
Landcover file:               ./input/LS_PARAMETERS/GFS/T126/vtype_gfs_T126.bfsa
Landcover spatial transform:  none
Landcover fill option:        none
Landcover map projection:     gaussian
Landcover first grid point lat:   -89.27665
Landcover first grid point lon:     0.0
Landcover last grid point lat:     89.27665
Landcover last grid point lon:     -0.9375
Landcover resolution dlon:          0.9375
Landcover number of lat circles:  95

#Topography maps
Elevation data source:            GTOPO30_GFS
Elevation map:              ./input/LS_PARAMETERS/GFS/T126/elev_gfs_T126.bfsa
Elevation fill option:            none
Elevation number of bands:        1
Topography spatial transform:     none
Topography map projection:       gaussian
Topography first grid point lat:   -89.27665
Topography first grid point lon:     0.0
Topography last grid point lat:     89.27665
Topography last grid point lon:     -0.9375
Topography resolution dlon:          0.9375
Topography number of lat circles: 95

#Soil texture map
Soil texture data source:         ZOBLER_GFS
Soil texture map:         ./input/LS_PARAMETERS/GFS/T126/stype_gfs_T126.bfsa
Soil texture spatial transform:  none
Soil texture fill option:        none
Soil texture map projection:     gaussian
Soil texture first grid point lat:  -89.27665
Soil texture first grid point lon:    0.0
Soil texture last grid point lat:    89.27665
Soil texture last grid point lon:    -0.9375
Soil texture resolution dlon:         0.9375
Soil texture number of lat circles: 95

Soils data source:            NCEP_GFS
Soils spatial transform:      none
Soils map projection:         gaussian
Soils first grid point lat:  -89.27665
Soils first grid point lon:    0.0
Soils last grid point lat:    89.27665
Soils last grid point lon:    -0.9375
Soils resolution dlon:         0.9375
Soils number of lat circles: 95


# == Noah LSM Parameters ==

# Slope type:
Slope type data source:      NCEP_Native
Slope type map:              ./input/LS_PARAMETERS/noah_2dparms/islope
Slope type spatial transform:   neighbor
Slope type fill option:         neighbor
Slope type fill radius:           5
Slope type fill value:            3.
Slope type map projection:      latlon

# Albedo maps:
Albedo data source:            NCEP_Native
Albedo map:                 ./input/LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:     monthly
Albedo spatial transform:        bilinear
Albedo fill option:              neighbor
Albedo fill radius:                5
Albedo fill value:                0.14
Albedo map projection:           latlon

Max snow albedo data source:  NCEP_GFS
Max snow albedo map:  ./input/LS_PARAMETERS/GFS/T126/maxsnowalb_gfs_T126.bfsa
Max snow albedo spatial transform:     none
Max snow albedo fill option:           none
Max snow albedo map projection:         gaussian
Max snow albedo first grid point lat:  -89.27665
Max snow albedo first grid point lon:    0.0
Max snow albedo last grid point lat:    89.27665
Max snow albedo last grid point lon:    -0.9375
Max snow albedo resolution dlon:         0.9375
Max snow albedo number of lat circles: 95

# Greenness fraction maps:
Greenness data source:        NCEP_Native
Greenness fraction map:   ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:   monthly
Calculate min-max greenness fraction: .false.
Greenness maximum map:    ./input/LS_PARAMETERS/noah_2dparms/gfrac_max.asc
Greenness minimum map:    ./input/LS_PARAMETERS/noah_2dparms/gfrac_min.asc
Greenness spatial transform:   bilinear
Greenness fill option:         neighbor
Greenness fill radius:           5
Greenness fill value:           0.30
Greenness maximum fill value:   0.40
Greenness minimum fill value:   0.20
Greenness map projection:      latlon

Bottom temperature data source: NCEP_GFS
Bottom temperature map:        ./input/LS_PARAMETERS/GFS/T126/tbot_gfs_T126.bfsa
Bottom temperature spatial transform:     none
Bottom temperature fill option:           none
Bottom temperature topographic downscaling:  "none"  
Bottom temperature map projection:        gaussian
Bottom temperature first grid point lat:   -89.27665
Bottom temperature first grid point lon:     0.0
Bottom temperature last grid point lat:     89.27665
Bottom temperature last grid point lon:     -0.9375
Bottom temperature resolution dlon:          0.9375
Bottom temperature number of lat circles: 95

