Output format for images:        1
LVT config file:                 lvt.config
LVT time series locations file:  TS_LOCATIONS.TXT
gnuplot output filename:         ts.plt
Number of variables to plot:     17
data series 1 (model) label:     STEP0
data series 1 (model) style:     1
data series 2 (obs) label:       STEP1
data series 2 (obs) style:       1
Variable names:     Qle Qh Qg SWE SNOD Soilmoisture1 Soilmoisture2 Soilmoisture3 Soilmoisture4 Soiltemp1 Soiltemp2 Soiltemp3 Soiltemp4 Tair SWdown LWdown Precip
Variable units:     W/m2 W/m2 W/m2 mm m m3/m3 m3/m3 m3/m3 m3/m3 K K K K K W/m2 W/m3 mm
