
# == LDT Main Entry Options ==

LDT running mode:             "LSM parameter processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc   # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "CLSMF2.5"         # Enter LSM(s) of choice
Lake model:                          "none"             # Enter Lake model(s) of choice
Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters

Number of met forcing sources:         0                # Enter number of forcing types
Met forcing sources:                 "none"             # Enter 'none' if no forcing selected
Met spatial transform methods:        none              # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"    # none | lapse-rate

LDT diagnostic file:                ldtlog              # Log-based diagnostic output file
Undefined value:                   -9999.0              # Universal undefined value
LDT output directory:               OUTPUT              # If metrics or stats are written out
Number of ensembles per tile:         1                 # The number of ensemble members per tile

# Processor layout:
Number of processors along x:       1
Number of processors along y:       1

#LIS domain:
Map projection of the LIS domain:   latlon 
Run domain lower left lat:          25.0625
Run domain lower left lon:        -124.9375
Run domain upper right lat:         52.9375
Run domain upper right lon:        -67.0625
Run domain resolution (dx):          0.125
Run domain resolution (dy):          0.125

# Enter Data Source entries here:
Landcover data source:          AVHRR
Landmask data source:           CLSMF2.5
Elevation data source:          none
Greenness data source:          CLSMF2.5
LAI data source:                CLSMF2.5
Porosity data source:           CLSMF2.5

# Landcover/Mask Parameter Inputs #
Landcover file:               ./input/UMD/1KM/landcover_UMD.1gd4r
Landcover spatial transform:     tile
Landcover fill option:           neighbor
Landcover fill radius:           5
Landcover fill value:            4
Landcover map projection:        latlon
Landcover lower left lat:       -59.995
Landcover lower left lon:      -179.995
Landcover upper right lat:       89.995
Landcover upper right lon:      179.995
Landcover resolution (dx):        0.01
Landcover resolution (dy):        0.01

Create or readin landmask:     "readin" 
Landmask file:            ./input/clsm25_parms/NLDAS_0.125-deg/NLDASmask_Catch-UMDunified.1gd4r
Landmask spatial transform:     none
Landmask map projection:        latlon
Landmask lower left lat:       25.0625
Landmask lower left lon:     -124.9375
Landmask upper right lat:      52.9375
Landmask upper right lon:     -67.0625
Landmask resolution (dx):        0.125
Landmask resolution (dy):        0.125

#Catchment LSM Parms:
CLSMF25 soil param file:         ./input/clsm25_parms/NLDAS_0.125-deg/add2m/soil_param.dat
CLSMF25 topo ar file:            ./input/clsm25_parms/NLDAS_0.125-deg/add2m/ar.new
CLSMF25 topo bf file:            ./input/clsm25_parms/NLDAS_0.125-deg/bf.dat
CLSMF25 topo ts file:            ./input/clsm25_parms/NLDAS_0.125-deg/add2m/ts.dat
CLSMF25 surf layer ts file:      ./input/clsm25_parms/NLDAS_0.125-deg/tau_param.dat
CLSMF25 top soil layer depth:      0.02
CLSMF25 add to bedrock depth:      2.0
CLSMF25 spatial transform:         none
CLSMF25 map projection:           latlon
CLSMF25 lower left lat:           25.0625
CLSMF25 lower left lon:         -124.9375
CLSMF25 upper right lat:          52.9375
CLSMF25 upper right lon:         -67.0625
CLSMF25 resolution (dx):           0.125
CLSMF25 resolution (dy):           0.125

#Soil parameters:
Porosity map:          ./input/clsm25_parms/NLDAS_0.125-deg/add2m/soil_param.dat
Porosity fill value:          0.3
Soils fill option:            none
Soils spatial transform:      none 
Soils map projection:         latlon
Soils lower left lat:         25.0625
Soils lower left lon:       -124.9375
Soils upper right lat:        52.9375
Soils upper right lon:       -67.0625
Soils resolution (dx):         0.125
Soils resolution (dy):         0.125

#Albedo maps
Albedo map:                   none
Albedo NIR factor file:   ./input/clsm25_parms/NLDAS_0.125-deg/modis_scale_factor.albnf.clim
Albedo VIS factor file:   ./input/clsm25_parms/NLDAS_0.125-deg/modis_scale_factor.albvf.clim
Albedo climatology interval:   "monthly"
Albedo fill option:             none
Albedo spatial transform:       none
Albedo map projection:          latlon   
Albedo lower left lat:          25.0625
Albedo lower left lon:        -124.9375
Albedo upper right lat:         52.9375
Albedo upper right lon:        -67.0625
Albedo resolution (dx):          0.125
Albedo resolution (dy):          0.125

Greenness fraction map:     ./input/clsm25_parms/NLDAS_0.125-deg/green.data
Greenness climatology interval:  "monthly"  
Greenness fill option:           none
Calculate min-max greenness fraction: .true.
Greenness maximum map:           none
Greenness minimum map:           none
Greenness spatial transform:     none
Greenness map projection:        latlon  
Greenness lower left lat:        25.0625
Greenness lower left lon:      -124.9375
Greenness upper right lat:       52.9375
Greenness upper right lon:      -67.0625
Greenness resolution (dx):        0.125
Greenness resolution (dy):        0.125

#LAI maps
LAI map:                   ./input/clsm25_parms/NLDAS_0.125-deg/lai.data
SAI map:                         none
LAI/SAI climatology interval:    "monthly"
Calculate min-max LAI:          .true.
LAI/SAI fill option:             none
LAI/SAI spatial transform:       none
LAI/SAI map projection:          latlon
LAI/SAI lower left lat:          25.0625
LAI/SAI lower left lon:        -124.9375
LAI/SAI upper right lat:         52.9375
LAI/SAI upper right lon:        -67.0625
LAI/SAI resolution (dx):          0.125
LAI/SAI resolution (dy):          0.125

# ________________________

