# Settings for LDTSI post runmode.
LVT diagnostic file: lvtlog
LVT running mode:   "LDTSI post"
Undefined value: -9999
Starting year:  2018
Starting month:   12
Starting day:     08
Starting hour:    00
Starting minute:  00
Starting second:  00
LDTSI output GRIB2 native grid: .true.
LDTSI output GRIB1 global 0.25deg lat/lon: .true.
LDTSI output GRIB1 NH 16th mesh polar stereographic: .true.
LDTSI output GRIB1 SH 16th mesh polar stereographic: .true.
LDTSI input netcdf directory: ./LDTSI
LDTSI output grib directory: ./grib

# The remaining settings are required for input by LVT, but not used by the
# LDTSIproc runmode.
Map projection of the LVT analysis: latlon
Analysis data sources: "LIS output" "none"
LVT output format: grib2
Output GRIB Table Version: 14
Output GRIB Center Id:                     57
Output GRIB Subcenter Id:                  2
Output GRIB Grid Id:                       0
Output GRIB Process Id:                    35 # SNODEP (not modified)
Output GRIB Packing Type:                  grid_simple
LVT output methodology: "2d ensemble gridspace"
Start mode: coldstart
LVT clock timestep: 3hr
Metrics computation frequency:  3hr
Metrics output frequency: 3hr
Apply temporal smoothing to obs: 0
Apply external mask:  0
External mask directory: none
External data-based stratification: 0
Variable-based stratification: 0
Observation count threshold: 0
Input domain and mask data file: lis_input.10km_noah_juleslandmask.cap.nc

Ending year:  2018
Ending month:   12
Ending day:     08
Ending hour:    00
Ending minute:  00
Ending second:  00

