#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          3hr
Land surface model:                     "Noah-MP.4.0.1"
Number of met forcing sources:          1
Blending method for forcings:           ensemble
Met forcing sources:                    "GEFS forecast"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0 1
Spatial upscaling method (met forcing):       none none
Spatial interpolation method (met forcing):   bilinear bilinear
Temporal interpolation method (met forcing):  linear linear

#Runtime options
Forcing variables list file:            ./input/forcing_variables.txt
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     netcdf
Output naming style:                    "3 level hierarchy"
Start mode:                             coldstart 
Starting year:                           2022
Starting month:                            1
Starting day:                              2 #29 
Starting hour:                             0 
Starting minute:                           0
Starting second:                           0
Ending year:                             2022 #2021
Ending month:                              1
Ending day:                                3 #30
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                       -9999
Output directory:                       "OUTPUT"
Diagnostic output file:                 "OUTPUT/lislog"
Number of ensembles per tile:         22 

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:           7 #2
Number of processors along y:           4 #2
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Routing model: "none"
Radiative transfer model:               none
Number of application models:           0

HYMAP2 routing model time step:               "15mn"
TEMPLATE model timestep:                      "15mn"
HYMAP2 routing model output interval:         "1da"
HYMAP2 routing model restart interval:        "1mo"

# method:                         enter "kinematic", "diffusive" or "local inertia"
# linear reservoir flag:          enter 1 - use; or 0 - do not use linear reservoirs
# evaporation option:             enter "penman" - compute; or "none" - do not compute evapotation in floodplains;
# floodplain dynamics option:     enter 1 - compute floodplain dynamics; or 0 - do not compute floodplain dynamics
# time step method:      enter "constant" or "adaptive"
# if "adaptive" time step, provide alfa coefficient value
#
#
HYMAP2 routing method:                            "local inertia" # "kinematic" #
HYMAP2 routing model time step method:       "adaptive" "constant" # "constant" #
HYMAP2 routing model adaptive time step alfa coefficient: 1.0
HYMAP2 run in ensemble mode:                 1
HYMAP2 routing model linear reservoir flag:  0
HYMAP2 routing model evaporation option:     none # "penman"
HYMAP2 routing model start mode:     restart 
HYMAP2 routing model restart file:  LIS_RST_HYMAP2_router_201903120000.d01.nc
HYMAP2 floodplain dynamics: 1
HYMAP2 enable 2-way coupling: 0

HYMAP2 reservoir operation option: 0
HYMAP2 number of reservoirs: 1
HYMAP2 reservoir operation input time series size: 2
HYMAP2 reservoir operation input directory: ./
HYMAP2 reservoir operation header filename: ./header_test.txt
HYMAP2 reservoir operation input data type: "water level" # "streamflow" #

HYMAP2 routing model dwi flag: 0
HYMAP2 use localization update in DA: 0
HYMAP2 localization update window size: 5
HYMAP2 localization weight map: distance_map_volta.nc

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options
Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "GLASS LAI"
Data assimilation exclude analysis increments:       0
Data assimilation output interval for diagnostics:   "1da"
Data assimilation number of observation types:       1
Data assimilation output ensemble spread:            0
Data assimilation scaling strategy:                  "none"
Data assimilation output processed observations:     0
Data assimilation output innovations:                0
Number of state variables:                           1

Data assimilation observation domain file: ./lis_input.d01.nc

Data assimilation use a trained forward model: 0
Data assimilation trained forward model output file: none

Apply perturbation bias correction:        0
Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           "none"

Forcing perturbation algorithm:           "GMAO scheme"  #"GMAO scheme"
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  "./input/forcing_attribs.txt" #./config/forcing_attribs.txt
Forcing perturbation attributes file:     "./input/forcing_pert_attribs.txt" #./config/forcing_pert_attribs.txt

State perturbation algorithm:             "none" #"GMAO scheme"
State perturbation frequency:             "3hr"
State attributes file:                    ./noah_lai_attribs.txt
State perturbation attributes file:       ./noah_lai_pert_attribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "1da"
Observation attributes file:              ./GLASSLAI_attribs.txt
Observation perturbation attributes file: ./GLASSLAI_pertattribs.txt

GLASS LAI data directory:           ../GLASSLAIdata

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain

#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:     ./lis_input.d01.nc
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               LDT
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  LDT
Slope data source:                      LDT
Aspect data source:                     LDT
Curvature data source:                  none
LAI data source:                        none
SAI data source:                        none
Albedo data source:                     LDT
Max snow albedo data source:            LDT
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

#--------------------------------FORCINGS----------------------------------
GEFS forecast directory:        ./input/MET_FORCING/GEFS/Oper/
GEFS forecast type:              Operational      # Reforecast2 | Operational
GEFS forecast run mode:          forecast         # forecast | analysis
GEFS forecast grid projection:   latlon           # latlon | gaussian
GEFS pressure level field:       surface          # surface | msl
GEFS forecast number of ensemble members:  22
GEFS forecast grid resolution: 0.5 

GDAS forcing directory:  ./input/MET_FORCING/GDAS/

#-----------------------LAND SURFACE MODELS--------------------------

Noah-MP.4.0.1 model timestep:                15mn
Noah-MP.4.0.1 restart output interval:       1mo
Noah-MP.4.0.1 restart file:                  LIS_RST_NOAHMP401_201903120000.d01.nc
Noah-MP.4.0.1 restart file format:           netcdf
Noah-MP.4.0.1 soil parameter table:          ./input/LS_PARAMETERS/noahmp401_parms/SOILPARM.TBL
Noah-MP.4.0.1 general parameter table:       ./input/LS_PARAMETERS/noahmp401_parms/GENPARM.TBL
Noah-MP.4.0.1 MP parameter table:            ./input/LS_PARAMETERS/noahmp401_parms/MPTABLE.TBL
Noah-MP.4.0.1 number of soil layers:         4
Noah-MP.4.0.1 thickness of soil layers:      0.1  0.3  0.6  1.0
Noah-MP.4.0.1 dynamic vegetation option:                      2  # Up to 10 different options
Noah-MP.4.0.1 canopy stomatal resistance option:              1  # 1=Ball-Berry; 2=Jarvis
Noah-MP.4.0.1 soil moisture factor for stomatal resistance:   1  # 1=Noah; 2=CLM; 3=SSiB
Noah-MP.4.0.1 runoff and groundwater option:                  1  # 1=SIMGM; 2=SIMTOP; 3=Schaake96; 4=BATS; 5=Miguez-Mach
o&Fan
Noah-MP.4.0.1 surface layer drag coefficient option:          1  # 1=M-O; 2=Chen97
Noah-MP.4.0.1 supercooled liquid water option:                1  # 1=NY06; 2=Koren99
Noah-MP.4.0.1 frozen soil permeability option:                1  # 1=NY06; 2=Koren99
Noah-MP.4.0.1 radiation transfer option:                      1  # 1=gap=F(3D;cosz); 2=gap=0; 3=gap=1-Fveg
Noah-MP.4.0.1 snow surface albedo option:                     2  # 1=BATS; 2=CLASS
Noah-MP.4.0.1 rainfall & snowfall option:                     1  # 1=Jordan91; 2=BATS; 3=Noah
Noah-MP.4.0.1 lower boundary of soil temperature option:      2  # 1=zero-flux; 2=Noah
Noah-MP.4.0.1 snow&soil temperature time scheme option:       1  # 1=semi-implicit; 2=fully implicit; 3=FSNO for TS
Noah-MP.4.0.1 glacier option:                                 1  # 1=include phase change; 2=slab ice (Noah)
Noah-MP.4.0.1 surface resistance option:                      1  # 1=Sakaguchi and Zeng 2009; 2=Sellers (1992); 3=adjusted Sellers; 4=option1 for non-snow and rsurf_snow for snow
Noah-MP.4.0.1 soil configuration option:                      1  # 1=input dominant soil texture; 2=input soil texture varies that varies with depth; 3=soil composition and pedotransfer; 4=input soil properties
Noah-MP.4.0.1 soil pedotransfer function option:              1  # 1=Saxton and Rawls (2006) (used when soil_opt=3)
Noah-MP.4.0.1 crop model option:                              0  # 0=No crop model; 1=Liu et al. 2016; 2=Gecros
Noah-MP.4.0.1 urban physics option:                           0  # 0=No; 1=Single-layer; 2=Multi-layer BEP scheme; 3=Multi-layer BEM scheme
Noah-MP.4.0.1 reference height of temperature and humidity: 6.0
Noah-MP.4.0.1 initial surface skin temperature:           263.7
Noah-MP.4.0.1 initial snow water equivalent:                1.0
Noah-MP.4.0.1 initial snow depth:                          0.01
Noah-MP.4.0.1 initial total canopy surface water:          0.01
Noah-MP.4.0.1 initial soil temperatures:                  266.1  274.0  276.9  279.9
Noah-MP.4.0.1 initial total soil moistures:               0.298  0.294  0.271  0.307
Noah-MP.4.0.1 initial leaf area index:                      2.0
Noah-MP.4.0.1 initial water table depth:                    2.5
Noah-MP.4.0.1 initial water in the aquifer:                 4900.0
Noah-MP.4.0.1 initial water in aquifer and saturated soil:  4900.0

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:           './MODEL_OUTPUT_LIST.TBL'

