
LDT running mode:             "Ensemble restart processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc        # Final output file read by LIS-7

LIS number of nests:                   1                 # Total number of nests run by LIS
Number of surface model types:         1                 # Total number of desired surface model types
Surface model types:                 "LSM"               # Surface models:  LSM | Openwater
Land surface model:                  "none"              # Enter LSM of choice
Lake model:                          "none"              # Enter Lake model(s) of choice
Water fraction cutoff value:          0.5                # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.

Number of met forcing sources:         0                 # Enter number of forcing types
Met forcing sources:                 "none"              # Enter 'none' if no forcing selected
Met spatial transform methods:       "none"              # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"     # none | lapse-rate

LDT diagnostic file:               ./ldtlog              # Log-based diagnostic output file
LDT output directory:              ./TEST_OUTPUT         # Test case output directory
Undefined value:                   -9999.0               # Universal undefined value

# Processor layout 
Number of processors along x:        1
Number of processors along y:        1

# Ensemble Restart Section:
LIS restart source:                  "LSM"
Ensemble restart generation mode:    "downscale"
Input restart filename:         ./input/LIS_RST_NOAH33_201212312330.d01.nc
Output restart filename:        ./noens_test.nc
Number of ensembles per tile (input restart):   20
Number of ensembles per tile (output restart):  1

# The number of ensemble members per tile:
Number of ensembles per tile:          20             

# Setting number of tiles for different parameter types:
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

# LIS domain:  (See LDT User's Guide for other projection information)
Map projection of the LIS domain:     latlon 
Run domain lower left lat:            25.0625
Run domain lower left lon:          -124.9375
Run domain upper right lat:           52.9375
Run domain upper right lon:          -67.0625
Run domain resolution (dx):            0.125
Run domain resolution (dy):            0.125

# == Landcover, Landmask Parameters ==

Landcover data source:          "AVHRR"
Landcover classification:       "UMD"            # Enter land cover classification type
Landcover file:           ./input/1KM/landcover_UMD.1gd4r  # Landcover map path
Landcover spatial transform:     tile            # none | mode | neighbor | tile
Landcover fill option:           none            # none | neighbor (Not needed if creating landmask)
Landcover map projection:        latlon
Landcover lower left lat:       -59.995
Landcover lower left lon:      -179.995
Landcover upper right lat:       89.995
Landcover upper right lon:      179.995
Landcover resolution (dx):        0.01
Landcover resolution (dy):        0.01

# Create landmask field from readin landcover map or read in separate landmask file
Landmask data source:          "AVHRR"
Create or readin landmask:     "create"                  # create | readin

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon
