#Overall driver options
Running mode: 		       "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                     1 
Number of surface model types:       1
Surface model types:               "LSM"
Surface model output interval:     "1da"         # Options entered as "3hr", "1da", etc.
Land surface model:              "none"
Open water model:                "template open water"
Number of met forcing sources:       1
Number of ensembles per tile:        1            #should be "1" with "overlay"
Blending method for forcings:    "overlay"
Met forcing sources:            "PRINCETON" 
Topographic correction method (met forcing):  "none" "none"
Enable spatial downscaling of precipitation:   0   0   
Spatial interpolation method (met forcing):   "budget-bilinear"  "bilinear" 
Temporal interpolation method (met forcing):  "linear" "linear" 
Spatial upscaling method (met forcing): "none" "none"

#Runtime options
Forcing variables list file:     ./input/forcing_variables.txt
Output forcing:                       1   #1-yes
Output parameters:                    0   #0- no
Output methodology:                  "2d gridspace"
Output data format:                   binary
Output naming style:                 "3 level hierarchy"
Output model restart files:           1    # 1-turn on restart writing
Start mode:                           restart #coldstart
Starting year:                        2012
Starting month:                       01
Starting day:                         01
Starting hour:                        0 
Starting minute:                      0
Starting second:                      0
Ending year:                          2012
Ending month:                         01
Ending day:                           05
Ending hour:                          0
Ending minute:                        0
Ending second:                        0
Undefined value:                     -9999
Output directory:                   './OUTPUT/' 
Diagnostic output file:             './OUTPUT/lislog'

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:  2
Number of processors along y:  2
Halo size along x:  0 
Halo size along y:  0 

#------------------------ ROUTING -------------------------------------

Routing model:              "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0 
Data assimilation algorithm:                         "none"
Data assimilation set:                               "none" 
Number of state variables:                           0 
Data assimilation exclude analysis increments:       0 
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       0 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./Noah33/pert_files/LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./Noah33/pert_files/forcing_attribs.txt_rainfonly
Forcing perturbation attributes file:     ./Noah33/pert_files/forcing_pert_attribs.txt_rainfonly

State perturbation algorithm:             "none"
State perturbation frequency:             "0"
State attributes file:                    "none"
State perturbation attributes file:       "none" 

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:              "none"
Observation perturbation attributes file: "none"


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#no longer in LIS_dev now all extents are defined in LDT
# LIS EA-Oct2Feb Domain Extents:
#Run domain lower left lat:          -11.750
#Run domain lower left lon:           22.050
#Run domain upper right lat:          22.950
#Run domain upper right lon:          51.350
#Run domain resolution (dx):           0.1
#Run domain resolution (dy):           0.1

#The following options list the choice of parameter maps to be used
LIS domain and parameter data file: ./lis_input.d01.nc
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Max snow albedo data source:     "none"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

#--------------------------------FORCINGS----------------------------------
PRINCETON forcing directory:  ./input/MET_FORCING/PRINCETON/V3/
PRINCETON forcing version: "3"

#-----------------------LAND SURFACE MODELS--------------------------
Template open water timestep:             "1da"

TEMPLATE model timestep:                  "3hr"
Noah.3.3 model timestep:                  "30mn"
Noah.3.3 restart output interval:         "1mo"   # Options can include: "1da", "1mo", etc.
#Noah.3.3 restart file:                    ./Noah33/LIS_RST_NOAH33_200207312330.d01_EA.nc 
Noah.3.3 vegetation parameter table:      ./input/noah_inputs/VEGPARM.TBL
Noah.3.3 soil parameter table:            ./input/noah_inputs/SOILPARM.TBL
Noah.3.3 general parameter table:         ./input/noah_inputs/GENPARM.TBL
Noah.3.3 use PTF for mapping soil properties: 0
Noah.3.3 soils scheme:                    2
Noah.3.3 number of soil layers:           4
Noah.3.3 layer thicknesses:               0.1  0.3  0.6  1.0
Noah.3.3 initial skin temperature:        288.0 
Noah.3.3 initial soil temperatures:       288.0  288.0  288.0  288.0  
Noah.3.3 initial total soil moistures:    0.080 0.080 0.080 0.080
Noah.3.3 initial liquid soil moistures:   0.080 0.080 0.080 0.080
Noah.3.3 initial canopy water:            0.0                              
Noah.3.3 initial snow depth:              0.0                              
Noah.3.3 initial snow equivalent:         0.0                              
Noah.3.3 fixed max snow albedo:           0.0                              
Noah.3.3 fixed deep soil temperature:     0.0                              
Noah.3.3 fixed vegetation type:           0                                
Noah.3.3 fixed soil type:                 0                                
Noah.3.3 fixed slope type:                0 
Noah.3.3 sfcdif option:                   1
Noah.3.3 z0 veg-type dependence option:   0
Noah.3.3 greenness fraction:     0.01  0.02  0.07  0.17  0.27  0.58  0.93  0.96  0.65  0.24  0.11  0.02
Noah.3.3 background albedo:      0.18  0.17  0.16  0.15  0.15  0.15  0.15  0.16  0.16  0.17  0.17  0.18
Noah.3.3 background roughness length:  0.020 0.020 0.025 0.030 0.035 0.036 0.035 0.030 0.027 0.025 0.020 0.020
Noah.3.3 reference height for forcing T and q:   2.0
Noah.3.3 reference height for forcing u and v:   10.0


#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Model output attributes file: ./MODEL_OUTPUT_LIST.TBL 

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Output GRIB Table Version:  128
Output GRIB Center Id:      57
Output GRIB Subcenter Id:   2
Output GRIB Process Id:     88
Output GRIB Grid Id:        255

