LDT running mode:                      "LSM parameter processing"
Processed LSM parameter filename:      lis_input.d01.nc
LIS number of nests:                    1       # 1 nest supported for now
Number of surface model types:          1
Surface model types:                    "LSM"
Land surface model:                     "Noah33"    # Enter LSM(s) of choice
Lake model:                             none     # Lake model option: 'none' | 'lakemodel'
Number of met forcing sources:          1           # Enter number of forcing types
Met forcing sources:                  "NLDAS2"       # Enter 'none' if no forcing selected
Met spatial transform methods:        "neighbor" #bilinear
Topographic correction method (met forcing):   "none" #"slope-aspect" #"lapse-rate"
Include water points:                 .false.   # Include water points
Water fraction cutoff value:           0.5
Incorporate crop information:       .false.

LDT diagnostic file:                 ldtlog
Number of ensembles per tile:        1
Undefined value:                     -9999.0
LDT output directory:            OUTPUT

#processor layout
Number of processors along x:             2
Number of processors along y:             2

#LDT/LIS domain and grid:
Map projection of the LIS domain:         latlon
Run domain lower left lat:                  35.025 #   
Run domain lower left lon:                -112.475 
Run domain upper right lat:                 43.975 #  
Run domain upper right lon:               -105.525 #  
Run domain resolution (dx):                  0.05
Run domain resolution (dy):                  0.05

#Land cover maps
Landcover data source: AVHRR
Landcover classification:       "UMD"     # Enter land cover classification type
Landcover file:                 ./input/landcover_UMD.1gd4r
Landcover spatial transform:     tile
Landcover fill option:    none    # none, neighbor
Landcover map projection:        latlon
Landcover lower left lat:      -59.975
Landcover lower left lon:      -179.975
Landcover upper right lat:     89.975
Landcover upper right lon:     179.975
Landcover resolution (dx):        0.05
Landcover resolution (dy):        0.05

#------------------------
#Land mask file and options:
Create or readin landmask:     "create"
Landmask data source: AVHRR
Landmask file:                 ./input/landmask_UMD.1gd4r
Landmask map projection:        latlon
Landmask lower left lat:      -59.975
Landmask lower left lon:      -179.975
Landmask upper right lat:     89.975
Landmask upper right lon:     179.975
Landmask resolution (dx):        0.05
Landmask resolution (dy):        0.05

#Topography maps
Elevation map:               ./input/elev_GTOPO30.1gd4r
Elevation fill option:          none               
Elevation number of bands:        1
Topography spatial transform:     none 
Topography map projection:       latlon   
Topography lower left lat:       -59.975
Topography lower left lon:      -179.975
Topography upper right lat:       89.975
Topography upper right lon:      179.975
Topography resolution (dx):        0.05
Topography resolution (dy):        0.05

Soil texture data source: STATSGOFAO_LIS
#Soil texture map:
Soil texture map:           ./input/soiltexture_STATSGO-FAO.1gd4r 
Soil texture spatial transform:    none
Soil texture fill option:       none
Soil texture map projection:     latlon
Soil texture lower left lat:       -59.975
Soil texture lower left lon:      -179.975
Soil texture upper right lat:       89.975
Soil texture upper right lon:      179.975
Soil texture resolution (dx):        0.05
Soil texture resolution (dy):        0.05

# Slope type:
Slope type data source: NCEP_LIS
Slope type map:               ./input/slopetype_NCEP.1gd4r
Slope type spatial transform:    none
Slope type fill option:        none
Slope type map projection:     latlon
Slope type lower left lat:    -59.975
Slope type lower left lon:    -179.975
Slope type upper right lat:    89.975
Slope type upper right lon:   179.975
Slope type resolution (dx):     0.05
Slope type resolution (dy):     0.05

#Soil fraction maps:
Sand fraction map:        ./input/sand_FAO.1gd4r
Clay fraction map:        ./input/clay_FAO.1gd4r
Silt fraction map:        ./input/silt_FAO.1gd4r
Soils spatial transform:       none   #Note: do not use mode with soil fractions
Soils fill option:             none
Soils map projection:          latlon  
# FAO:
Soils lower left lat:         -59.975
Soils lower left lon:        -179.975
Soils upper right lat:         89.975
Soils upper right lon:        179.975
Soils resolution (dx):          0.05
Soils resolution (dy):          0.05

Albedo data source: NCEP_LIS
#Albedo maps
Albedo map:                 ./input/albedo_NCEP 
Albedo climatology interval:      monthly   #in months
Albedo spatial transform:       none
Albedo fill option:              none
Albedo map projection:          latlon   
Albedo lower left lat:         -59.975
Albedo lower left lon:        -179.975
Albedo upper right lat:        89.975
Albedo upper right lon:        179.975
Albedo resolution (dx):          0.05
Albedo resolution (dy):          0.05


Max snow albedo data source: NCEP_LIS
Max snow albedo map:      ./input/mxsnoalb_MODIS.1gd4r
Max snow albedo spatial transform:     none 
Max snow albedo fill option:            none
Max snow albedo map projection:        latlon
Max snow albedo lower left lat:      -59.975
Max snow albedo lower left lon:     -179.975
Max snow albedo upper right lat:      89.975
Max snow albedo upper right lon:     179.975
Max snow albedo resolution (dx):       0.05
Max snow albedo resolution (dy):       0.05

Greenness data source: NCEP_LIS
Greenness fraction map:         ./input/gvf_NCEP
Greenness climatology interval:   monthly
Calculate min-max greenness fraction:  .false.
Greenness maximum map:         ./input/gvf_NCEP.MAX.1gd4r
Greenness minimum map:         ./input/gvf_NCEP.MIN.1gd4r
Greenness map projection:       latlon
Greenness spatial transform:    none
Greenness fill option:          none
Greenness lower left lat:       -59.97500
Greenness lower left lon:      -179.97500
Greenness upper right lat:       89.97500
Greenness upper right lon:      179.97500
Greenness resolution (dx):        0.0500
Greenness resolution (dy):        0.0500

#Noah LSM parameter maps:
Bottom temperature data source: NCEP_LIS
#Bottom temperature map:              ./input/tbot_GDAS_6YR_CLIM.1gd4r
Bottom temperature map:              ./input/tbot_NCEP.1gd4r
Bottom temperature spatial transform:  average
Bottom temperature fill option:   none
Bottom temperature topographic downscaling:    none
Bottom temperature map projection:     latlon     
Bottom temperature lower left lat:     -59.975
Bottom temperature lower left lon:    -179.975
Bottom temperature upper right lat:     89.975
Bottom temperature upper right lon:    179.975
Bottom temperature resolution (dx):      0.05
Bottom temperature resolution (dy):      0.05

NLDAS2 elevation difference map:    ./input/NARR_elev-diff.1gd4r
NARR terrain height map:            ./input/NARR_elevation.1gd4r

Elevation data source: GTOPO30_LIS
