#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          1hr
Land surface model:                     none
Open water model:                       none
Number of met forcing sources:          1
Blending method for forcings:           overlay
Met forcing sources:                    "GEOS-ITbias"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "lapse-rate"
Enable spatial downscaling of precipitation:  0
Spatial upscaling method (met forcing):       none
Spatial interpolation method (met forcing):   bilinear 
Temporal interpolation method (met forcing):  "linear"

#Runtime options
Forcing variables list file:            ./input/forcing_variables.txt
Output methodology:                     "2d gridspace" # "none" for spinup, "2d gridspace" for model runs
Output model restart files:             0
Output data format:                     netcdf #netcdf #binary
Output naming style:                    "3 level hierarchy"
Enable output statistics:               .false.
Start mode:                             coldstart
Starting year:                          2023
Starting month:                         12
Starting day:                           31
Starting hour:                          00 
Starting minute:                        00 
Starting second:                        00
Ending year:                            2023 
Ending month:                           12 
Ending day:                             31
Ending hour:                            06
Ending minute:                          00
Ending second:                          00
Undefined value:                       -9999
Output directory:                       'OUTPUT'
Diagnostic output file:                 lislog
Number of ensembles per tile:           1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:        1
Number of processors along y:        1
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Radiative transfer model:               none
Number of application models:           0

#HYMAP router
Routing model:                           "none"

#---------------------DATA ASSIMILATION ----------------------------------
#Data assimilation options

Number of data assimilation instances:               0
Data assimilation algorithm:                         none
Data assimilation set:                               none

Apply perturbation bias correction:        0
Bias estimation algorithm:                "none"  "none"
Bias estimation attributes file:          "none"  "none"
Data assimilation number of observation types:       1
Data assimilation output ensemble spread:            0
Data assimilation scaling strategy:                  "none"
Data assimilation output processed observations:     1
Data assimilation output innovations:                0
Data assimilation use a trained forward model: 0
Data assimilation trained forward model output file: none

#Perturbation options
Perturbations start mode:                  coldstart
Perturbations restart output interval:     1mo
Perturbations restart filename:            none
Forcing perturbation algorithm:            none
Forcing perturbation frequency:            1hr
Forcing attributes file:                   none
Forcing perturbation attributes file:      none
State perturbation algorithm:              none
State perturbation frequency:              3hr
State attributes file:                     none
State perturbation attributes file:        none
Observation perturbation algorithm:        none
Observation perturbation frequency:        6hr
Observation attributes file:               none
Observation perturbation attributes file:  none

#------------------------DOMAIN SPECIFICATION--------------------------
#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:     ./lis_input_testcase.d01.nc
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               LDT
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  LDT
Slope data source:                      LDT
Aspect data source:                     LDT
Curvature data source:                  none
LAI data source:                        none
SAI data source:                        none
Albedo data source:                     none
Max snow albedo data source:            none
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

TBOT lag skin temperature update option:  0
TBOT skin temperature lag days:           

#--------------------------------FORCINGS----------------------------------
GEOS-ITbias forcing directory:       ./input/GEOSITBIAS/
GEOS-ITbias dynamic lapse rate filename prefix: /GEOS-ITbias.lapse_rate.hourly.
GEOS-ITbias dynamic lapse rate filename suffix: .nldas3.nc
GEOS-ITbias apply dynamic lapse rates:          1
GEOS-ITbias dynamic lapse rate data directory:  ./input/dynlapserates_geositbias/
GEOS-ITbias apply double-sided dynamic lapse rate cutoff:  1

#------------------------------IRRIGATION-------------------------
Irrigation scheme:            "none"

#-----------------------LAND SURFACE MODELS--------------------------
Template open water timestep:                1hr
TEMPLATE model timestep:                     1hr

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:
Time Average option:  1
Number of dimensions in the lat/lon output fields:  "1D"
Model output attributes file:           ./MODEL_OUTPUT_LIST.TBL
