
# == LDT Main Entry Options ==
#Overall driver options
LDT running mode:                  "LSM parameter processing"
Processed LSM parameter filename:  ./lis_input.d01.nc
LIS number of nests:                   1         # 1 nest supported for now
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                "Noah-MP.3.6"      # Enter LSM of choice
Routing model:                       none
Lake model:                          none      # Lake model option: 'none'|'FLake'
#Include water points:               .false.      # Include water points
Water fraction cutoff value:          0.5
Incorporate crop information:       .false.
Number of met forcing sources:         0        # Enter number of forcing types
Met forcing sources:                 none     # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none" 
LDT diagnostic file:                ldtlog
Mask-parameter fill diagnostic file: maskParamFill.log
LDT output directory:               OUTPUT
Undefined value:                    -9999.0

#Processor layout
#Number of processors along x:         1
#Number of processors along y:         1

#LDT/LIS domain and grid: (See LDT User's Guide for other projection information)
#LIS domain
Map projection of the LIS domain:   latlon
Run domain lower left lat:          25.5
Run domain lower left lon:        -124.5
Run domain upper right lat:         52.5
Run domain upper right lon:        -67.5
Run domain resolution (dx):          1.0
Run domain resolution (dy):          1.0

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs #
Landcover data source:          "MODIS_Native"
Landcover classification:       "IGBPNCEP"
Landcover file:              ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:     mode # neighbor
Landcover fill option:           neighbor
Landcover fill radius:           3
Landcover fill value:            5
Landcover map projection:       latlon
Landcover lower left lat:      -59.995
Landcover lower left lon:     -179.995
Landcover upper right lat:      89.995
Landcover upper right lon:     179.995
Landcover resolution (dx):       0.01
Landcover resolution (dy):       0.01

#Land mask file and options:
Create or readin landmask:    "create"
Landmask data source:           "MODIS_Native"
Landmask file:        "none" 

#Soil texture map:
Soil texture data source:       "STATSGOFAO_Native"
Soil texture map:       ./input/LS_PARAMETERS/noah_2dparms/topsoil30snew
Soil texture spatial transform:   mode
Soil texture fill option:         neighbor
Soil texture fill radius:         5
Soil texture fill value:          4
Soil texture map projection:     latlon
Soil texture lower left lat:    -59.9950
Soil texture lower left lon:   -179.9950
Soil texture upper right lat:    89.9950
Soil texture upper right lon:   179.9950
Soil texture resolution (dx):     0.01
Soil texture resolution (dy):     0.01

#Soil parameter inputs
Soils map projection:          latlon
Soils spatial transform:       none   # Note: do not use mode with soil fractions
Soils fill option:             none

#Topography maps
Elevation data source:         "GTOPO30_Native"
Elevation map:       ./input/LS_PARAMETERS/topo_parms/GTOPO30/raw_updated/ 
Elevation fill option:            neighbor
Elevation fill radius:            5
Elevation fill value:             100
Elevation number of bands:        1
Topography spatial transform:     average
Topography map projection:       latlon
Topography lower left lat:      -59.995
Topography lower left lon:     -179.995
Topography upper right lat:      89.995
Topography upper right lon:     179.995
Topography resolution (dx):       0.01
Topography resolution (dy):       0.01

# Slope type:
Slope type data source:         "NCEP_Native"
Slope type map:          ./input/LS_PARAMETERS/noah_2dparms/islope
Slope type spatial transform:   neighbor
Slope type fill option:         neighbor        # none, neighbor, average
Slope type fill radius:         5
Slope type fill value:          2
Slope type map projection:     latlon
Slope type lower left lat:    -59.99500
Slope type lower left lon:    -179.9950
Slope type upper right lat:    89.99500
Slope type upper right lon:   179.99500
Slope type resolution (dx):     0.0100
Slope type resolution (dy):     0.0100

# Bottom temperature:
Bottom temperature data source:   "ISLSCP1"
Bottom temperature map:          ./input/LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:    budget-bilinear
Bottom temperature topographic downscaling:  "lapse-rate"  # none | lapse-rate
Bottom temperature fill option:      average       # none, neighbor, average
Bottom temperature fill value:       287.0       # Static value to fill where missing
Bottom temperature fill radius:       15.        # Number of pixels to search for neighbor
Bottom temperature map projection:      latlon
Bottom temperature lower left lat:     -59.9950
Bottom temperature lower left lon:    -179.9950
Bottom temperature upper right lat:     89.9950
Bottom temperature upper right lon:    179.9950
Bottom temperature resolution (dx):      0.010
Bottom temperature resolution (dy):      0.010

#Albedo maps
Albedo data source:             "NCEP_Native"
Albedo map:                 ./input/LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:    monthly
Albedo spatial transform:       average #budget-bilinear
Albedo fill option:             neighbor       # none, neighbor, average
Albedo fill radius:             5
Albedo fill value:              0.1
Albedo map projection:          latlon
Albedo lower left lat:         -59.99500
Albedo lower left lon:        -179.99500
Albedo upper right lat:         89.99500
Albedo upper right lon:        179.99500
Albedo resolution (dx):          0.0100
Albedo resolution (dy):          0.0100

# Snow albedo maps
Max snow albedo data source:    "NCEP_Native"
Max snow albedo map:        ./input/LS_PARAMETERS/noah_2dparms/maxsnoalb.asc
Max snow albedo spatial transform:     average # budget-bilinear
Max snow albedo fill option:           neighbor        # none, neighbor, average
Max snow albedo fill radius:          5
Max snow albedo fill value:           0.3
Max snow albedo map projection:        latlon
Max snow albedo lower left lat:      -59.99500
Max snow albedo lower left lon:     -179.99500
Max snow albedo upper right lat:      89.99500
Max snow albedo upper right lon:     179.99500
Max snow albedo resolution (dx):       0.0100
Max snow albedo resolution (dy):       0.0100

# Greenness maps
Greenness data source:          "NCEP_Native"
Greenness fraction map:        ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:    monthly
Greenness maximum map:         ./input/LS_PARAMETERS/noah_2dparms/gfrac_max.asc
Greenness maximum fill value:     1.0
Greenness minimum map:         ./input/LS_PARAMETERS/noah_2dparms/gfrac_min.asc
Greenness minimum fill value:     0.0
Greenness spatial transform:       average #budget-bilinear
Greenness fill option:             neighbor
Greenness fill radius:             5
Greenness fill value:              0.20
Greenness map projection:         latlon
Greenness lower left lat:       -59.9950
Greenness lower left lon:      -179.9950
Greenness upper right lat:       89.9950
Greenness upper right lon:      179.9950
Greenness resolution (dx):        0.010
Greenness resolution (dy):        0.010
Calculate min-max greenness fraction: .false.

#Noah-MP LSM inputs
Noah-MP PBL Height Value:               900.

# =======================================================
# Forcing based parameter inputs

NARR terrain height map:          ./input/LS_PARAMETERS/NLDAS_0.125/NARR_elevation.1gd4r
NLDAS2 elevation difference map:  ./input/LS_PARAMETERS/NLDAS_0.125/NARR_elev-diff.1gd4r

#----- Datasets needed for irrigation -----#
# Crop information (used also in conjuction with irrigation modeling)
Incorporate crop information:  .false. 
