
Processed LSM parameter filename:   ./lvt_input.d01.nc
Landcover data source:              "UMD"     # UMD; USGS; MODIS

#------------------------
#LVT/LIS domain and grid:
Map projection of the LIS domain:    latlon   # latlon, lambert, polar
run domain lower left lat:           25.155
run domain lower left lon:         -124.875
run domain upper right lat:          52.875
run domain upper right lon:         -67.125
run domain resolution (dx):           0.25
run domain resolution (dy):           0.25

#------------------------
#Land mask and land cover parameter options:
landmask file:             ./input/25KM/landmask_UMD.1gd4r
landcover file:            ./input/25KM/landcover_UMD.1gd4r
landcover file format:           1
landcover map projection:        latlon
landcover lower left lat:       -59.875
landcover lower left lon:      -179.875
landcover upper right lat:       89.875
landcover upper right lon:      179.875
landcover resolution (dx):        0.25
landcover resolution (dy):        0.25

#------------------------
