
# == LDT Main Entry Options == 

LDT running mode:             "LSM parameter processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc   # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "none"             # Enter LSM(s) of choice
Lake model:                          "none"             # Enter Lake model(s) of choice
Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters

Number of met forcing sources:        2                 # Enter number of forcing types
Met forcing sources:             "GDAS" "NLDAS2"        # Enter 'none' if no forcing selected
Met spatial transform methods:    bilinear  neighbor    # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing): "lapse-rate" "lapse-rate"  # none | lapse-rate

LDT diagnostic file:                ldtlog              # Log-based diagnostic output file
LDT output directory:               OUTPUT              # If metrics or stats are written out
Undefined value:                   -9999.0              # Universal undefined value
Number of ensembles per tile:         1                 # The number of ensemble members per tile

# Processor layout: 
Number of processors along x:      1
Number of processors along y:      1 

# LIS domain:  (See LDT User's Guide for other projection information)
Map projection of the LIS domain:    latlon 
Run domain lower left lat:          25.0625
Run domain lower left lon:        -124.9375
Run domain upper right lat:         52.9375
Run domain upper right lon:        -67.0625
Run domain resolution (dx):          0.125
Run domain resolution (dy):          0.125

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs 
Landcover data source:         "CONSTANT" 
Landcover classification:      "UMD"                  # Enter land cover classification type
Landcover file:                 none                  # Landcover map path
Landcover spatial transform:    tile                  # none | mode | neighbor | tile
Landcover fill option:          none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:       latlon

# Create landmask field from readin landcover map or read in separate landmask file
Landmask data source:         "CONSTANT" 
Create or readin landmask:    "create"                # create | readin
Landmask file:                  none                  # Land mask file (if needed to be read-in)
Landmask spatial transform:     none                  # none | mode | neighbor
Landmask map projection:       latlon

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

# Forcing-Climatological Downscaling
PPT climatology data source:       PRISM
PPT climatology maps:         ./input/PRISM/1KM/ppt_1981_2010
PPT climatology interval:          monthly
Climate params spatial transform:  average

# Forcing Based Parameter Inputs:
NLDAS2 elevation difference map: ./input/NLDAS_0.125/NARR_elev-diff.1gd4r
NARR terrain height map:         ./input/NLDAS_0.125/NARR_elevation.1gd4r

GDAS T126 elevation map:        ./input/GDAS/global_orography.t126.grb
GDAS T170 elevation map:        ./input/GDAS/global_orography.t170.grb
GDAS T254 elevation map:        ./input/GDAS/global_orography.t254.grb
GDAS T382 elevation map:        ./input/GDAS/global_orography.t382.grb
GDAS T574 elevation map:        ./input/GDAS/global_orography.t574.grb
GDAS T1534 elevation map:       ./input/GDAS/global_orography_uf.t1534.3072.1536.grb

# NLDAS-GTOPO30 elevation:
Elevation data source:         "GTOPO30_LIS"
Elevation number of bands:          1           # Number of bins or bands of elevation
Elevation map:                ./input/NLDAS_0.125/NLDAS_elevation.1gd4r
Elevation fill option:             none
Topography spatial transform:      none
Topography map projection:        latlon
Topography lower left lat:        25.0625
Topography lower left lon:      -124.9375
Topography upper right lat:       52.9375
Topography upper right lon:      -67.0625
Topography resolution (dx):        0.125
Topography resolution (dy):        0.125

# =======================================================
