max_stations:        10000
max_sat_reports:   1750000
max_vario_bins:     51
vario_bin_dist:     10
datadir: "./precip_OBA"
sattype: IMERG
use_blacklist: true
blacklist_file: blacklist_gage.txt

imax_lon: 360
jmax_lat: 180
dlon: 1.0
dlat: 1.0
dist_thresh: 25000.

startyear:    2020
startmonth:     02
startday:       02
starthour:      12

endyear:    2020
endmonth:     03
endday:       07
endhour:      00

intervalyear:       0
intervalmonth:      0
intervalday:        0
intervalhour:       6

outfile: semivariogram_gage_imerg_sat.out
