max_stations:      6000
max_vario_bins:     51
vario_bin_dist:     10
datadir: "./precip_OBA"
obtype: Gage
use_blacklist: true
blacklist_file: blacklist_precip.txt

startyear:    2020
startmonth:     02
startday:       02
starthour:      12

endyear:    2020
endmonth:     03
endday:       07
endhour:      00

intervalyear:       0
intervalmonth:      0
intervalday:        0
intervalhour:       6

outfile: semivariogram_gage_nwp.out
