#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          3hr
Land surface model:                     "RUC.3.7"
Number of met forcing sources:          1
Blending method for forcings:           overlay
Met forcing sources:                    "NLDAS2"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   neighbor
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  linear

#Runtime options
Forcing variables list file:            ./input/forcing_variables.txt
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     netcdf
Output naming style:                    "3 level hierarchy"
Start mode:                             coldstart
Starting year:                          2010
Starting month:                            6
Starting day:                              1
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                            2010
Ending month:                              6
Ending day:                                2
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                       -9999
Output directory:                       "OUTPUT"
Diagnostic output file:                 "lislog"
Number of ensembles per tile:           1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:           2
Number of processors along y:           2
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Routing model:                          none
Radiative transfer model:               none
Number of application models:           0

#HYMAP router
HYMAP routing model time step:                 15mn
HYMAP routing model output interval:           1da
HYMAP routing model restart interval:          1mo
HYMAP run in ensemble mode:                    0
# method:                enter 1 - kinematic; 2 - diffusive
# linear reservoir flag: enter 1 - use; or 2 - do not use linear reservoirs
# evaporation option:    enter 1 - compute; or 2 - do not compute evapotation in floodplains
HYMAP routing method:                          kinematic
HYMAP routing model linear reservoir flag:     1
HYMAP routing model evaporation option:        2
HYMAP routing model restart file:              none
HYMAP routing model start mode:                coldstart
HYMAP routing LIS output directory:            HYMAPTEST

#---------------------DATA ASSIMILATION ----------------------------------
#Data assimilation options
Number of data assimilation instances:  0
Data assimilation algorithm:            none
Data assimilation set:                  none
Data assimilation exclude analysis increments:      0
Data assimilation number of observation types:      1
Data assimilation output interval for diagnostics:  1da
Data assimilation output ensemble members:          0
Data assimilation output processed observations:    0
Data assimilation output innovations:               0

Data assimilation use a trained forward model:       0
Data assimilation trained forward model output file: none

#Bias estimation options
Bias estimation algorithm:                 none
Bias estimation attributes file:           none
Bias estimation restart output frequency:  1da
Bias estimation start mode:                none
Bias estimation restart file:              none

#Perturbation options
Perturbations start mode:                  coldstart
Perturbations restart output interval:     1mo
Perturbations restart filename:            none
Forcing perturbation algorithm:            none
Forcing perturbation frequency:            1hr
Forcing attributes file:                   none
Forcing perturbation attributes file:      none
State perturbation algorithm:              none
State perturbation frequency:              3hr
State attributes file:                     none
State perturbation attributes file:        none
Observation perturbation algorithm:        none
Observation perturbation frequency:        6hr
Observation attributes file:               none
Observation perturbation attributes file:  none

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude
Run domain lower left lat:                25.0625
Run domain lower left lon:              -124.9375
Run domain upper right lat:               52.9375
Run domain upper right lon:              -67.0625
Run domain resolution (dx):                0.125
Run domain resolution (dy):                0.125

#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:                ./lis_input.d01.nc
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               LDT
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  none
Slope data source:                      none
Aspect data source:                     none
Curvature data source:                  none
LAI data source:                        LDT
SAI data source:                        none
Albedo data source:                     LDT
Max snow albedo data source:            LDT
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

#--------------------------------FORCINGS----------------------------------
#NLDAS2 (suppforcing option =5)
#NLDAS2 forcing directory:               ./input/MET_FORCING/NLDAS2
#NLDAS2 data center source:              "GES-DISC"
NLDAS2 forcing directory:               ./input/MET_FORCING/NLDAS2.FORCING
NLDAS2 data center source:              "NCEP"
NLDAS2 domain x-dimension size:         464
NLDAS2 domain y-dimension size:         224
NLDAS2 use model level data:            0
NLDAS2 use model based swdown:          0
NLDAS2 use model based precip:          0
NLDAS2 use model based pressure:        0

#-----------------------LAND SURFACE MODELS--------------------------
RUC37 model timestep:                  15mn
RUC37 restart output interval:         1mo
RUC37 restart file:                    none
RUC37 number of soil levels:           9
RUC37 soil level depth:                0. 0.01 0.04 0.1 0.3 0.6 1.0 1.6 3.0
RUC37 initial tskin:                   288.0
RUC37 initial stc:     288.0  288.0  288.0  288.0 288.0  288.0  288.0  288.0 288.0
RUC37 initial smc:     0.20   0.20   0.20   0.20  0.20   0.20   0.20   0.20  0.20
RUC37 initial sho:     0.20   0.20   0.20   0.20  0.20   0.20   0.20   0.20  0.20
RUC37 initial smfr:    0. 0. 0. 0. 0. 0. 0. 0. 0.
RUC37 initial keepfr:  0. 0. 0. 0. 0. 0. 0. 0. 0.
RUC37 initial canwat:                  0.0
RUC37 initial snowh:                   0.0
RUC37 initial sneqv:                   0.0
RUC37 initial qvg:                     0.001
RUC37 initial qsfc:                    0.001
RUC37 initial qcg:                     0.0
RUC37 initial qsg:                     0.0
RUC37 initial snt75cm:                 273.
RUC37 initial tsnav:                   273.
RUC37 initial soilm:                  -9.9999996e+35
RUC37 initial smroot:                 -9.9999996e+35
RUC37 use local parameters:           .false.
RUC37 use 2D LAI map:                 .true.
RUC37 use monthly albedo map:         .true.
RUC37 option_iz0tlnd:                  0
RUC37 option_sfcdif:                   1
RUC37 landuse_tbl_name:                "./input/ruc37/VEGPARM.TBL"
RUC37 soil_tbl_name:                   "./input/ruc37/SOILPARM.TBL"
RUC37 gen_tbl_name:                    "./input/ruc37/GENPARM.TBL"
RUC37 landuse_scheme_name:             "MODI-RUC"
RUC37 soil_scheme_name:                "STAS-RUC"
RUC37 water_class_num:                 17
RUC37 ice_class_num:                   15
RUC37 urban_class_num:                 13
RUC37 zlvl:                            2
RUC37 zlvl_wind:                       10
RUC37 initial emiss:                   0.98
RUC37 initial ch:                      0.0001
RUC37 initial cm:                      0.0001
RUC37 initial sneqv:                   0.
RUC37 initial snowh:                   0.
RUC37 initial canwat:                  0.
RUC37 initial alb:                     0.18


#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:           './MODEL_OUTPUT_LIST.TBL'

