---

#######################################################################
#    System Settings and Architecture Specific Environment Variables
#######################################################################

SETUP:
  LISFDIR: /discover/nobackup/projects/usaf_lis/smahanam/LISF_final_exec/
  E2ESDIR: /discover/nobackup/projects/usaf_lis/smahanam/E2ES/
  METFORC: /discover/nobackup/projects/usaf_lis/MET_FORCING/
  AF10KM:  /discover/nobackup/projects/usaf_lis/MET_FORCING/usaf_lis73rc8_10km/
  LISFMOD: lisf_7_intel_2021.4.0_s2s
  SPCODE:  s1189
  DATATYPE: forecast
   
#######################################################################
#                       Experiment Configuration
#######################################################################

EXP:
  domain: AFRICOM
  lsmdir: NOAHMP
  lsm:    noahmp401
  routing_name: hymap2
  pertmode: coldstart
  lead_months: 9
  NMME_ALL: [CCM4, CCSM4, CFSv2, GEOSv2, GFDL, GNEMO5]
  NMME_models: [CCM4, CCSM4, CFSv2, GEOSv2, GFDL, GNEMO5]
  ensemble_sizes:
  - CCM4: 10
    CCSM4: 10
    GNEMO5: 10
    GEOSv2: 10
    CFSv2: 24
    GFDL: 15
  NMME_scalings:
  - CCM4: downscale
    CCSM4: downscale
    GNEMO5: downscale
    GEOSv2: downscale
    CFSv2: upscale
    GFDL: upscale
  domain_extent:
  - LAT_SW: -40
    LAT_NE:  40
    LON_SW: -20
    LON_NE:  60
  domain_dx: 0.25
  domain_dy: 0.25
  # must be consistent with 'Run domain' in ldt_ics/template_files/ldt.config_{MODEL}_{EXP}_TEMPLATE

#######################################################################
#              Bias Correction and Spatial Downscaling (BCSD)
#######################################################################

BCSD:
  cfsv2datadir: /discover/nobackup/projects/usaf_lis/smahanam/E2ES_upd/CFSv2_download/
  fcst_download_dir: /discover/nobackup/projects/lis/MET_FORCING/CFSv2/
  nmme_download_dir: /discover/nobackup/projects/usaf_lis/GHI_S2S/AFRICOM/E2ES/NRT/bcsd_fcst/input/data/forecast/NMME/raw/download/
  patchdir: /discover/nobackup/projects/usaf_lis/razamora/GHI_S2S/AFRICOM/data/CFSv2_25km/patch_files/
  CFSv2_25km_raw_clim: /discover/nobackup/projects/usaf_lis/razamora/GHI_S2S/AFRICOM/data/CFSv2_25km/raw/Climatology/
  nmme_raw_clim: /discover/nobackup/projects/usaf_lis/razamora/GHI_S2S/AFRICOM/data/forecast/NMME/raw/Climatology/
  AF25KM: /discover/nobackup/projects/usaf_lis/razamora/GHI_S2S/AFRICOM/data/forecast/USAF-LIS7.3rc8_25km/
  clim_start_year: 2008
  clim_end_year: 2020
  nof_raw_ens: 12
  fcst_data_type: CFSv2
  nmme_data_type: nmme

#######################################################################
#                            LIS Forecast
#######################################################################

FCST:
  ldtinputfile: ./input/LDT_Params/lis_input.s2s_africom.noahmp401_hymap2.merit.25km.nc
  ldt_params: /discover/nobackup/projects/lis_aist17/karsenau/GHI_S2S/AFRICOM/LDT_Params/
  numprocx: 1
  numprocy: 28
  JOB_SEGMENTS:
  - CCM4: 1
    CCSM4: 1
    GNEMO5: 1
    GEOSv2: 1
    CFSv2: 2
    GFDL: 2 
  
#######################################################################
#                          Post-processor
#######################################################################

POST:
  var_acc_list: [Qs_acc, Qsb_acc, TotalPrecip_acc]
  var_tavg_land_list: [Qle_tavg, Qh_tavg, Qg_tavg, Evap_tavg, AvgSurfT_tavg, Albedo_tavg, SoilMoist_tavg, SoilTemp_tavg,
                       Streamflow_tavg, FloodedFrac_tavg, SurfElev_tavg, SWS_tavg, RiverStor_tavg, RiverDepth_tavg,
                       RiverFlowVelocity_tavg, FloodStor_tavg, FloodedArea_tavg]
  var_tavg_f_list: [Wind_f_tavg, Tair_f_tavg, Qair_f_tavg, Psurf_f_tavg, SWdown_f_tavg, LWdown_f_tavg]
  var_tavg_twsgws_list: [TWS_inst, GWS_inst]
  var_tair_max_list: [Tair_f_max]
  var_tair_min_list: [Tair_f_min]
  var_inst_list: [AvgSurfT_inst, SWE_inst, SnowDepth_inst, SoilMoist_inst, SoilTemp_inst, SmLiqFrac_inst, CanopInt_inst, Snowcover_inst,
                  Wind_f_inst, Tair_f_inst, Qair_f_inst, Psurf_f_inst, SWdown_f_inst, LWdown_f_inst, Greenness_inst, RelSMC_inst]
  const_list: [lat, lon, ensemble, soil_layer, soil_layer_thickness, Landmask_inst, LANDMASK, Landcover_inst, Soiltype_inst, Elevation_inst]
  metric_vars: [RootZone-SM, Surface-SM, TWS, Precip, Air_T, ET, Streamflow]
  hindcasts: /discover/nobackup/projects/usaf_lis/GHI_S2S/AFRICOM/hindcasts_9yrclim/

#######################################################################
#                          Plotting
#######################################################################

PLOTS:
   mask_file100: /discover/nobackup/projects/usaf_lis/smahanam/s2splots/composite_streamflow_mask.nc
