#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          3hr
Land surface model:                     "CLSM F2.5"
Number of met forcing sources:          1
Blending method for forcings:           overlay
Met forcing sources:                    "GDAS"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "lapse-rate"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   bilinear
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  linear

#Runtime options
Forcing variables list file:            ./input/forcing_variables.txt
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     binary
Output naming style:                    "3 level hierarchy"
Start mode:                             coldstart
Starting year:                          2002
Starting month:                           10
Starting day:                             29
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                            2002
Ending month:                             10
Ending day:                               31
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Undefined value:                        -9999
Output directory:                       "OUTPUT"
Diagnostic output file:                 "lislog"
Number of ensembles per tile:           1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:           2
Number of processors along y:           2
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Routing model:                          none
Radiative transfer model:               none
Number of application models:           0

#Data Assimilation Options
Number of data assimilation instances:  0
Data assimilation algorithm:            none
Data assimilation set:                  none
Data assimilation exclude analysis increments:      0
Data assimilation output interval for diagnostics:  1da
Data assimilation number of observation types:      0
Data assimilation output ensemble members:          0
Data assimilation output processed observations:    0
Data assimilation output innovations:               0

#Bias estimation options
Bias estimation algorithm:                 none
Bias estimation attributes file:           none
Bias estimation restart output frequency:  1da
Bias estimation start mode:                none
Bias estimation restart file:              none

#Perturbation options
Perturbations start mode:                  coldstart
Perturbations restart output interval:     1da
Perturbations restart filename:            none
Forcing perturbation algorithm:            none
Forcing perturbation frequency:            1hr
Forcing attributes file:                   none
Forcing perturbation attributes file:      none
State perturbation algorithm:              none
State perturbation frequency:              1hr
State attributes file:                     none
State perturbation attributes file:        none
Observation perturbation algorithm:        none
Observation perturbation frequency:        1hr
Observation attributes file:               none
Observation perturbation attributes file:  none

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude
Run domain lower left lat:                25.875
Run domain lower left lon:              -124.875
Run domain upper right lat:               52.875
Run domain upper right lon:              -67.875
Run domain resolution (dx):                0.25
Run domain resolution (dy):                0.25

#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:                ./lis_input.d01.nc
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               none
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  LDT
Slope data source:                      none
Aspect data source:                     none
Curvature data source:                  none
LAI data source:                        LDT
SAI data source:                        none
Albedo data source:                     none
Max snow albedo data source:            none
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

#Bottom soil temperature options
TBOT lag skin temperature update option:  0
TBOT skin temperature lag days:           0

#--------------------------------FORCINGS----------------------------------
GDAS forcing directory:                   ./input/MET_FORCING/GDAS
GDAS domain x-dimension size:             512
GDAS domain y-dimension size:             256
GDAS number of forcing variables:         9

#-----------------------LAND SURFACE MODELS--------------------------
CLSM F2.5 model timestep:                 15mn
CLSM F2.5 restart output interval:        1da
CLSM F2.5 restart file:                   none
CLSM F2.5 top soil layer depth:           0.02      # in meters
CLSM F2.5 initial soil moisture:          0.30 
CLSM F2.5 initial soil temperature:       290.0
CLSM F2.5 fixed reference height:         10 
CLSM F2.5 turbulence scheme:              0
CLSM F2.5 use MODIS albedo flag:          1

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:           './MODEL_OUTPUT_LIST.TBL'

