LDT running mode:                   "LSM parameter processing"
Processed LSM parameter filename:   lis_input.d01.nc
LIS number of nests:                1

Number of surface model types:      1 
Surface model types:                "LSM"  
Land surface model:                 "Noah.3.3"  
Lake model:                         "none"   
Water fraction cutoff value:        0.5
Incorporate crop information:       .false.

Number of met forcing sources:      0
Met forcing sources:                "none" 
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "lapse-rate" 

LDT diagnostic file:                ldtlog
Undefined value:                    -9999.0
LDT output directory:               OUTPUT
Number of ensembles per tile:       1

#LIS domain
#Map projection of the LIS domain:   gaussian
#Run domain lower left lat:         -89.90935 #  -89.91153
#Run domain lower left lon:        -179.883581
#Run domain upper right lat:         89.90935 #   89.91153
#Run domain upper right lon:        179.999232
#Run domain resolution dlon:          0.117187
#Run domain number of lat circles:  768
Map projection of the LIS domain:   gaussian
Run domain lower left lat:         -89.90935 #  -89.91153
Run domain lower left lon:           0.0
Run domain upper right lat:         89.90935 #   89.91153
Run domain upper right lon:         -0.117187
Run domain resolution dlon:          0.117187
Run domain number of lat circles:  768

# Landcover/Mask Parameter Inputs #
Create or readin landmask:    "readin" 
Landmask data source:         AVHRR
Landmask file:                ./input/LS_PARAMETERS/GFS/lmask_gfs_T1534.bfsa
Landmask spatial transform:   none
Landmask map projection:      gaussian
Landmask first grid point lat:   -89.90935
Landmask first grid point lon:     0.0
Landmask last grid point lat:     89.90935
Landmask last grid point lon:     -0.117187
Landmask resolution dlon:          0.117187
Landmask number of lat circles: 768

Landcover classification:     "UMD"
Landcover data source:        AVHRR_GFS
Landcover file:               ./input/LS_PARAMETERS/GFS/vtype_gfs_T1534.bfsa
Landcover spatial transform:  none
Landcover fill option:        none
Landcover map projection:     gaussian
Landcover first grid point lat:   -89.90935
Landcover first grid point lon:     0.0
Landcover last grid point lat:     89.90935
Landcover last grid point lon:     -0.117187
Landcover resolution dlon:          0.117187
Landcover number of lat circles:  768

#Topography maps
Elevation data source:            GTOPO30_GFS
Elevation map:              ./input/LS_PARAMETERS/GFS/elev_gfs_T1534.bfsa
Elevation fill option:            none
Elevation number of bands:        1
Topography spatial transform:     none
Topography map projection:       gaussian
Topography first grid point lat:   -89.90935
Topography first grid point lon:     0.0
Topography last grid point lat:     89.90935
Topography last grid point lon:     -0.117187
Topography resolution dlon:          0.117187
Topography number of lat circles: 768

#Soil texture map
Soil texture data source:         ZOBLER_GFS
Soil texture map:         ./input/LS_PARAMETERS/GFS/stype_gfs_T1534.bfsa
Soil texture spatial transform:  none
Soil texture fill option:        none
Soil texture map projection:     gaussian
Soil texture first grid point lat:  -89.90935
Soil texture first grid point lon:    0.0
Soil texture last grid point lat:    89.90935
Soil texture last grid point lon:    -0.117187
Soil texture resolution dlon:         0.117187
Soil texture number of lat circles: 768

Soils data source:            NCEP_GFS
Soils spatial transform:      none
Soils map projection:         gaussian
Soils first grid point lat:  -89.90935
Soils first grid point lon:    0.0
Soils last grid point lat:    89.90935
Soils last grid point lon:    -0.117187
Soils resolution dlon:         0.117187
Soils number of lat circles: 768


# == Noah LSM Parameters ==

# Slope type:
Slope type data source:        NCEP_GFS
Slope type map:                ./input/LS_PARAMETERS/GFS/slope_gfs_T1534.bfsa
Slope type spatial transform:    none
Slope type fill option:          none
Slope type map projection:         gaussian
Slope type first grid point lat:  -89.90935
Slope type first grid point lon:    0.0
Slope type last grid point lat:    89.90935
Slope type last grid point lon:    -0.117187
Slope type resolution dlon:         0.117187
Slope type number of lat circles: 768

Max snow albedo data source:  NCEP_GFS
Max snow albedo map:  ./input/LS_PARAMETERS/GFS/maxsnowalb_gfs_T1534.bfsa 
Max snow albedo spatial transform:     none
Max snow albedo fill option:           none
Max snow albedo map projection:         gaussian
Max snow albedo first grid point lat:  -89.90935
Max snow albedo first grid point lon:    0.0
Max snow albedo last grid point lat:    89.90935
Max snow albedo last grid point lon:    -0.117187
Max snow albedo resolution dlon:         0.117187
Max snow albedo number of lat circles: 768

Bottom temperature data source: NCEP_GFS
Bottom temperature map:        ./input/LS_PARAMETERS/GFS/tbot_gfs_T1534.bfsa
Bottom temperature spatial transform:     none
Bottom temperature fill option:           none
Bottom temperature topographic downscaling:  "none"  
Bottom temperature map projection:        gaussian
Bottom temperature first grid point lat:   -89.90935
Bottom temperature first grid point lon:     0.0
Bottom temperature last grid point lat:     89.90935
Bottom temperature last grid point lon:     -0.117187
Bottom temperature resolution dlon:          0.117187
Bottom temperature number of lat circles: 768

