
LVT running mode:                   "Data intercomparison"
Map projection of the LVT analysis: "latlon"
LVT output format:                 "netcdf" 
LVT output methodology:            "2d gridspace"
Analysis data sources:            "SMAP soil moisture" "USDA ARS soil moisture"

Start mode:                                coldstart
LVT restart output interval:               "1mo"
LVT restart filename:                      none
Starting year:                               2015
Starting month:                            3
Starting day:                                31
Starting hour:                              0
Starting minute:                           0
Starting second:                           0
Ending year:                               2019
Ending month:                              6
Ending day:                                1
Ending hour:                               0  
Ending minute:                             0
Ending second:                             0
LVT clock timestep:                       "1da"
Undefined value:                          -9999
LVT diagnostic file:                       lvtlog

#processor layout
Number of processors along x:   2
Number of processors along y:   2

#LIS domain
Run domain lower left lat:             25.5449
Run domain lower left lon:            -124.102
Run domain upper right lat:            52.7344
Run domain upper right lon:           -67.5703
Run domain resolution (dx):            0.140625
Run domain resolution (dy):            0.09375

Input domain and mask data file:  ./lis_input.d01.nc

LVT datastream attributes table::
SoilMoist   1 1  m3/m3   -    1   1 SoilMoist 1 1 m3/m3   -    1  1
::

LVT surface soil layer thickness:  0.10
LVT root zone soil layer thickness:  1.0  

#stats specifications (only applicable to retrospective mode)
Apply external mask:                            0
External mask directory:                        OBSMASK.bin
Compute information theory metrics:             0
Compute ensemble metrics:                       0 
Metrics attributes file:                        ./input/METRICS.TBL
Observation count threshold:                    0
Metrics computation frequency:                    "1da" 
Spatial averaging mode:                          "pixel-by-pixel"
Starting month if a shifted year definition is used in temporal averaging: 1
Metrics output directory:                         OUTPUT #STATS.SMAP.ARS
Metrics output frequency:                          "1da"
Time series location file:                      ./input/TS_LOCATIONS.TXT
Variable-based stratification:                   0 
Compute LSM diagnostics:                         0
Confidence interval (%):                         95
External data-based stratification:              0
Stratification attributes file:                  none
Seasonal cycle minimum count threshold:          0 
Seasonal cycle interval type:                    "monthly"
Average diurnal cycle minimum count threshold:   0
Apply temporal smoothing to obs:                 0 
Averaging window for computing mean values in anomaly calculations: 'monthly'

SMAP soil moisture observation directory:  ./input/RS_DATA/SMAP/SPL3SMP.005_2
SMAP soil moisture data designation:      SPL3SMP   
SMAP(NASA) soil moisture Composite Release ID (e.g., R16): "R16"

#Observation
ARS soil moisture observation directory:  ./input/STN_DATA/ARS_Watersheds
ARS soil moisture station list file:      ./input/STN_DATA/ARS_Watersheds/stnlist.dat

