Porosity data source: CLSMF2.5
LDT running mode:                      "LSM parameter processing"
Processed LSM parameter filename:      ./lis_input.d01.nc
LIS number of nests:                   1
Number of surface model types:         1
Surface model types:                   "LSM"
Land surface model:                   "CLSMF2.5"     # Enter LSM(s) of choice
Lake model:                            none
Number of met forcing sources:          0            # Enter number of forcing types
Met forcing sources:                  "none"       # Enter 'none' if no forcing selected
Met spatial transform methods:        bilinear 
Topographic correction method (met forcing):   "lapse-rate"
Include water points:                 .false.   # Include water points 
Water fraction cutoff value:           0.5
Incorporate crop information:       .false.

Starting year:                         2011
Starting month:                        1
Starting day:                          1
Starting hour:                         1
Starting minute:                       0
Starting second:                       0
Ending year:                           2011
Ending month:                          1
Ending day:                            31
Ending hour:                           0
Ending minute:                         0
Ending second:                         0
LDT diagnostic file:                   ldtlog
Number of ensembles per tile:          1
LIS output timestep:                   "1da"
Undefined value:                      -9999.0
LDT output directory:              OUTPUT

#processor layout
Number of processors along x:       2
Number of processors along y:       2

#LIS domain
Map projection of the LIS domain:   latlon 
Run domain lower left lat:               -11.125
Run domain lower left lon:                21.125
Run domain upper right lat:               24.375
Run domain upper right lon:               51.625
Run domain resolution (dx):                0.25
Run domain resolution (dy):                0.25

# -------------------------------

# Landcover/Mask Parameter Inputs #
Landcover data source: CLSMF2.5
Landcover classification:        "MOSAIC"
Landcover file:                  ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/mosaic_veg_typs_fracs
Landcover spatial transform:     none 
Landcover map projection:        latlon
Landcover lower left lat:               -11.125
Landcover lower left lon:                21.125
Landcover upper right lat:               24.375
Landcover upper right lon:               51.625
Landcover resolution (dx):                0.25
Landcover resolution (dy):                0.25
Landcover fill option: none

Create or readin landmask:     "readin" 
Landmask data source: CLSMF2.5
Landmask file:                 ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/HOA_0.25deg_Mask.gdat
Landmask map projection:        latlon
Landmask lower left lat:               -11.125
Landmask lower left lon:                21.125
Landmask upper right lat:               24.375
Landmask upper right lon:               51.625
Landmask resolution (dx):                0.25
Landmask resolution (dy):                0.25
Landmask spatial transform:  "none"

#Catchment LSM Parms:
CLSMF25 soil param file:         ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/add2m/soil_param.dat
CLSMF25 topo ar file:            ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/add2m/ar.new
CLSMF25 topo bf file:            ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/bf.dat
CLSMF25 topo ts file:            ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/add2m/ts.dat
CLSMF25 surf layer ts file:      ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/tau_param.dat
CLSMF25 top soil layer depth:       0.02      # in meters
CLSMF25 spatial transform:           none
CLSMF25 add to bedrock depth: 2
CLSMF25 map projection:             latlon
CLSMF25 lower left lat:               -11.125
CLSMF25 lower left lon:                21.125
CLSMF25 upper right lat:               24.375
CLSMF25 upper right lon:               51.625
CLSMF25 resolution (dx):                0.25
CLSMF25 resolution (dy):                0.25

Soils spatial transform:        none    !Note: do not use mode with soil fractions
Soils map projection:          latlon
Soils lower left lat:          18.375
Soils lower left lon:          -111.375
Soils upper right lat:         41.375
Soils upper right lon:         -85.875
Soils resolution (dx):          0.25
Soils resolution (dy):          0.25
Soils fill option:  none

Albedo data source: CLSMF2.5
Albedo data source: CLSMF2.5
#Albedo maps

Albedo NIR factor file:       ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/modis_scale_factor.albnf.clim
Albedo VIS factor file:       ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/modis_scale_factor.albvf.clim
Albedo climatology interval:  "monthly"
Albedo spatial transform:     none
Albedo map projection:        latlon   
Albedo lower left lat:               -11.125
Albedo lower left lon:                21.125
Albedo upper right lat:               24.375
Albedo upper right lon:               51.625
Albedo resolution (dx):                0.25
Albedo resolution (dy):                0.25

Greenness data source: CLSMF2.5
Greenness fraction map:      ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/green.data
Greenness climatology interval:   "monthly"
Calculate min-max greenness fraction:  .true.
Greenness fill option:         none
Greenness spatial transform:    average
Greenness map projection:       latlon  
Greenness lower left lat:               -11.125
Greenness lower left lon:                21.125
Greenness upper right lat:               24.375
Greenness upper right lon:               51.625
Greenness resolution (dx):                0.25
Greenness resolution (dy):                0.25

#LAI maps
LAI data source: CLSMF2.5
LAI map:            ./input/LS_PARAMETERS/clsmf25_parms/HOA_0.25-deg/lai.data
SAI map:             none
Calculate min-max LAI:     .true.
LAI maximum map: none
LAI minimum map: none
LAI/SAI climatology interval:    "monthly"
LAI/SAI spatial transform:      none 
LAI/SAI map projection:        latlon
LAI/SAI lower left lat:               -11.125
LAI/SAI lower left lon:                21.125
LAI/SAI upper right lat:               24.375
LAI/SAI upper right lon:               51.625
LAI/SAI resolution (dx):                0.25
LAI/SAI resolution (dy):                0.25
LAI/SAI fill option: none

