#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                  1 
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "1da"
Land surface model:             "CLSM F2.5"
Number of met forcing sources:   7
Blending method for forcings:    "ensemble"
#-------------------Since the forcing is through ensembles------------------
Met forcing sources:             "GEOS5 forecast" "GEOS5 forecast" "GEOS5 forecast" "GEOS5 forecast" "GEOS5 forecast" "GEOS5 forecast" "GEOS5 forecast"
Met forcing chosen ensemble member:  1 2 3 4 5 6 7
Topographic correction method (met forcing):  "none" "none" "none" "none" "none" "none" "none" 
Enable spatial downscaling of precipitation:   0 0 0 0 0 0 0 
Spatial interpolation method (met forcing):   "bilinear" "bilinear" "bilinear" "bilinear" "bilinear" "bilinear" "bilinear"
Spatial upscaling method (met forcing):       "average" "average" "average" "average" "average" "average" "average"
Temporal interpolation method (met forcing):  "linear" "linear" "linear" "linear" "linear" "linear" "linear"
#---------------------------------------------------------------------------
#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
#Output methodology:                        "2d gridspace"
Output methodology:                        "1d tilespace"
Output model restart files:                1
Output data format:                        "netcdf"
Output naming style:                       "3 level hierarchy"
#Start mode:                                "coldstart"
Start mode:                                "restart"
Starting year:                             2011
Starting month:                            1
Starting day:                              1
Starting hour:                             1
Starting minute:                           0
Starting second:                           0
Ending year:                               2011
Ending month:                              1
Ending day:                                31
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT'
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              7

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    8
Number of processors along y:    8
Halo size along x: 0 
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------
Routing model:                    "none"
#------------------------RADIATIVE TRANSFER MODELS--------------------------
Radiative transfer model:   "none"
#------------------------APPLICATION MODELS---------------------------------
Number of application models: 0
#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           none

Forcing perturbation algorithm:           "none" 
Observation perturbation algorithm:       "none"
State perturbation algorithm:             "none"

State attributes file:                    ./clsm_sm_attribs.txt
State perturbation attributes file:       ./clsm_sm_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation attributes file:              ./ECVobs_attribs.txt
Observation perturbation attributes file: ./ECVobs_pertattribs.txt

Number of data assimilation instances:               0
Data assimilation algorithm:                         "none"
Data assimilation set:                               "LPRM AMSR-E" 
Data assimilation number of observation types:       0 
Bias estimation algorithm:                "none"

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude
Run domain lower left lat:               -11.125
Run domain lower left lon:                21.125
Run domain upper right lat:               24.375
Run domain upper right lon:               51.625
Run domain resolution (dx):                0.25
Run domain resolution (dy):                0.25

#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "none"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "LDT"
SAI data source:                 "none"
Albedo data source:              "none"
Max snow albedo data source:     "none"
Greenness data source:           "LDT"
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

LIS domain and parameter data file: ./lis_input.d01.nc
Use LAI climatology:                        1
Use SAI climatology:                        1
Use greenness fraction climatology:         1
Use albedo climatology:                     1
Albedo climatology interval type:           "monthly"
#--------------------------------FORCINGS----------------------------------

GEOS5 forecast forcing directory: ./input/MET_FORCING/GSFC_GEOS5_FCST/

#-----------------------LAND SURFACE MODELS--------------------------

CLSM F2.5 model timestep:                   "15mn"
CLSM F2.5 restart output interval:          "1mo"
CLSM F2.5 restart file:                     ./ensrstfile_201101_start_12312340.nc
CLSM F2.5 top soil layer depth:             0.02      # in meters
CLSM F2.5 initial soil moisture:            0.30
CLSM F2.5 initial soil temperature:       290.0
CLSM F2.5 fixed reference height:           10.0
CLSM F2.5 turbulence scheme:                0
CLSM F2.5 use MODIS albedo flag:            1
CLSM F2.5 use SM/ET and SM/Q tuning fixes:  0

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:


Model output attributes file:   MODEL_OUTPUT_LIST.TBL
