LDT running mode:               "LSM parameter processing"
Processed LSM parameter filename:  ./lis_input.d01.nc

LIS number of nests:                   1         # 1 nest supported for now
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                none      # Enter LSM of choice
Lake model:                          'none'      # Lake model option: 'none'|'FLake'
Include water points:               .false.      # Include water points
Water fraction cutoff value:          0.5
Incorporate crop information:       .false.

Number of met forcing sources:         1         # Enter number of forcing types
Met forcing sources:                 "NLDAS2"      # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none"

LDT diagnostic file:                ldtlog
Number of ensembles per tile:         1
Undefined value:                    -9999.0
LDT output directory:           OUTPUT

#Processor layout
Number of processors along x:         2
Number of processors along y:         2

#LDT/LIS domain and grid:
Map projection of the LIS domain:   latlon
Run domain lower left lat:          25.0625
Run domain lower left lon:        -124.9375
Run domain upper right lat:         52.9375
Run domain upper right lon:        -67.0625
Run domain resolution (dx):          0.125
Run domain resolution (dy):          0.125

#Land cover maps
Landcover data source: AVHRR
Landcover classification:       "UMD"     # Enter land cover classification type
Landcover file:                 ./input/LS_PARAMETERS/NLDAS_0.125/umdveg_nldas.1gd4r
Landcover spatial transform:     tile
Landcover fill option:           none
Landcover map projection:       latlon
Landcover lower left lat:       25.0625
Landcover lower left lon:     -124.9375
Landcover upper right lat:      52.9375
Landcover upper right lon:     -67.0625
Landcover resolution (dx):       0.125
Landcover resolution (dy):       0.125

#Land mask file and options:
Create or readin landmask:    "readin"
Landmask data source: AVHRR
Landmask file:                ./input/LS_PARAMETERS/NLDAS_0.125/umdmask_nldas.1gd4r 
Landmask spatial transform:     none
Landmask map projection:       latlon
Landmask lower left lat:       25.0625
Landmask lower left lon:     -124.9375
Landmask upper right lat:      52.9375
Landmask upper right lon:     -67.0625
Landmask resolution (dx):       0.125
Landmask resolution (dy):       0.125

Soils map projection:         latlon
Soils spatial transform:       none
Soils fill option:             none
Sand fraction map:        ./input/LS_PARAMETERS/UMD/25KM/sand_FAO.1gd4r
Clay fraction map:        ./input/LS_PARAMETERS/UMD/25KM/clay_FAO.1gd4r
Silt fraction map:        ./input/LS_PARAMETERS/UMD/25KM/silt_FAO.1gd4r
Soils lower left lat:       -59.875
Soils lower left lon:      -179.875
Soils upper right lat:       89.875
Soils upper right lon:      179.875
Soils resolution (dx):        0.25
Soils resolution (dy):        0.25

NLDAS2 forcing directory:
NLDAS2 data center source:
NLDAS2 use model level data: 0
NLDAS2 use model based swdown: 0
NLDAS2 use model based precip: 0
NLDAS2 use model based pressure: 0
NLDAS2 elevation difference map:  ./input/LS_PARAMETERS/NLDAS_0.125/NARR_elev-diff.1gd4r
NARR terrain height map:          ./input/LS_PARAMETERS/NLDAS_0.125/NARR_elevation.1gd4r

#Topography maps
Elevation map:           ./input/LS_PARAMETERS/UMD/25KM/elev_GTOPO30.1gd4r
Elevation fill option:            none
Elevation number of bands:        1
Topography spatial transform:     none
Topography map projection:       latlon
Topography lower left lat:      -59.875
Topography lower left lon:     -179.875
Topography upper right lat:      89.875
Topography upper right lon:     179.875
Topography resolution (dx):       0.25
Topography resolution (dy):       0.25

