#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                 1
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "1da"
Land surface model:             "RDHM.3.5.6"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "NLDAS2"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   "neighbor" #"bilinear"
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  "neighbor" #"linear"

#Runtime options
Forcing variables list file:               ./forcing_variables.nldas2.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        "2d gridspace"
Output model restart files:                1
Output data format:                        "netcdf"
Output naming style:                       "3 level hierarchy"
Start mode:                                "coldstart"
Starting year:                             1995
Starting month:                            1
Starting day:                              1
Starting hour:                             0 
Starting minute:                           0
Starting second:                           0
Ending year:                               1995
Ending month:                              12
Ending day:                                31
Ending hour:                               23
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   './diag/lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    12
Number of processors along y:    8 
Halo size along x: 0
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

#Run domain lower left hrap y: 600 #48
#Run domain lower left hrap x: 500 #17
#Run domain hrap resolution: 1
#Run domain x-dimension size: 51 #1043
#Run domain y-dimension size: 51 #774

Run domain lower left lat:                  25.0625
Run domain lower left lon:                -124.9375
Run domain upper right lat:                 52.9375
Run domain upper right lon:                -67.0625
Run domain resolution (dx):                  0.125
Run domain resolution (dy):                  0.125


#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "none"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Max snow albedo data source:     "none"
Greenness data source:           "none"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"


#LIS domain and parameter data file: ../lis_input.sachtet.nc
LIS domain and parameter data file:  ./input/nldas_test.nc   #test.nc
Use greenness fraction climatology: 0
Use albedo climatology: 0
Albedo climatology interval type: "monthly"

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'      

#--------------------------------FORCINGS----------------------------------
NLDAS2 forcing directory:               ./input/NLDAS2.FORCING/ 
NLDAS2 data center source:              "GES-DISC" #
NLDAS2 elevation map:
NLDAS2 domain x-dimension size:         464  
NLDAS2 domain y-dimension size:         224  
NLDAS2 use model level data:            0 
NLDAS2 use model based swdown:          0 
NLDAS2 use model based precip:          0 
NLDAS2 use model based pressure:        0
#--------------------------------FORCINGS----------------------------------
#RDHM precipitation forcing directory: ../testcase/precip
#RDHM temperature forcing directory: ../testcase/tair 
#RDHM precipitation scale factor: 1.0
#RDHM precipitation interval: 3600 
#RDHM temperature interval: 3600
#RDHM run windown lower left hrap y: 48
#RDHM run windown lower left hrap x: 17
#RDHM run windown upper right hrap y: 821
#RDHM run windown upper right hrap x: 1059
#RDHM run windown hrap resolution: 1.0
#RDHM temperature undefined value: -1.0
#RDHM precipitation undefined value: -1.0
#RDHM constant wind speed: 4.0 

#-----------------------SAC-HTET and SNOW-17--------------------------------
RDHM356 model timestep:    "1hr"
RDHM356 restart output interval: "1mo"
RDHM356 TempHeight: 2.0                   # m 
RDHM356 WindHeight: 10.0                  # m
RDHM356 DT_SAC_SNOW17:  3600              # s, should be consistent to model time step 
RDHM356 DT_FRZ:         1800              # s, could be smaller than DT_SAC_SNOW17
RDHM356 FRZ_VER_OPT:    1                 # IVERS, 1: old version, 2: new version, if set to 1, zero snow depth cause prolem  
RDHM356 SNOW17_OPT:     1                 # 1: use snow-17, else: not use snow-17
RDHM356 SACHTET_OPT:    1                 # 1: use SAC-HTET, else: not use SAC-HTET
RDHM356 NSTYP:          12                # number of soil types  
RDHM356 NVTYP:          14                # number of vegetation types  
RDHM356 NDINTW:         5                 # number of desired soil layers for moisture
RDHM356 NDSINT:         5                 # number of desired soil layers for temperature
RDHM356 NORMALIZE:      1                 # 1: normalize soil moisture, 0: not
RDHM356 DSINTW:         0.05 0.25 0.60 0.75 1.00
RDHM356 DSINT:          0.05 0.25 0.60 0.75 1.00
RDHM356 PETADJ_MON:     1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0
RDHM356 CZIL:           0.12              # Zilitinkevich parameter(range 0.0-1.0) 
RDHM356 FXEXP:          2.0               # bare soil evaporation exponential non-linear parameter 
RDHM356 vegRCMAX:       5000              # s/m maximum stomatal resistance
RDHM356 PC:             -1                # plant coefficient 
RDHM356 PET_OPT:        -1                 # if PET_OPT = 0, use non Penmann-based ETP;if penpt > 0 empirical Penmann equation; if penpt < 0, use energy based Pennman
RDHM356 TOPT:           298               # K 
RDHM356 RDST:           1                 # 0: OHD; 1: Noah
RDHM356 thresholdRCMIN: 0.5               # this constant alow to change RCMIN
RDHM356 SFCREF:         4.0               # reference wind speed for PET adjustment
RDHM356 BAREADJ:        0.230000004       # Ek-Chen evaporation threshold switch
RDHM356 SNOW17_SWITCH:  1                 # 0: Victor's version, 1: Eric's version 
RDHM356 restart file: "LIS_RST_RDHM356_200810312300.d01.nc"
RDHM356 restart file format: "netcdf"
RDHM356 tmxmn directory:     "none"
RDHM356 initial UZTWC (ratio): 0.55       
RDHM356 initial UZFWC (ratio): 0.14 
RDHM356 initial LZTWC (ratio): 0.56 
RDHM356 initial LZFSC (ratio): 0.11 
RDHM356 initial LZFPC (ratio): 0.46
RDHM356 initial ADIMC (ratio): 1.0        # 
RDHM356 initial TS0: 4.0                  # 1st soil layer temp (Celsius) 
RDHM356 initial UZTWH (ratio): 0.1  
RDHM356 initial UZFWH (ratio): 0.1
RDHM356 initial LZTWH (ratio): 0.1
RDHM356 initial LZFSH (ratio): 0.1
RDHM356 initial LZFPH (ratio): 0.1
RDHM356 initial SMC: 0.35 0.35 0.35 0.35 0.35 0.35
RDHM356 initial SH2O: 0.35 0.35 0.35 0.35 0.35 0.35 
RDHM356 initial WE: 0                     # snow water equivalent without liquid water (mm)
RDHM356 initial LIQW: 0                   # liquid water in snow
RDHM356 initial NEGHS: 0                  # negtive snow heat (mm)
RDHM356 initial TINDEX: 0                 # antecent temperature index 
RDHM356 initial ACCMAX: 0                 # comulated snow temperature (celsius)
RDHM356 initial SNDPT: 0                  # snow depth (cm)
RDHM356 initial SNTMP: 0                  # average snow temperature (C) 
RDHM356 initial SB:  0                    # the last highest snow water equivalent before any snowfall (mm)
RDHM356 initial SBAESC: 0            
RDHM356 initial SBWS: 0 
RDHM356 initial STORAGE: 0                # snow liquid water attanuation storage (mm)
RDHM356 initial AEADJ: 0                  # adjusted areal snow cover fraction (-)  
RDHM356 initial EXLAG:  0 0 0 0 0 0 0            
RDHM356 initial NEXLAG: 7 
RDHM356 initial TA_PREV: 0                # air temperature of previous time step (celsius)
