LDT running mode:               "LSM parameter processing"
Processed LSM parameter filename:  ./lis_input.d01.nc

LIS number of nests:                   1
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                none      # Enter LSM of choice
Lake model:                          'none'      # Lake model option: 'none'|'FLake'
Include water points:               .false.      # Include water points
Water fraction cutoff value:          0.5
Incorporate crop information:       .false.

Number of met forcing sources:         0         # Enter number of forcing types
Met forcing sources:                  none       # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none"

LDT diagnostic file:                ldtlog
Number of ensembles per tile:         1
Undefined value:                    -9999.0
LDT output directory:           OUTPUT

#Processor layout
Number of processors along x:         2
Number of processors along y:         2

#LDT/LIS domain and grid:
Map projection of the LIS domain:   lambert
Run domain lower left lat:          20.34676
Run domain lower left lon:        -123.3784
Run domain true lat1:               38.983
Run domain true lat2:               38.983
Run domain standard lon:          -100.719
Run domain resolution:               9
Run domain x-dimension size:       547
Run domain y-dimension size:       401

#Land cover maps
Landcover data source: USGS_LIS
Landcover classification:       USGS # Enter land cover classification type
Landcover file:              ./input/LS_PARAMETERS/UMD/9KM/landcover_USGS.1gd4r
Landcover spatial transform:     tile
Landcover fill option:           none
Landcover map projection:       latlon
Landcover lower left lat:        -59.955
Landcover lower left lon:       -179.955
Landcover upper right lat:        89.955
Landcover upper right lon:       179.955
Landcover resolution (dx):         0.09
Landcover resolution (dy):         0.09

#Land mask file and options:
Create or readin landmask:    readin
Landmask data source: AVHRR
Landmask file:               ./input/LS_PARAMETERS/UMD/9KM/landmask_UMD.1gd4r
Landmask spatial transform:     neighbor
Landmask map projection:       latlon
Landmask lower left lat:        -59.955
Landmask lower left lon:       -179.955
Landmask upper right lat:        89.955
Landmask upper right lon:       179.955
Landmask resolution (dx):         0.09
Landmask resolution (dy):         0.09

Soils map projection:         latlon
Soils spatial transform:       none
Soils fill option:             none
#Sand fraction map: ./input/LS_PARAMETERS/UMD/9KM/sand_FAO.1gd4r
#Clay fraction map: ./input/LS_PARAMETERS/UMD/9KM/clay_FAO.1gd4r
#Silt fraction map: ./input/LS_PARAMETERS/UMD/9KM/silt_FAO.1gd4r
#Soils lower left lat:             -59.955
#Soils lower left lon:            -179.955
#Soils upper right lat:             89.955
#Soils upper right lon:            179.955
#Soils resolution (dx):              0.09
#Soils resolution (dy):              0.09

#Topography maps
#Elevation map:           ./input/LS_PARAMETERS/UMD/25KM/elev_GTOPO30.1gd4r
#Elevation fill option:            none
Elevation number of bands:        1
#Topography spatial transform:     none
#Topography map projection:       latlon
#Topography lower left lat:      -59.875
#Topography lower left lon:     -179.875
#Topography upper right lat:      89.875
#Topography upper right lon:     179.875
#Topography resolution (dx):       0.25
#Topography resolution (dy):       0.25
