#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                  1 
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "30mn"
Land surface model:             "Noah.3.3"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "PALS station forcing"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:   0
Spatial interpolation method (met forcing):   "bilinear"
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  "linear"

#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         1   #0- no
Output methodology:                        "2d gridspace"
Output model restart files:                0
Output data format:                        netcdf
Output naming style:                       "3 level hierarchy"
Start mode:                                coldstart
Starting year:                             2000
Starting month:                            1
Starting day:                              1
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2006
Ending month:                              1
Ending day:                                1
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT'
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0 
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt

SNODEP data directory:   ../RS_DATA/SNODEP/mesh8
SNODEP mesh resolution:  8


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

Run domain lower left lat:                38.895
Run domain lower left lon:              -120.635
Run domain upper right lat:               38.905
Run domain upper right lon:             -120.625
Run domain resolution (dx):                0.01
Run domain resolution (dy):                0.01


#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "LDT"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Max snow albedo data source:     "none"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

LIS domain and parameter data file: ./lis_input.d01.nc
Use greenness fraction climatology: 1
Use albedo climatology: 1
Albedo climatology interval type: "quarterly"
Use LAI climatology:                               1 
Use SAI climatology:                               1

#--------------------------------FORCINGS----------------------------------
PALS met forcing station name: Blodgett
PALS met forcing data start year: 2000
PALS met forcing directory:                        ./input/MET_FORCING/PALS/
PALS met forcing data start month:                 1
PALS met forcing data start day:                   1
PALS met forcing data start hour:                  0
PALS met forcing data start minute:                0
PALS met forcing data start second:                0

#-----------------------LAND SURFACE MODELS--------------------------
Noah.3.3 model timestep:                  30mn
Noah.3.3 restart output interval:         1mo
Noah.3.3 restart file:                    none
Noah.3.3 vegetation parameter table:      ./input/LS_PARAMETERS/noah33_parms/vegparm_noah.tbl
Noah.3.3 soil parameter table:            ./input/LS_PARAMETERS/noah33_parms/SOILPARM.TBL
Noah.3.3 general parameter table:         ./input/LS_PARAMETERS/noah33_parms/GENPARM.TBL
Noah.3.3 use PTF for mapping soil properties: 0
Noah.3.3 soils scheme:                    2      # 1-Zobler; 2-STATSGO
Noah.3.3 number of soil layers:           4
Noah.3.3 layer thicknesses:               0.1  0.3  0.6  1.0
Noah.3.3 use distributed soil depth map:  0
Noah.3.3 use distributed root depth map:  0
Noah.3.3 initial skin temperature:        290.0                                    # Kelvin
Noah.3.3 initial soil temperatures:       290.0  290.0  290.0  290.0               # Kelvin
Noah.3.3 initial total soil moistures:    0.2 0.2 0.2 0.2                          # volumetric (m3 m-3)
Noah.3.3 initial liquid soil moistures:   0.2 0.2 0.2 0.2                          # volumetric (m3 m-3)
Noah.3.3 initial canopy water:            0.0                                      # depth (m)
Noah.3.3 initial snow depth:              0.0                                      # depth (m)
Noah.3.3 initial snow equivalent:         0.0                                      # also known swe - depth (m)
Noah.3.3 fixed max snow albedo:           0.0                                      # fraction; 0.0 - do not fix
Noah.3.3 fixed deep soil temperature:     0.0                                      # Kelvin; 0.0 - do not fix
Noah.3.3 fixed vegetation type:           0                                        # 0 - do not fix
Noah.3.3 fixed soil type:                 0                                        # 0 - do not fix
Noah.3.3 fixed slope type:                0                                        # 0 - do not fix
Noah.3.3 sfcdif option:                   1      # 0 - previous SFCDIF; 1 - updated SFCDIF
Noah.3.3 z0 veg-type dependence option:   0      # 0 - off; 1 - on; dependence of CZIL in SFCDIF
Noah.3.3 greenness fraction:  0.01  0.02  0.07  0.17  0.27  0.58  0.93  0.96  0.65  0.24  0.11  0.02
Noah.3.3 background albedo:   0.18  0.17  0.16  0.15  0.15  0.15  0.15  0.16  0.16  0.17  0.17  0.18
Noah.3.3 background roughness length: 0.020 0.020 0.025 0.030 0.035 0.036 0.035 0.030 0.027 0.025 0.020 0.020
Noah.3.3 reference height for forcing T and q:   12.5      # (m) - negative=use height from forcing data
Noah.3.3 reference height for forcing u and v:   12.5      # (m) - negative=use height from forcing data

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

#Energy balance components

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255


Model output attributes file:  MODEL_OUTPUT_LIST.TBL

