#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          1da
Land surface model:                     "Noah-MP.4.0.1"
Number of met forcing sources:          2
Blending method for forcings:           overlay
Met forcing sources:                    "MERRA2" "GPM IMERG"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "lapse-rate and slope-aspect" "lapse-rate and slope-aspect"
Enable spatial downscaling of precipitation:  0 1
Spatial upscaling method (met forcing):       none none
Spatial interpolation method (met forcing):   bilinear bilinear 
Temporal interpolation method (met forcing):  "linear" "linear"

#Runtime options
Forcing variables list file:            ./input/forcing_variables_v2.txt
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     netcdf #binary
Output naming style:                    "3 level hierarchy"
Start mode:                             restart
Starting year:                          2015
Starting month:                           01
Starting day:                             31
Starting hour:                            23
Starting minute:                          30
Starting second:                          00
Ending year:                            2015
Ending month:                              4
Ending day:                                1
Ending hour:                              00
Ending minute:                            00
Ending second:                            00
Undefined value:                       -9999
Output directory:                       "OUTPUT"
Diagnostic output file:                 "OUTPUT/log/lislog"
Number of ensembles per tile:           10

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:           24
Number of processors along y:           18
#Decompose by processes:          .true.
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Radiative transfer model:               none
Number of application models:           0

#HYMAP router
Routing model:                          "none"     # "HYMAP2 router"

HYMAP2 routing model time step:               "15mn"
TEMPLATE model timestep:                      "15mn"
HYMAP2 routing model output interval:         "1da"
HYMAP2 routing model restart interval:        "1mo"
# method:                enter 1 - kinematic; 2 - diffusive
# linear reservoir flag: enter 1 - use; or 2 - do not use linear reservoirs
# evaporation option:    enter 1 - compute; or 2 - do not compute evapotation in floodplains
HYMAP2 routing method:                          "kinematic"
HYMAP2 routing model time step method:          "constant"
HYMAP2 routing model adaptive time step alfa coefficient: 1.0
HYMAP2 run in ensemble mode:                 0
HYMAP2 routing model linear reservoir flag:  0
HYMAP2 routing model evaporation option:     none # "penman"
HYMAP2 routing model start mode:                coldstart
HYMAP2 routing model restart file:              ./dummy.nc
HYMAP2 floodplain dynamics: 1
HYMAP2 enable 2-way coupling: 0

HYMAP2 reservoir operation option: 0
HYMAP2 number of reservoirs: 1
HYMAP2 reservoir operation input time series size: 2
HYMAP2 reservoir operation input directory: ./
HYMAP2 reservoir operation header filename: ./header_test.txt
HYMAP2 reservoir operation input data type: "water level" # "streamflow" #
HYMAP2 routing model dwi flag: 0
HYMAP2 use localization update in DA: 0
HYMAP2 localization update window size: 5
HYMAP2 localization weight map: distance_map_volta.nc

#---------------------DATA ASSIMILATION ----------------------------------
#Data assimilation options

Number of data assimilation instances:               1
Data assimilation algorithm:                          "EnKF"
Data assimilation set:                                "ESA CCI soil moisture"
Data assimilation exclude analysis increments:        0 
Data assimilation output interval for diagnostics:    "1da"
Data assimilation number of observation types:        1
Data assimilation output ensemble spread:             0
#Data assimilation scaling strategy:                  "Anomaly scaling"
Data assimilation scaling strategy:                  "CDF matching"
Data assimilation output processed observations:      1 
Data assimilation output innovations:                 0 
Number of state variables:                            4
Data assimilation use a trained forward model:  0 
Data assimilation trained forward model output file:  none
Data assimilation observation domain file:  ./lis_input_001ctr_wHyMAP_ISRIC_CaliforniaColumbiaRegion_FullDom.nc


Apply perturbation bias correction:        1
Bias estimation algorithm:                "none"  
Bias estimation attributes file:          "none"  
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:


#Perturbation options

#Perturbations start mode:                 "coldstart"
Perturbations start mode:                 "restart"
Perturbations restart output interval:    "1mo"
#Perturbations restart filename:           "none"
Perturbations restart filename: ./LIS_DAPERT_201501312330.d01.bin


Forcing perturbation algorithm:           "GMAO scheme"
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./pert_package/forcing_attribs_v2.txt
Forcing perturbation attributes file:     ./pert_package/forcing_pert_attribs.txt

State perturbation algorithm:             "GMAO scheme"
State perturbation frequency:              "3hr"
State attributes file:                    ./pert_package/noahmp_sm_attribs.txt
State perturbation attributes file:       ./pert_package/noahmp_sm_pertattribs.txt

Observation perturbation algorithm:       "GMAO scheme"
Observation perturbation frequency:         "1da"
Observation attributes file:                 ./pert_package/ESACCI_attribs.txt
Observation perturbation attributes file:    ./pert_package/ESACCI_pertattribs.txt



ESA CCI soil moisture data directory: ./input/RS_DATA/ESACCI/v06.1/PASSIVE/
ESA CCI soil moisture data version:   "6.1"
ESA CCI soil moisture sensor type:   "passive"
ESA CCI use scaled standard deviation model: 0
ESA CCI model CDF file: ./cdf_lsmsm_1km_wus_yearly_01_14.nc
ESA CCI observation CDF file:  ./cdf_ccipassive_1km_yearly.nc
ESA CCI soil moisture number of bins in the CDF: 100


#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:     ./lis_input_001ctr_wHyMAP_ISRIC_CaliforniaColumbiaRegion_FullDom.nc
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               LDT
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  LDT
Slope data source:                      LDT
Aspect data source:                     LDT
Curvature data source:                  none
LAI data source:                        none
SAI data source:                        none
Albedo data source:                     LDT
Max snow albedo data source:            LDT
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

#--------------------------------FORCINGS----------------------------------
MERRA2 forcing directory:       ./input/MET_FORCING/MERRA2/
MERRA2 use lowest model level forcing:     1
MERRA2 use corrected total precipitation:  1

IMERG forcing directory: ./input/MET_FORCING/IMERG/Final_V06B/
IMERG product:           'final'  #'late'
IMERG version:           V06B

#------------------------------IRRIGATION-------------------------

Irrigation scheme:            "none"
Irrigation output interval:   "1da"

Irrigation threshold:       0.4
Irrigation GVF parameter 1:    0.4
Irrigation GVF parameter 2:    0.
Irrigation scheduling based on dynamic vegetation: 1  #Works together with dynamic vegetation option = 2
Groundwater abstraction for irrigation: 1
Irrigation source water partition: 1

Sprinkler irrigation max root depth file: ./input/LS_PARAMETERS/irrigation/conus_modis/maxrootdepth32.txt


#-----------------------LAND SURFACE MODELS--------------------------
Noah-MP.4.0.1 model timestep:                30mn
Noah-MP.4.0.1 restart output interval:       1mo
Noah-MP.4.0.1 restart file:                  ./LIS_RST_NOAHMP401_201501312330.d01.nc
Noah-MP.4.0.1 restart file format:           netcdf
Noah-MP.4.0.1 soil parameter table:          ./input/LS_PARAMETERS/noahmp401_parms/SOILPARM.TBL
Noah-MP.4.0.1 general parameter table:       ./input/LS_PARAMETERS/noahmp401_parms/GENPARM.TBL
Noah-MP.4.0.1 MP parameter table:            ./input/LS_PARAMETERS/noahmp401_parms/MPTABLE_UMD.TBL
Noah-MP.4.0.1 number of soil layers:         4
Noah-MP.4.0.1 thickness of soil layers:      0.1  0.3  0.6  1.0
Noah-MP.4.0.1 dynamic vegetation option:                      2  # Up to 10 different options
Noah-MP.4.0.1 canopy stomatal resistance option:              1  # 1=Ball-Berry; 2=Jarvis
Noah-MP.4.0.1 soil moisture factor for stomatal resistance:   1  # 1=Noah; 2=CLM; 3=SSiB
Noah-MP.4.0.1 runoff and groundwater option:                  1  # 1=SIMGM; 2=SIMTOP; 3=Schaake96; 4=BATS; 5=Miguez-Macho&Fan
Noah-MP.4.0.1 surface layer drag coefficient option:          1  # 1=M-O; 2=Chen97
Noah-MP.4.0.1 supercooled liquid water option:                1  # 1=NY06; 2=Koren99
Noah-MP.4.0.1 frozen soil permeability option:                1  # 1=NY06; 2=Koren99
Noah-MP.4.0.1 radiation transfer option:                      3  # 1=gap=F(3D;cosz); 2=gap=0; 3=gap=1-Fveg
Noah-MP.4.0.1 snow surface albedo option:                     2  # 1=BATS; 2=CLASS
Noah-MP.4.0.1 rainfall & snowfall option:                     1  # 1=Jordan91; 2=BATS; 3=Noah
Noah-MP.4.0.1 lower boundary of soil temperature option:      2  # 1=zero-flux; 2=Noah
Noah-MP.4.0.1 snow&soil temperature time scheme option:       1  # 1=semi-implicit; 2=fully implicit; 3=FSNO for TS
Noah-MP.4.0.1 glacier option:                                 1  # 1=include phase change; 2=slab ice (Noah)
Noah-MP.4.0.1 surface resistance option:                      1  # 1=Sakaguchi and Zeng 2009; 2=Sellers (1992); 3=adjusted Sellers; 4=option1 for non-snow and rsurf_snow for snow
Noah-MP.4.0.1 soil configuration option:                      1  # 1=input dominant soil texture; 2=input soil texture varies that varies with depth; 3=soil composition and pedotransfer; 4=input soil properties
Noah-MP.4.0.1 soil pedotransfer function option:              1  # 1=Saxton and Rawls (2006) (used when soil_opt=3)
Noah-MP.4.0.1 crop model option:                              0  # 0=No crop model; 1=Liu et al. 2016; 2=Gecros
Noah-MP.4.0.1 urban physics option:                           0  # 0=No; 1=Single-layer; 2=Multi-layer BEP scheme; 3=Multi-layer BEM scheme
Noah-MP.4.0.1 reference height of temperature and humidity: 6.0
Noah-MP.4.0.1 initial surface skin temperature:           273.7
Noah-MP.4.0.1 initial snow water equivalent:                0.0
Noah-MP.4.0.1 initial snow depth:                          0.0
Noah-MP.4.0.1 initial total canopy surface water:          0.0
Noah-MP.4.0.1 initial soil temperatures:                  290.0  290.0  290.0  290.0
Noah-MP.4.0.1 initial total soil moistures:               0.20  0.20  0.20  0.20
Noah-MP.4.0.1 initial leaf area index:                      0.5
Noah-MP.4.0.1 initial water table depth:                    2.5
Noah-MP.4.0.1 initial water in the aquifer:                 6900.0
Noah-MP.4.0.1 initial water in aquifer and saturated soil:  6900.0

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:           './MODEL_OUTPUT_LIST.TBL'


