#Overall driver options
Running mode:                      1  # 1-retrospective
Domain type:                       1  # 1-latlon
Number of nests:                   1  # 1-one nest
Land surface model:                3  # 1-Noah2.7.1
Base forcing source:               0  # 1-GDAS
Number of base forcing variables:  10
Use elevation correction (base forcing):              0  # 1-use lapse rate
Spatial interpolation method (base forcing):          1  # 1-bilinear
Temporal interpolation method (base forcing):         1  # 1-linear
Number of supplemental forcing sources:               1
Supplemental forcing sources:                         16
Number of supplemental forcing variables:             10
Use elevation correction (supplemental forcing):      0
Spatial interpolation method (supplemental forcing):  1
Temporal interpolation method (supplemental forcing): 1

#The following options list the choice of parameter maps to be used
Map projection of parameter data:  0
Landcover data source:             1  # 1-UMD; 2-USGS
Use soil texture:                  0  # 0-do not use
Soil data source:                  0  # 1-FAO; 2-STATSGO
Soil color data source:            0  # 1-FAO; 2-STATSGO
Elevation data source:             0  # 1-GTOPO30 elevation
Slope data source:                 0  # 0-do not use
Aspect data source:                0  # 0-do not use
Curvature data source:             0  # 0-do not use
LAI data source:                   0  # 0-do not use
SAI data source:                   0  # 0-do not use
Albedo data source:                0  # 0-do not use
Greenness data source:             0  # 0-do not use
Porosity data source:              0  # 0-do not use
Ksat data source:                  0  # 0-do not use
B parameter data source:           0  # 0-do not use
Quartz data source:                0  # 0-do not use

#Runtime options
Experiment code:                '111'
Number of veg types:              13 # 13-UMD; 24-USGS
Forcing variables list file:       ./input/forcing_variables.txt
Output forcing:                    1  # 1-yes
Output parameters:                 0  # 0-no
Output methodology:                2  # 2-gridded
Output data format:                1  # 1-binary
Output naming style:               1
Output GRIB Table Version:       130
Output GRIB Center Id:             7
Output GRIB Subcenter Id:        138
Output GRIB Process Id:            1
Output GRIB Grid Id:             255
Logging level:                     1  # 1-basic
Start mode:                        2  # 1-restart; 2-coldstart
Starting year:                  1948 #1949
Starting month:                   12 #01
Starting day:                     31 #01
Starting hour:                    23 #0
Starting minute:                   0
Starting second:                   0
Ending year:                    1951
Ending month:                     12
Ending day:                       31
Ending hour:                      23
Ending minute:                     0
Ending second:                     0
Model timestep:                 3600
Undefined value:               -9999
Output directory:              'OUTPUT'
Diagnostic output file:        'lisdiag'
Number of ensembles per tile:      1

#The following options are used for subgrid tiling based on vegetation
Maximum number of tiles per grid:  1
Cutoff percentage:                 0.05

#Processor Layout
#Should match the total number of processors used
Number of processors along x:      2
Number of processors along y:      2
Halo size along x:                 0
Halo size along y:                 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options
Number of data assimilation instances: 0
Assimilation algorithm:                0  # 0-none
Assimilation set:                      0
Bias estimation algorithm:          none
Exclude analysis increments:           0
Use bias restart:                      0
Bias restart output frequency:     86400
Number of state variables:             0
Number of observation types:           0
Output interval for diagnostics:   21600
Write ensemble members:                0
Write observations:                    0
Write innovations:                     0

#Perturbation options
Forcing perturbation algorithm:              0  # 0-none
Observation perturbation algorithm:          0  # 0-none
State perturbation algorithm:                0  # 0-none
Forcing perturbation frequency:           3600
Observation perturbation frequency:       3600
State perturbation frequency:             3600
Perturbations start mode:                    2
Perturbations restart output interval:    3600
Perturbations restart filename:           none
Number of forcing fields to be perturbed:    0
Forcing attributes file:                  none
Forcing perturbation attributes file:     none
State attributes file:                    none
State perturbation attributes file:       none
Observation attributes file:              none
Observation perturbation attributes file: none
Bias estimation attributes file:          none
Bias restart file:                        none

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude
run domain lower left lat:                48.1875
run domain lower left lon:              -121.0625
run domain upper right lat:               48.5625
run domain upper right lon:             -120.5625
run domain resolution (dx):                0.125
run domain resolution (dy):                0.125

#Definition of Parameter Domain
param domain lower left lat:             -59.9375
param domain lower left lon:            -179.9375
param domain upper right lat:             89.9375
param domain upper right lon:            179.9375
param domain resolution (dx):              0.125
param domain resolution (dy):              0.125

#--------------------------------PARAMETERS----------------------------------
#Metadata for Parameter maps
#Landcover and Landmask
landmask file:            ./input/landmask_stehekin.1gd4r
landcover file:           ./input/LS_PARAMETERS/NLDAS_0.125/umdveg_nldas.1gd4r
landcover file format:          1
landcover lower left lat:       25.0625
landcover lower left lon:      -124.9375
landcover upper right lat:      52.9375
landcover upper right lon:     -67.0625
landcover resolution (dx):      0.125
landcover resolution (dy):      0.125

#Topography maps
elevation map:            
slope map:
aspect map:
curvature map:
topography lower left lat:               -59.9375
topography lower left lon:              -179.9375
topography upper right lat:               89.9375
topography upper right lon:              179.9375
topography resolution (dx):                0.125
topography resolution (dy):                0.125

#Soils maps
soil texture map:
sand fraction map:
clay fraction map:
silt fraction map:
soil color map:
porosity map:
saturated matric potential map:       # psisat
saturated hydraulic conductivity map: # ksat
b parameter map:
quartz map:
soils lower left lat:                    -59.9375
soils lower left lon:                   -179.9375
soils upper right lat:                    89.9375
soils upper right lon:                   179.9375
soils resolution (dx):                     0.125
soils resolution (dy):                     0.125

#Albedo maps
albedo map:                           ./input/LS_PARAMETERS/UMD/12KM/albedo_NCEP
albedo climatology interval:          1  # in months
max snow free albedo map:             ./input/LS_PARAMETERS/UMD/12KM/mxsnoalb_NCEP.1gd4r
bottom temperature map:               ./input/LS_PARAMETERS/UMD/12KM/tbot_NCEP.1gd4r

#Greenness fraction maps
greenness fraction map:               ./input/LS_PARAMETERS/UMD/12KM/gvf_NCEP
greenness climatology interval:       1  # in months

#LAI maps
LAI map:
SAI map:

#--------------------------------FORCINGS----------------------------------
#VIC (forcing option=16)
#VIC forcing directory: ./burst_forcing
VIC forcing directory: ./VIC_STEHEKIN_FORCING.4.extended
#VIC forcing directory: ./VIC_STEHEKIN_FORCING.8.extended
VIC forcing interval: 1
## removed VIC forcing time-step: 24
## removed VIC forcing snow-step: 1
## removed VIC forcing format: 4
## removed VIC forcing full read: 0 #1095 
## removed VIC read gridded: 1
VIC NC: 6 #5
VIC NR: 5 #4
VIC forcing domain lower left lat:                48.1875
VIC forcing domain lower left lon:              -121.0625
VIC forcing domain upper right lat:               48.6875 #   48.5625
VIC forcing domain upper right lon:             -120.4375 # -120.5625
VIC forcing domain resolution (dx):                0.125
VIC forcing domain resolution (dy):                0.125

#-----------------------LAND SURFACE MODELS--------------------------
VIC411 model step interval: 86400
VIC411 model output interval: 86400
VIC411 global parameter file: global_param.STEHE.jim 
VIC411 convert units: 1

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:  2020
Output start month:   01
Output start day:     01
Output start hour:    00
Output start minutes: 00
Output start seconds: 00

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'

