#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                 1
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "1hr"
Land surface model:             "none"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "PRINCETON"
#Topographic correction method (met forcing):  "lapse-rate"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   "bilinear"
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  "linear"

#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        "2d gridspace"
Output model restart files:                0
Output data format:                        "binary"
Output naming style:                       "4 level hierarchy"
Start mode:                                coldstart
Starting year:                             1948
Starting month:                            2
Starting day:                              1
Starting hour:                             1
Starting minute:                           0
Starting second:                           0
Ending year:                               1948
Ending month:                              2
Ending day:                                2
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

Run domain lower left lat:                 -59.5 
Run domain lower left lon:                -179.5
Run domain upper right lat:                 89.5
Run domain upper right lon:                179.5
Run domain resolution (dx):                  1.0
Run domain resolution (dy):                  1.0

#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Max snow albedo data source:     "none"
Greenness data source:           "none"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

LIS domain and parameter data file: ./lis_input.d01.nc
Use greenness fraction climatology: 0
Use albedo climatology: 0
Albedo climatology interval type: "monthly"


#--------------------------------FORCINGS----------------------------------
PRINCETON forcing directory:      ./input/MET_FORCING/PRINCETON
PRINCETON forcing version: "2"

#-----------------------LAND SURFACE MODELS--------------------------
TEMPLATE model timestep:              30mn
TEMPLATE restart output interval:     1da
TEMPLATE restart file:                none

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'      
