#----------------------------------------------------------------------------
# README
# 
# This LVT configuration shows an example of comparing variables from a 
# LIS output (e.g., Noah.3.3 LSM).
#
# The following metrics are used:  Soil moisture percentiles - Root zone
#
#  - Updated as of Apr 22, 2017
#
#----------------------------------------------------------------------------

LVT running mode:                   "Data intercomparison"
#                      1. Dataset to be evaluated; 2. The reference dataset
Analysis data sources:              "GPM IMERG" "none"
LVT output methodology:             "2d gridspace"   # 1d tilespace | 2d gridspace | 1d gridspace
LVT output format:                  "netcdf"         # netcdf | grib1 | binary

Start mode:                         coldstart        # coldstart | restart
LVT restart output interval:       "1mo"
LVT restart filename:               none
Starting year:                      2019
Starting month:                     01
Starting day:                       01
Starting hour:                      0
Starting minute:                    0
Starting second:                    0
Ending year:                        2019
Ending month:                       01
Ending day:                         05    
Ending hour:                        0
Ending minute:                      0
Ending second:                      0
LVT clock timestep:                "1da"    # Timestep used in analysis; best to match tstep of 1st datastream
Undefined value:                   -9999

#LVT analysis domain:    
Map projection of the LVT analysis: "latlon"
# Blue Nile - 25KM ::
#Run domain lower left lat:           -35.95
#Run domain lower left lon:            10.95
#Run domain upper right lat:          -8.95
#Run domain upper right lon:           42.875
#Run domain resolution (dx):          0.25
#Run domain resolution (dy):          0.25
Run domain lower left lat:           -39.95
Run domain lower left lon:           -19.95
Run domain upper right lat:           39.95
Run domain upper right lon:           59.95
Run domain resolution (dx):           0.25
Run domain resolution (dy):           0.25
#Run domain lower left lat:           -40.0
#Run domain lower left lon:           -20.0
#Run domain upper right lat:           40.0
#Run domain upper right lon:           60.0
#Run domain resolution (dx):          0.25
#Run domain resolution (dy):          0.25


# LDT-generated netcdf file with input domain and mask field 
Input domain and mask data file: ./lis_input_testcase.d01.nc

# Variables to be analyzed and their attributes:
LVT datastream attributes table::
TotalPrecip    1  1   kg/m2s  DN  1 1   SoilMoist    1 1  m3/m3  -  1 1
#Rainf_f    1 1  kg/m2s  -  1 1  Rainf_f    1 1  kg/m2s  -  1 1
::
#TotalPrecip    1  1   kg/m2s  DN  1 1   SoilMoist    1 1  m3/m3  -  1 1
#::
# Two datastreams:  1 and 2 have the following inputs --
# Short_name, select, units, dir_type, tavg_opt(0-inst,1-tavg), num_vertlevs

LVT surface soil layer thickness:   0.10   # Top soil layer thickness (in meters)
LVT root zone soil layer thickness:  1.0   # Root zone soil layer thickness for analysis (in meters)

## Stats specifications (only applicable to retrospective mode):

# Climatology table:
Metrics attributes file:        ./METRICS.TBL    # Metrics used in analysis, e.g., METRICS.TBL
Metrics output directory:       ./OUTPUT       # Output directory for all stats files
LVT diagnostic file:            ./OUTPUT/lvtlog
#Time series location file:      ./TS_Domains/TS_FAME-SAZ1_25KM_SMDA.TXT   # Time-series attribs file, e.g., TS_LOCATIONS.TXT
Metrics output frequency:       "1da"          # Specifies frequency of analysis output
Metrics computation frequency:  "1da"          # Temporal averaging interval of LIS output and obs data
                                               # - Timescale at which the metric is being calculated ...
#Metrics computation frequency:  "1mo"          # Temporal averaging interval of LIS output and obs data
# ** Percentiles currently only work with daily timescales, and not monthly, at this time ...

Scale model data prior to computing percentiles:   0

Observation count threshold:     0             # Min. number of obs used in computing stats
Spatial averaging mode:         "pixel-by-pixel"  # "pixel-by-pixel" | "region-based"
Confidence interval (%):         95            # Confidence interval threshold (%)

## External Mask options:
Apply external mask:             0             # Apply ext. mask, limiting analysis domain
#    0 - no mask; 1 - temporally varying mask; 2 - fixed mask; 3 -temporal monthly mask
 External mask directory:         none          # Location of ext. mask (seq-access, binary format)

## Stratification data options:
Stratification attributes file:         none    # File which has details of stratification (see Users Guide)
Variable-based stratification:          0       # 1 - stratify errors with select output variable
External data-based stratification:     0       # Stratified errors from external dataset (e.g., landcover)

## Seasonal cycle options:
Seasonal cycle interval type:                  "monthly" # Interval type for avg seasonal calculations (METRICS.TBL)
#  "monthly"; "3 monthly" (DJF,MAM,JJA,SON); "6 monthly"; "yearly" - yearly seasonal cycles?
Seasonal cycle minimum count threshold:         0        # Min number to calculate avg seasonal cycle
Average diurnal cycle minimum count threshold:  0        # Min number to calculate avg diurnal cycle

## Temporal smoothing options:
Apply temporal smoothing to obs:                0        # 1 - Apply temp smoothing to obs 
Starting month if a shifted year definition is used in temporal averaging:  1   # 1 to 12; 10 = Oct, or Water year start 

## Anomaly and percentile calculations options:
# - Specify the time window to compute mean values for Anomaly calculations ...
Averaging window for computing mean values in anomaly calculations:  monthly   # monthly | yearly
#  -- Note: This option only applies if Anomaly metrics are selected ...

Compute ensemble metrics:                    0      # 0=off; 1=on, all non-ensemble metrics are off
Compute information theory metrics:          0      # 0=off; 1=on, all other metrics turned off

## DATA STREAM INPUTS ....

IMERG data directory:            ./input/MET_FORCING/IMERG
IMERG version:                   V06B
IMERG product:                   early

# ______________________________________________________________________________
