# == LDT Main Entry Options == 

LDT running mode:                       "LSM parameter processing"                 # LDT type of run-mode (top-level option)
#Processed LSM parameter filename:       ./OUTPUT/lis_input.ohio.noahmp401.hymap.nc # Final output file read by LIS-7
Processed LSM parameter filename:       ./OUTPUT/lis_input.d01.nc # Final output file read by LIS-7
LIS number of nests:                    1
Number of surface model types:          2
Surface model types:                    "LSM"  "Openwater"
Land surface model:                     "Noah-MP.4.0.1"
Routing model:                          "HYMAP2"
Lake model:                             none
Water fraction cutoff value:            0.5
Incorporate crop information:           .false.
Number of met forcing sources:          0
Met forcing sources:                    none

#LDT diagnostic file:                    ./OUTPUT/ldtlog.ohio.noahmp401
#Mask-parameter fill diagnostic file:    ./OUTPUT/MaskParamFill.ohio.noahmp401.log
LDT diagnostic file:                    ./OUTPUT/ldtlog.log
Mask-parameter fill diagnostic file:    ./OUTPUT/MaskParamFill.log
LDT output directory:                   OUTPUT
Undefined value:                        -9999.0
Add buffer to parameter grid domain:    0

# LIS domain:  (See LDT User's Guide for other projection information)
Map projection of the LIS domain:    latlon
Run domain lower left lat:           34.05
Run domain lower left lon:          -89.45
Run domain upper right lat:          42.45
Run domain upper right lon:         -77.55
Run domain resolution (dx):          0.1
Run domain resolution (dy):          0.1

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs 
#Landcover parameter inputs
Landcover data source:                  "MODIS_Native"
Landcover classification:               "IGBPNCEP"
Landcover file:                         ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:            tile
Landcover map projection:               latlon
Landcover fill option:                  neighbor
Landcover fill radius:                  5
Landcover fill value:                   10

# Create landmask field from readin landcover map or read in separate landmask file
Create or readin landmask:      "create"                # create | readin
Landmask data source:           "MODIS_Native"          # If 'created', recommended to put Landcover source name here
Landmask file:                   none                   # Land mask file (if needed to be read-in)
Landmask spatial transform:      none                   # none | mode | neighbor

#Soil parameter inputs
Soil fraction data source:              none
Soils spatial transform:                none
Soils map projection:                   latlon
Soils fill option:                      none
Porosity data source:                   none
Porosity map:                           none

#Soil texture inputs
Soil texture data source:               "STATSGOFAO_Native"
Soil texture map:                       ./input/LS_PARAMETERS/noah_2dparms/topsoil30snew
Soil texture spatial transform:         mode
Soil texture map projection:            latlon
Soil texture fill option:               neighbor
Soil texture fill radius:               5
Soil texture fill value:                6
Soil texture fill value for Antarctica: 16
Soil texture force exclusion of water points during fill: true

#Topography parameter inputs
Elevation data source:                  "MERIT_1K"
Elevation number of bands:              1
Elevation map:                          ./input/LS_PARAMETERS/topo_parms/MERIT
Elevation fill option:                  none
Elevation fill radius:                  5
Elevation fill value:                   0

Slope data source:                      "MERIT_1K"
Slope number of bands:                  1
Slope map:                              ./input/LS_PARAMETERS/topo_parms/MERIT
Slope fill option:                      none
Slope fill radius:                      5
Slope fill value:                       0

Aspect data source:                     "MERIT_1K"
Aspect number of bands:                 1
Aspect map:                             ./input/LS_PARAMETERS/topo_parms/MERIT
Aspect fill option:                     none
Aspect fill radius:                     5
Aspect fill value:                      3.14159

Topography spatial transform:           average
Topography map projection:              latlon

#Albedo inputs
Albedo data source:                     "NCEP_Native"
Albedo map:                             ./input/LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:            monthly
Albedo spatial transform:               "budget-bilinear"
Albedo map projection:                  latlon
Albedo fill option:                     neighbor
Albedo fill radius:                     5
Albedo fill value:                      0.15

#Maximum snow albedo inputs
Max snow albedo data source:            "Barlage_Native"
Max snow albedo map:                    ./input/LS_PARAMETERS/noah_2dparms/maximum_snow_albedo.hdf
Max snow albedo spatial transform:      average
Max snow albedo map projection:         latlon
Max snow albedo fill option:            neighbor
Max snow albedo fill radius:            5
Max snow albedo fill value:             0.3

#Greenness inputs
Greenness data source:                  "NCEP_Native"
Greenness fraction map:                 ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:         monthly
Calculate min-max greenness fraction:   .false.
Greenness maximum map:                  ./input/LS_PARAMETERS/noah_2dparms/gfrac_max.asc
Greenness minimum map:                  ./input/LS_PARAMETERS/noah_2dparms/gfrac_min.asc
Greenness spatial transform:            "budget-bilinear"
Greenness map projection:               latlon
Greenness fill option:                  neighbor
Greenness fill radius:                  5
Greenness fill value:                   0.3
Greenness maximum fill value:           1.0
Greenness minimum fill value:           0.0

#Slope type inputs
Slope type data source:         "NCEP_Native"
Slope type map:                 ./input/LS_PARAMETERS/noah_2dparms/islope         # Slope type map
Slope type spatial transform:   neighbor                # none | neighbor | mode
Slope type fill option:         neighbor                # none | neighbor
Slope type fill radius:           5                     # Number of pixels to search for neighbor
Slope type fill value:            3.                    # Static value to fill where missing
Slope type map projection:      latlon

#Bottom temperature inputs
Bottom temperature data source:         "ISLSCP1"
Bottom temperature map:                 ./input/LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:   "budget-bilinear"
Bottom temperature map projection:      latlon
Bottom temperature fill option:         average
Bottom temperature fill radius:         5
Bottom temperature fill value:          287.0
Bottom temperature topographic downscaling:  "lapse-rate"

#Noah-MP LSM inputs
Noah-MP PBL Height Value:               900.

# =======================================================
# HYMAP River routing parameters:
HYMAP river width map:                   ./input/hymap_params/lis_rivwth_010.bin
HYMAP river height map:                  ./input/hymap_params/lis_rivhgt_010.bin
HYMAP river roughness map:               ./input/hymap_params/lis_rivman_010.bin
HYMAP floodplain roughness map:          ./input/hymap_params/lis_fldman_010.bin
HYMAP river length map:                  ./input/hymap_params/lis_rivlen_010.bin
HYMAP floodplain height map:             ./input/hymap_params/lis_fldhgt_merged_010.bin
HYMAP floodplain height levels:          10
HYMAP flow direction x map:              ./input/hymap_params/lis_nextx_010.bin
HYMAP flow direction y map:              ./input/hymap_params/lis_nexty_010.bin
HYMAP grid elevation map:                ./input/hymap_params/lis_elevtn_010.bin
HYMAP grid distance map:                 ./input/hymap_params/lis_nxtdst_010.bin
HYMAP grid area map:                     ./input/hymap_params/lis_grarea_010.bin
HYMAP runoff time delay map:             ./input/hymap_params/lis_getirana_paiva_010.bin
HYMAP runoff time delay multiplier map:  ./input/hymap_params/lis_trunoff_010.bin
HYMAP baseflow time delay map:           ./input/hymap_params/lis_tbasflw_010.bin
HYMAP reference discharge map:           ./input/hymap_params/lis_qrefer_010.bin
HYMAP basin mask map:                    ./input/hymap_params/lis_mask_010.bin
HYMAP drainage area map:                 ./input/hymap_params/lis_uparea_010.bin
HYMAP basin map:                         ./input/hymap_params/lis_basin_010.bin
HYMAP river flow type map:               ./input/hymap_params/lis_trunoff_010.bin
HYMAP baseflow dwi ratio map:            ./input/hymap_params/lis_trunoff_010.bin
HYMAP runoff dwi ratio map:              ./input/hymap_params/lis_trunoff_010.bin
HYMAP params spatial transform:          none
HYMAP params map projection:             latlon
HYMAP params lower left lat:               34.05
HYMAP params lower left lon:              -89.45
HYMAP params upper right lat:              42.45
HYMAP params upper right lon:             -77.55
HYMAP params resolution (dx):               0.1
HYMAP params resolution (dy):               0.1

