#Overall driver options
LDT running mode:                       "LSM parameter processing"
Processed LSM parameter filename:       ./lis_input.nc
LIS number of nests:                    1
Number of surface model types:          1
Surface model types:                    "LSM"
Land surface model:                     "Noah-MP.4.0.1"
Routing model:                          "HYMAP"
Lake model:                             none
Water fraction cutoff value:            0.1
Incorporate crop information:           .false.
Number of met forcing sources:          2
Met forcing sources:                    "ERA5" "MERRA2"  #"GPM IMERG"  #none
Met spatial transform methods:          bilinear neighbor
Topographic correction method (met forcing): "lapse-rate" "lapse-rate"     # none | lapse-rate
Temporal interpolation method (met forcing): linear linear


LDT diagnostic file:                    ./ldtlog
Mask-parameter fill diagnostic file:    ./MaskParamFill.log
LDT output directory:                   OUTPUT
Undefined value:                        -9999.0

MERRA2 forcing directory:               ./input/MET_FORCING/MERRA2/
MERRA2 use lowest model level forcing:    1
MERRA2 use corrected total precipitation: 1
MERRA2 geopotential terrain height file: ./input/MET_FORCING/MERRA2/MERRA2_100/MERRA2_101.const_2d_asm_Nx.00000000.nc4

ERA5 forcing directory:      ./input/MET_FORCING/ERA5/
ERA5 forcing tile to grid mapping file: ./input/MET_FORCING/ERA5/mapping.nc
ERA5 forcing terrain height file: ./input/MET_FORCING/ERA5/era5_elev.nc

-113. -104. 35. 44.
#Upper Colorado basin domain
Map projection of the LIS domain:       latlon
Run domain lower left lon:              -112.95   #  28.85 + 0.05
Run domain lower left lat:                35.05    #-113.94 + 0.05
Run domain upper right lon:             -105.55   #  49.74 - 0.05
Run domain upper right lat:               43.45   # -77.83 - 0.05
Run domain resolution (dx):                0.10   #   0.25
Run domain resolution (dy):                0.10   #   0.25

#Landcover parameter inputs
Landcover data source:                  "MODIS_Native"
Landcover classification:               "IGBPNCEP"
#Landcover file:                         ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
#Landcover file:                         /discover/nobackup/projects/servirwa/pos/src/landcover/igbp_no_wetland_inner_ocean_char.bin
Landcover file:                         ./input/igbp_no_wetland_inner_ocean_char.bin
Landcover spatial transform:            mode #neighbor
Landcover map projection:               latlon
Landcover fill option:                  neighbor
Landcover fill radius:                  5
Landcover fill value:                   6

#Landmask parameter inputs
Create or readin landmask:              "create"
Landmask data source:                   "MODIS_Native"
Landmask file:                          /discover/nobackup/swang9/Projects/Freshwater/mask/mask_be_sq.bin
Landmask spatial transform:             none
Landmask map projection:                latlon
Landmask lower left lat:                28.855  #  28.85 + 0.005
Landmask lower left lon:              -113.935  #-113.94 + 0.005
Landmask upper right lat:               49.735  #  49.74 - 0.005
Landmask upper right lon:              -77.835  # -77.83 - 0.005
Landmask resolution (dx):                0.01   #   0.01
Landmask resolution (dy):                0.01   #   0.01



#Soil parameter inputs
Soil fraction data source:              none
Soils spatial transform:                none
Soils map projection:                   latlon
Soils fill option:                      none
Porosity data source:                   none
Porosity map:                           none

#Soil texture inputs
Soil texture data source:               "ISRIC"
Soil texture map:                       ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/TEXMHT_M_sl1_250m.tif
Soil texture spatial transform:         neighbor
Soil texture map projection:            latlon
Soil texture fill option:               neighbor
Soil texture fill radius:               5
Soil texture fill value:                6

#Topography parameter inputs
Elevation data source:                  "MERIT_1K"
Elevation number of bands:              1
Elevation map:                          ./input/LS_PARAMETERS/topo_parms/MERIT
Elevation fill option:                  neighbor
Elevation fill radius:                  5
Elevation fill value:                   0.0

Slope data source:                      "MERIT_1K"
Slope number of bands:                  1
Slope map:                              
Slope fill option:                      neighbor
Slope fill radius:                      5
Slope fill value:                       0.0

Aspect data source:                     "MERIT_1K"
Aspect number of bands:                 1
Aspect map:                             
Aspect fill option:                     neighbor
Aspect fill radius:                     5
Aspect fill value:                      3.14159

Topography spatial transform:           average
Topography map projection:              latlon

#Albedo inputs
Albedo data source:                     "NCEP_Native"
Albedo map:                             ./input/LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:            monthly
Albedo spatial transform:               "budget-bilinear"
Albedo map projection:                  latlon
Albedo fill option:                     neighbor
Albedo fill radius:                     5
Albedo fill value:                      0.14

#Maximum snow albedo inputs
Max snow albedo data source:            "Barlage_Native"
Max snow albedo map:                    ./input/LS_PARAMETERS/noah_2dparms/maximum_snow_albedo.hdf
Max snow albedo spatial transform:      "budget-bilinear"
Max snow albedo map projection:         latlon
Max snow albedo fill option:            neighbor
Max snow albedo fill radius:            5
Max snow albedo fill value:             0.5

#Greenness inputs
Greenness data source:                  "NCEP_Native"
Greenness fraction map:                 ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:         monthly
Calculate min-max greenness fraction:   .true.
Greenness spatial transform:            "budget-bilinear"
Greenness map projection:               latlon
Greenness fill option:                  neighbor
Greenness fill radius:                  5
Greenness fill value:                   0.3
Greenness maximum fill value:           1.0
Greenness minimum fill value:           0.0

#Slope type inputs
Slope type data source:                 none

#Bottom temperature inputs
Bottom temperature data source:         "ISLSCP1"
Bottom temperature map:                 ./input/LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:   "budget-bilinear"
Bottom temperature map projection:      latlon
Bottom temperature fill option:         average
Bottom temperature fill radius:         5
Bottom temperature fill value:          287.0
Bottom temperature topographic downscaling:  "lapse-rate"

#Noah-MP LSM inputs
Noah-MP PBL Height Value:               900.


# =======================================================

# HYMAP River routing parameters:

HYMAP river width map:              ./input/hymap_010/lis_rivwth_merged_010.bin
HYMAP river height map:             ./input/hymap_010/lis_rivhgt_010.bin
HYMAP river roughness map:          ./input/hymap_010/lis_rivman_010.bin
HYMAP floodplain roughness map:     ./input/hymap_010/lis_fldman_010.bin
HYMAP river length map:             ./input/hymap_010/lis_rivlen_010.bin
HYMAP floodplain height map:        ./input/hymap_010/lis_fldhgt_merged_010.bin
HYMAP floodplain height levels:     10
HYMAP flow direction x map:         ./input/hymap_010/lis_nextx_010.bin
HYMAP flow direction y map:         ./input/hymap_010/lis_nexty_010.bin
HYMAP grid elevation map:           ./input/hymap_010/lis_elevtn_010.bin
HYMAP grid distance map:            ./input/hymap_010/lis_nxtdst_010.bin
HYMAP grid area map:                ./input/hymap_010/lis_grarea_010.bin
HYMAP runoff time delay map:        ./input/hymap_010/lis_getirana_paiva_010.bin
HYMAP runoff time delay multiplier map:  ./input/hymap_010/lis_trunoff_010.bin
HYMAP baseflow time delay map:      ./input/hymap_010/lis_tbasflw_010.bin
HYMAP reference discharge map:      ./input/hymap_010/lis_qrefer_010.bin
HYMAP basin mask map:               ./input/hymap_010/lis_basin_mask_010.bin
HYMAP drainage area map:            ./input/hymap_010/lis_uparea_010.bin
HYMAP basin map:                    ./input/hymap_010/lis_basin_010.bin
HYMAP river flow type map:          ./input/hymap_010/lis_real_mask_010.bin
HYMAP baseflow dwi ratio map:       ./input/hymap_010/lis_real_mask_010.bin
HYMAP runoff dwi ratio map:         ./input/hymap_010/lis_real_mask_010.bin

HYMAP node lon:                     ./input/hymap_010/lis_nodelon_010.bin
HYMAP node lat:                     ./input/hymap_010/lis_nodelat_010.bin
HYMAP runoff bias correction map:   ./input/hymap_010/lis_runoff_bias_correction_010.bin

HYMAP params spatial transform:      none
HYMAP params map projection:        latlon
HYMAP params lower left lon:       -112.95
HYMAP params lower left lat:         35.05
HYMAP params upper right lon:      -105.55
HYMAP params upper right lat:        43.45
HYMAP params resolution (dx):        0.100
HYMAP params resolution (dy):        0.100
