#Overall driver options
Running mode: 		         "AGRMET ops"
Map projection of the LIS domain: "latlon"
Number of nests:                  1 
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "3hr"
Land surface model:             "Noah.3.3"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "AGRMET"
Topographic correction method (met forcing):  "none" "none"
Enable spatial downscaling of precipitation:   0   0 
Spatial interpolation method (met forcing):   "bilinear" "bilinear"
Spatial upscaling method (met forcing):       "average" "average"
Temporal interpolation method (met forcing):  "linear" "linear"

#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output methodology:                        "2d gridspace"
Output model restart files:                1
Output data format:                        grib1
Output naming style:                       "WMO convention"
Start mode:                                coldstart
Starting year:                             2016
Starting month:                            04
Starting day:                              11
Starting hour:                             06
Starting minute:                           0
Starting second:                           0
Ending year:                               2016
Ending month:                              04
Ending day:                                11
Ending hour:                               18
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'OUTPUT/lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    4
Number of processors along y:    3
Halo size along x: 0 
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2 # added by Shugong
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0
Data assimilation use a trained forward model:       0
Data assimilation trained forward model output file: none

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./input/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./input/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt

SNODEP data directory:   ./input/RS_DATA/SNODEP/mesh8
SNODEP mesh resolution:  8
SNODEP naming convention:  LIS


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

#Run domain lower left lat:                  37.505
#Run domain lower left lon:                 126.805
#Run domain upper right lat:                 38.495
#Run domain upper right lon:                127.795
#Run domain resolution (dx):                  0.01
#Run domain resolution (dy):                  0.01

Run domain lower left lat:                 -59.875
Run domain lower left lon:                -179.875
Run domain upper right lat:                 89.875
Run domain upper right lon:                179.875
Run domain resolution (dx):                  0.25
Run domain resolution (dy):                  0.25

#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"
Max snow albedo data source:     "LDT"

LIS domain and parameter data file: ./lis_input.d01.nc
Use greenness fraction climatology: 1
Use albedo climatology: 1
Albedo climatology interval type: monthly

#--------------------------------FORCINGS----------------------------------
#NLDAS2 (suppforcing option =5)
GDAS forcing directory:                ../MET_FORCING/GDAS/
GDAS domain x-dimension size:         512
GDAS domain y-dimension size:         256
GDAS number of forcing variables:     9

AGRMET forcing directory:               ./input/AFWA
AGRMET first guess source:              GALWEM
AGRMET retrospective root filename:     "/PS.AFWA_SC.U_DI.C_DC.ANLYS_GP.LIS_GR.C0P25DEG_AR.GLOBAL_PA.03-HR-SUM_DD."
AGRMET analysis directory:              ./OUTPUT/analysis
AGRMET surface fields directory:        SFCALC
AGRMET merged precip directory:         PRECIP
AGRMET cloud data directory:            WWMCA
AGRMET GFS data directory:              GFS
AGRMET GALWEM data directory:           GALWEM
AGRMET SSMI data directory:             SSMI
AGRMET GEOPRECIP data directory:        GEO
AGRMET JMOBS data directory:            CDMS
AGRMET use timestamp on directories:    1
AGRMET latlon mask file:                ./input/global_0p25/mask_25KM.1gd4r
AGRMET terrain file:                    ./input/agrmet_parms/pst_8/terrain
AGRMET 8th polar mask file:             ./input/agrmet_parms/pst_8/point_switches
AGRMET 8th polar terrain file:          ./input/agrmet_parms/pst_8/terrain
AGRMET 16th polar mask file:            ./input/agrmet_parms/pst_16/point_switches
AGRMET 16th polar terrain file:         ./input/agrmet_parms/pst_16/terrain
AGRMET 64th polar mask file:            ./input/agrmet_parms/pst_16/point_switches
AGRMET 64th polar terrain file:         ./input/agrmet_parms/pst_16/terrain
AGRMET native imax:                     512  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET native jmax:                     512  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET GEOPRECIP imax:                  1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET GEOPRECIP jmax:                  1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET SSMI imax:                       1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET SSMI jmax:                       1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET sfcalc cntm file:                ./input/global_0p25/spread_radii.1gd4r
AGRMET precip climatology:              ./input/global_0p25/
AGRMET nogaps wind weight:              0.75
AGRMET minimum wind speed:              0.25
AGRMET use present/past weather estimate: 1
AGRMET use precip observations:         1
AGRMET use GFS precip:                  0
AGRMET use GALWEM precip:               0

AGRMET use CMORPH data:                 0
AGRMET CMORPH imax:                     4948
AGRMET CMORPH jmax:                     1649
AGRMET CMORPH min lat:                  -59.963614
AGRMET CMORPH max lat:                  59.963614
AGRMET CMORPH min lon:                  -179.963622
AGRMET CMORPH max lon:                  179.963622
AGRMET CMORPH dx:                       0.072771377
AGRMET CMORPH dy:                       0.072756669
AGRMET CMORPH maximum temperature threshold:    278
AGRMET CMORPH minimum temperature threshold:    273

AGRMET use SSMI data:                   1
AGRMET use CDFSII-based estimate:       1
AGRMET use GEOPRECIP estimate:          2
AGRMET CDFSII time interval:            6
AGRMET use precip climatology:          1
AGRMET SSMI zero use switch:            1
AGRMET snow distribution shape parameter: 2.6
AGRMET alternate monthly weighting factor: 1.0
AGRMET minimum 3hr climo value:            0.025
AGRMET maximum 3hr climo value:            0.375
AGRMET minimum precip-per-precip day multiplier: 0.0
AGRMET maximum precip-per-precip day multiplier: 1.1
AGRMET cloud threshold to generate CDFSII estimate: 85.0
AGRMET median cloud cover percentage1:              15.0
AGRMET median cloud cover percentage2:              0.60
AGRMET overcast percentage:                         0.30
AGRMET 3hr maximum precip ceiling:                  200.0
AGRMET security classification:            U
AGRMET distribution classification:        C
AGRMET data category:                      ANLYS
AGRMET area of data:                       GLOBAL

#-----------------------LAND SURFACE MODELS--------------------------

Noah.3.3 model timestep:                  "15mn"
Noah.3.3 restart output interval:         "1da"
Noah.3.3 restart file:                    ./input/LIS.E001.201212310000.d01.Noah33rst
Noah.3.3 vegetation parameter table:      ./input/noah33_parms/VEGPARM.TBL.LIS7
Noah.3.3 soil parameter table:            ./input/noah33_parms/SOILPARM.TBL.LIS7
Noah.3.3 general parameter table:         ./input/noah33_parms/GENPARM.TBL.LIS7
Noah.3.3 use PTF for mapping soil properties: 0
Noah.3.3 soils scheme:                    2
Noah.3.3 number of soil layers:           4
Noah.3.3 layer thicknesses:               0.1  0.3  0.6  1.0
Noah.3.3 initial skin temperature:        288.0 
Noah.3.3 initial soil temperatures:       288.0  288.0  288.0  288.0  
Noah.3.3 initial total soil moistures:    0.080 0.080 0.080 0.080
Noah.3.3 initial liquid soil moistures:   0.080 0.080 0.080 0.080
Noah.3.3 initial canopy water:            0.0                              
Noah.3.3 initial snow depth:              0.0                              
Noah.3.3 initial snow equivalent:         0.0                              
Noah.3.3 fixed max snow albedo:           0.0                              
Noah.3.3 fixed deep soil temperature:     0.0                              
Noah.3.3 fixed vegetation type:           0                                
Noah.3.3 fixed soil type:                 0                                
Noah.3.3 fixed slope type:                0 
Noah.3.3 sfcdif option:                   1
Noah.3.3 z0 veg-type dependence option:   0
Noah.3.3 greenness fraction:  0.01  0.02  0.07  0.17  0.27  0.58  0.93  0.96  0.65  0.24  0.11  0.02
Noah.3.3 background albedo:   0.18  0.17  0.16  0.15  0.15  0.15  0.15  0.16  0.16  0.17  0.17  0.18
Noah.3.3 background roughness length: 0.020 0.020 0.025 0.030 0.035 0.036 0.035 0.030 0.027 0.025 0.020 0.020
Noah.3.3 reference height for forcing T and q:   6.0
Noah.3.3 reference height for forcing u and v:   6.0


#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

#Energy balance components

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255
Output GRIB Packing Type:  grid_simple


Model output attributes file:  MODEL_OUTPUT_LIST.TBL

