#input grid 
input domain grid projection:                 0 
input domain lower left lat:                  29.625
input domain lower left lon:                -101.125
input domain upper right lat:                 50.125
input domain upper right lon:                -70.875
input domain resolution dx:                    0.25
input domain resolution dy:                    0.25

input domain landmask file:                   ./UMD-25KM/UMD_mask0.25.1gd4r 
input domain landcover file:                  ./UMD-25KM/UMD_veg0.25.1gd4r
input landcover lower left lat:              -59.875
input landcover lower left lon:              -179.875
input landcover upper right lat:              89.875
input landcover upper right lon:              179.875
input landcover resolution (dx):              0.25
input landcover resolution (dy):              0.25

input domain number of ensembles per tile:    1 
input maximum number of tiles per grid:       1
input cutoff percentage:                      0.05

input LIS restart file:  LIS.E111.200211150000.d01.Noahrst

#When the output grid is defined, it should be ensured that it fits completely within
#the input grid

#output grid

output domain grid projection:                 0
output domain lower left lat:                  30.995
output domain lower left lon:                -100.995
output domain upper right lat:                 40.995
output domain upper right lon:                -80.995
output domain resolution dx:                    0.01
output domain resolution dy:                    0.01

output domain landmask file:                  ./UMD-1KM/UMD_601KMmask.1gd4r 
output domain landcover file:                 ./UMD-1KM/UMD_601KM.1gd4r
output landcover lower left lat:              -59.995
output landcover lower left lon:              -179.995
output landcover upper right lat:              89.995
output landcover upper right lon:              179.995
output landcover resolution (dx):              0.01
output landcover resolution (dy):              0.01

output domain number of ensembles per tile:    1 
output maximum number of tiles per grid:       1
output cutoff percentage:                      0.05

output LIS restart file:           file2 

number of landcover types:                     13
number of fields in the restart file:          18 

