max_stations:      6000
max_vario_bins:     51
vario_bin_dist:     10
datadir: "./precip_OBA"
obtype: Gage
use_blacklist: true
blacklist_file: blacklist_precip.txt

startyear:    2023
startmonth:     07
startday:       04
starthour:      00

endyear:    2023
endmonth:     08
endday:       01
endhour:      00

intervalyear:       0
intervalmonth:      0
intervalday:        0
intervalhour:       6

outfile: semivariogram_gage_nwp.out
