max_stations:     10000
max_vario_bins:     51
vario_bin_dist:     10
datadir: "./rh2m_OBA"
obtype: RH2M
use_blacklist: true
blacklist_file: blacklist_rh2m.txt

startyear:    2023
startmonth:     07
startday:       04
starthour:      00

endyear:    2023
endmonth:     08
endday:       01
endhour:      00

intervalyear:       0
intervalmonth:      0
intervalday:        0
intervalhour:       6

outfile: semivariogram_rh2m_nwp.out
