max_stations:     10000
max_vario_bins:     51
vario_bin_dist:     10
datadir: "./spd10m_OBA"
obtype: SPD10M
use_blacklist: true
blacklist_file: blacklist_spd10m.txt

startyear:    2020
startmonth:     02
startday:       02
starthour:      12

endyear:    2020
endmonth:     03
endday:       07
endhour:      00

intervalyear:       0
intervalmonth:      0
intervalday:        0
intervalhour:       6

outfile: semivariogram_spd10m_nwp.out
