#Overall driver options
LDT running mode:                       "DA preprocessing"
Processed LSM parameter filename:       ./lis_input.d01.nc
LIS number of nests:                    1
Number of surface model types:          1
Surface model types:                    "LSM"
Land surface model:                     "Noah-MP.4.0.1"
Lake model:                             none
Water fraction cutoff value:            0.1
Incorporate crop information:           .false.
Number of met forcing sources:          1
Met forcing sources:                    "MERRA2" # "GPM IMERG"  #none
Met spatial transform methods:          bilinear
Topographic correction method (met forcing): "lapse-rate"     # none | lapse-rate

LDT diagnostic file:                    ./ldtlog
Mask-parameter fill diagnostic file:    ./MaskParamFill.log
LDT output directory:                   OUTPUT
Undefined value:                        -9999.0
MERRA2 forcing directory:               ./input/MET_FORCING/MERRA2/
MERRA2 use lowest model level forcing:    1
MERRA2 use corrected total precipitation: 1
MERRA2 geopotential terrain height file: ./input/MET_FORCING/MERRA2/MERRA2_100/MERRA2_101.const_2d_asm_Nx.00000000.nc4 

#Western US domain
Map projection of the LIS domain:       latlon
Run domain lower left lat:                31.905
Run domain lower left lon:              -124.995
Run domain upper right lat:               52.995
Run domain upper right lon:             -109.405
Run domain resolution (dx):                0.01
Run domain resolution (dy):                0.01

#Landcover parameter inputs
Landcover data source:                  "MODIS_Native"
Landcover classification:               "IGBPNCEP"
Landcover file:                         ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:            tile #mode #neighbor
Landcover map projection:               latlon
Landcover fill option:                  neighbor
Landcover fill radius:                  5
Landcover fill value:                   6

#Landmask parameter inputs
Create or readin landmask:              "create"
Landmask data source:                   "MODIS_Native"
Landmask file:                          ./input/mask_be_sq.bin
Landmask spatial transform:             none
Landmask map projection:                latlon
Landmask lower left lat:                28.855  #  28.85 + 0.005
Landmask lower left lon:              -113.935  #-113.94 + 0.005
Landmask upper right lat:               49.735  #  49.74 - 0.005
Landmask upper right lon:              -77.835  # -77.83 - 0.005
Landmask resolution (dx):                0.01   #   0.01
Landmask resolution (dy):                0.01   #   0.01



#Soil parameter inputs
Soil fraction data source:              none
Soils spatial transform:                none
Soils map projection:                   latlon
Soils fill option:                      none
Porosity data source:                   none
Porosity map:                           none

#Soil texture inputs
Soil texture data source:               "ISRIC"
Soil texture map:                       ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/TEXMHT_M_sl1_250m.tif
Soil texture spatial transform:         mode
Soil texture map projection:            latlon
Soil texture fill option:               neighbor
Soil texture fill radius:               5
Soil texture fill value:                6

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

#Topography parameter inputs
Elevation data source:                  "MERIT_1K"
Elevation number of bands:              1
Elevation map:                          ./input/LS_PARAMETERS/topo_parms/MERIT
Elevation fill option:                  neighbor
Elevation fill radius:                  5
Elevation fill value:                   0.0

Slope data source:                      "MERIT_1K"
Slope number of bands:                  1
Slope map:                              
Slope fill option:                      neighbor
Slope fill radius:                      5
Slope fill value:                       0.0

Aspect data source:                     "MERIT_1K"
Aspect number of bands:                 1
Aspect map:                             
Aspect fill option:                     neighbor
Aspect fill radius:                     5
Aspect fill value:                      3.14159

Topography spatial transform:           average
Topography map projection:              latlon

#Albedo inputs
Albedo data source:                     "NCEP_Native"
Albedo map:                             ./input/LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:            monthly
Albedo spatial transform:               "budget-bilinear"
Albedo map projection:                  latlon
Albedo fill option:                     neighbor
Albedo fill radius:                     5
Albedo fill value:                      0.14

#Maximum snow albedo inputs
Max snow albedo data source:            "Barlage_Native"
Max snow albedo map:                    ./input/LS_PARAMETERS/noah_2dparms/maximum_snow_albedo.hdf
Max snow albedo spatial transform:      "budget-bilinear"
Max snow albedo map projection:         latlon
Max snow albedo fill option:            neighbor
Max snow albedo fill radius:            5
Max snow albedo fill value:             0.5

#Greenness inputs
Greenness data source:                  "NCEP_Native"
Greenness fraction map:                 ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:         monthly
Calculate min-max greenness fraction:   .true.
Greenness spatial transform:            "budget-bilinear"
Greenness map projection:               latlon
Greenness fill option:                  neighbor
Greenness fill radius:                  5
Greenness fill value:                   0.3
Greenness maximum fill value:           1.0
Greenness minimum fill value:           0.0

#Slope type inputs
Slope type data source:                 none

#Bottom temperature inputs
Bottom temperature data source:         "ISLSCP1"
Bottom temperature map:                 ./input/LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:   "budget-bilinear"
Bottom temperature map projection:      latlon
Bottom temperature fill option:         average
Bottom temperature fill radius:         5
Bottom temperature fill value:          287.0
Bottom temperature topographic downscaling:  "lapse-rate"

#Noah-MP LSM inputs
Noah-MP PBL Height Value:               900.


# =======================================================

# HYMAP River routing parameters:
Routing model:                          "none"

#HYMAP river width map:              ./hymap_010/lis_rivwth_010.bin
#HYMAP river height map:             ./hymap_010/lis_rivhgt_010.bin
#HYMAP river roughness map:          ./hymap_010/lis_rivman_010.bin
#HYMAP floodplain roughness map:     ./hymap_010/lis_fldman_010.bin
#HYMAP river length map:             ./hymap_010/lis_rivlen_010.bin
#HYMAP floodplain height map:        ./hymap_010/lis_fldhgt_010.bin
#HYMAP floodplain height levels:     10
#HYMAP flow direction x map:         ./hymap_010/lis_nextx_010.bin
#HYMAP flow direction y map:         ./hymap_010/lis_nexty_010.bin
#HYMAP grid elevation map:           ./hymap_010/lis_elevtn_010.bin
#HYMAP grid distance map:            ./hymap_010/lis_nxtdst_010.bin
#HYMAP grid area map:                ./hymap_010/lis_grarea_010.bin
#HYMAP runoff time delay map:        ./hymap_010/lis_getirana_paiva_010.bin
#HYMAP runoff time delay multiplier map:  ./hymap_010/lis_trunoff_010.bin
#HYMAP baseflow time delay map:      ./hymap_010/lis_tbasflw_010.bin
#HYMAP reference discharge map:      ./hymap_010/lis_qrefer_010.bin
#HYMAP basin mask map:               ./hymap_010/lis_mask_010.bin
#HYMAP drainage area map:            ./hymap_010/lis_uparea_010.bin
#HYMAP basin map:                    ./hymap_010/lis_basin_010.bin
#HYMAP river flow type map:          ./hymap_010/lis_real_mask_010.bin
#HYMAP baseflow dwi ratio map:       ./hymap_010/lis_real_mask_010.bin
#HYMAP runoff dwi ratio map:         ./hymap_010/lis_real_mask_010.bin

#HYMAP params spatial transform:      none
#HYMAP params map projection:        latlon
#HYMAP params lower left lat:        27.550
#HYMAP params lower left lon:      -114.950
#HYMAP params upper right lat:       50.450
#HYMAP params upper right lon:      -75.550
#HYMAP params resolution (dx):        0.100
#HYMAP params resolution (dy):        0.100

# ---------------------------------------------------------------------
#-----DATA ASSIMILATION PREPARATION------------------------------------
DA observation source:                      "ESA CCI soil moisture"
DA preprocessing method:                     "CDF generation"
Name of the preprocessed DA file:            cdf_ccipassive_1km_yearly

Number of bins to use in the CDF:            100
Temporal resolution of CDFs:                 "yearly"
#Enable spatial sampling for CDF calculations: 0
#Spatial sampling window radius for CDF calculations: 2
Observation count threshold:                  30
Apply external mask:                          0
External mask directory:                      none
Number of ensembles per tile:         1
Search radius for openwater proximity detection: 1

Starting year:                        2001
Starting month:                       1
Starting day:                         1
Starting hour:                        0
Starting minute:                      0
Starting second:                      0
Ending year:                          2014
Ending month:                         12
Ending day:                           31
Ending hour:                          0
Ending minute:                        0
Ending second:                        0
Temporal averaging interval:         "1da"
LIS output timestep:                 "1da"

Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.05
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05

ESA CCI soil moisture observation directory: input/RS_DATA/ESACCI/v06.1/PASSIVE/
ESA CCI soil moisture version of data: "6.1"
ESA CCI soil moisture sensor type: "passive"
