LDT running mode:               "LSM parameter processing"
Processed LSM parameter filename:  ./lis_input.d01.nc

LIS number of nests:                   1         # 1 nest supported for now
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                VIC.4.1.2     # Enter LSM of choice
Lake model:                          'none'      # Lake model option: 'none'|'FLake'
Water fraction cutoff value:          0.5
Incorporate crop information:       .false.

Number of met forcing sources:         1         # Enter number of forcing types
Met forcing sources:                 "PRINCETON"      # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "lapse-rate"

LDT diagnostic file:                ldtlog
Number of ensembles per tile:         1
Undefined value:                    -9999.0
LDT output directory:                OUTPUT

#Processor layout
Number of processors along x:         2
Number of processors along y:         2

#LDT/LIS domain and grid:
Map projection of the LIS domain:   latlon
Run domain lower left lat:         -55.5
Run domain lower left lon:        -179.5
Run domain upper right lat:         83.5  
Run domain upper right lon:        179.5
Run domain resolution (dx):          1.0
Run domain resolution (dy):          1.0

#Land cover maps
Landcover data source:          AVHRR
Landcover classification:       "UMD"     # Enter land cover classification type
Landcover file:                 ./input/VIC_PARAMETERS/1deg/g1d.landcover.1gd4r
Landcover spatial transform:     tile
Landcover fill option:           none
Landcover map projection:       latlon
Landcover lower left lat:      -55.5
Landcover lower left lon:     -179.5
Landcover upper right lat:      83.5
Landcover upper right lon:     179.5
Landcover resolution (dx):       1.0
Landcover resolution (dy):       1.0

#Land mask file and options:
Create or readin landmask:    "readin"
Landmask data source: AVHRR
Landmask file:                ./input/VIC_PARAMETERS/1deg/vic_global_mask_1.0.bin
Landmask spatial transform:     none
Landmask map projection:       latlon
Landmask lower left lat:      -55.5
Landmask lower left lon:     -179.5
Landmask upper right lat:      83.5
Landmask upper right lon:     179.5
Landmask resolution (dx):       1.0
Landmask resolution (dy):       1.0

Soils map projection:         latlon
Soils spatial transform:       none
Soils fill option:             none
Sand fraction map:        ./input/LS_PARAMETERS/UMD/25KM/sand_FAO.1gd4r
Clay fraction map:        ./input/LS_PARAMETERS/UMD/25KM/clay_FAO.1gd4r
Silt fraction map:        ./input/LS_PARAMETERS/UMD/25KM/silt_FAO.1gd4r
Soils lower left lat:        -59.875
Soils lower left lon:       -179.875
Soils upper right lat:        89.875
Soils upper right lon:       179.875
Soils resolution (dx):         0.25
Soils resolution (dy):         0.25

#Topography maps
Elevation data source:         GTOPO30_LIS
Elevation map:           ./input/LS_PARAMETERS/UMD/100KM/elev_GTOPO30.1gd4r
Elevation fill option:            none
Elevation number of bands:        1
Topography spatial transform:     none
Topography map projection:       latlon
Topography lower left lat:      -59.5
Topography lower left lon:     -179.5
Topography upper right lat:      89.5
Topography upper right lon:     179.5
Topography resolution (dx):       1.0
Topography resolution (dy):       1.0

PRINCETON elevation map: ./input/metforcing_parms/PRINCETON/hydro1k_elev_mean_1d.asc


# == VIC 4.1.2 Parameter Files ==
VIC412 vegetation param file: ./input/VIC_PARAMETERS/1deg/vegparam_1.0
VIC412 soil param file:       ./input/VIC_PARAMETERS/1deg/soilparam_1.0
VIC412 number of soil cols:      53 
VIC412 number of root zones:     2
VIC412 global LAI flag:          1       # 0: LAI from veg library; 1: LAI from veg param file
VIC412 spatial transform:        none    # Leave as 'none' for now
VIC412 map projection:          latlon
VIC412 lower left lat:         59.5
VIC412 lower left lon:       -179.5
VIC412 upper right lat:        83.5
VIC412 upper right lon:       179.5
VIC412 resolution (dx):         1.0
VIC412 resolution (dy):         1.0
