#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                 1
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "1hr"
Land surface model:             "VIC.4.1.2"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "PRINCETON"
#Topographic correction method (met forcing):  "lapse-rate"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   "bilinear"
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  "linear"

#Runtime options
Forcing variables list file:               ./forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        "2d gridspace"
Output model restart files:                1
Output data format:                        "binary"
Output naming style:                       "4 level hierarchy"
Start mode:                                "coldstart"
Starting year:                             1948
Starting month:                            2
Starting day:                              1
Starting hour:                             1
Starting minute:                           0
Starting second:                           0
Ending year:                               1948
Ending month:                              2
Ending day:                                3
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     13
Minimum cutoff percentage (surface type tiles):    0.05 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

Run domain lower left lat:                 -55.5 
Run domain lower left lon:                -179.5
Run domain upper right lat:                 83.5
Run domain upper right lon:                179.5
Run domain resolution (dx):                  1.0
Run domain resolution (dy):                  1.0

#The following options list the choice of parameter maps to be 
#used
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Max snow albedo data source:     "none"
Greenness data source:           "none"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

LIS domain and parameter data file:         ./lis_input.d01.nc
Use greenness fraction climatology: 0
Use albedo climatology: 0
Albedo climatology interval type: "monthly"


#--------------------------------FORCINGS----------------------------------
PRINCETON forcing directory:      ./input/MET_FORCING/PRINCETON
PRINCETON domain x-dimension size:      360
PRINCETON domain y-dimension size:      180
PRINCETON number of forcing variables:  7


#-----------------------LAND SURFACE MODELS--------------------------
VIC412 model timestep:              1hr  #  VIC model-step (seconds)
VIC412 restart output interval:     1da
VIC412 veg tiling scheme:           1      # 0=VIC tiling; 1=LIS tiling
VIC412 global parameter file:       "none"
VIC412 total number of veg types:   13
VIC412 convert units:               1
VIC412 restart file:                "none"
VIC412 restart file format:         "netcdf"
VIC412 size of state chunk:         2048 
# General model set up
VIC412_NLAYER:                      3       # number of layers
VIC412_WIND_H:                      10      # height of wind speed measurement
VIC412_MEASURE_H:                   2.0     # height of humidity measurement
VIC412_MAX_SNOW_TEMP:               1.5     # maximum temperature at which snow can fall
VIC412_MIN_RAIN_TEMP:               0.0
VIC412_ROOT_ZONES:                  2       # number of root zones                                
VIC412_FULL_ENERGY:                 TRUE
VIC412_QUICK_FLUX:                  FALSE
VIC412_NODES:                       12 
VIC412_FROZEN_SOIL:                 TRUE   # calculate frozen soils
VIC412_DIST_PRCP:                   FALSE    # use distributed precipitati on
VIC412_CORRPREC:                    FALSE   # correct precipitation for gauge undercatch
VIC412_COMPUTE_TREELINE:            FALSE
VIC412_VEGPARAM_LAI:                TRUE
VIC412_LAI_SRC:                     LAI_FROM_VEGPARAM
VIC412_SOIL:                        ./input/VIC_PARAMETERS/1deg/soilparam_1.0            
VIC412_VEGPARAM:                    ./input/VIC_PARAMETERS/1deg/vegparam_1.0 
VIC412_VEGLIB:                      ./input/VIC_PARAMETERS/1deg/world_veg_lib.txt 
VIC412_SNOW_BAND:                   25 ./input/VIC_PARAMETERS/1deg/snowband_1.0_25 
VIC412_BASEFLOW:                    NIJSSEN2001

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'
