
# == LDT Main Entry Options == 

LDT running mode:             "LSM parameter processing"  # LDT type of run-mode (top-level option)

Processed LSM parameter filename:  ./lis_input.d01.nc   # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of surface model types:         2                 # Total number of desired surface model types
Surface model types:                 "LSM"  "Glacier"    # Surface models:  LSM | Openwater | Glacier
Land surface model:                  "Noah-MP.3.6"      # Enter LSM(s) of choice
Routing model:                       "none" #"HYMAP"
Lake model:                          "none"             # Enter Lake model(s) of choice

Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water
Glacier fraction cutoff value:	      0.2

Number of met forcing sources:         1                      # Enter number of forcing types
Met forcing sources:                 "MERRA2"           # Enter 'none' if no forcing selected
Blending method for forcings:        "overlay"
Met spatial transform methods:       "bilinear"               # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing): "lapse-rate"     # none | lapse-rate

LDT diagnostic file:                ldtlog              # Log-based diagnostic output file
Undefined value:                   -9999.0              # Universal undefined value
LDT output directory:               OUTPUT              # If metrics or stats are written out
Number of ensembles per tile:         1                 # The number of ensemble members per tile

# Processor layout 

Number of processors along x:       2
Number of processors along y:       2

# LIS domain:  (See LDT User's Guide for other projection information)

Map projection of the LIS domain: latlon
Run domain lower left lat:       24.0833340
Run domain lower left lon:     -125.0000
Run domain upper right lat:      49.9166679
Run domain upper right lon:     -66.5000
Run domain resolution (dx):       0.04166662697178698
Run domain resolution (dy):       0.04166662697178698

# Glacier 

Glacier mask data source: "GLIMS" "MODIS_Native"
Glacier mask map: ./input/LS_PARAMETERS/GLIMS/glims_global.d01.nc
Glacier mask spatial transform: average
Glacier mask map projection: latlon
Glacier mask lower left lat: -89.995
Glacier mask lower left lon: -179.995
Glacier mask upper right lat: 89.995
Glacier mask upper right lon: 179.995
Glacier mask resolution (dx): 0.01
Glacier mask resolution (dy): 0.01

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs
 
Landcover data source:        "MODIS_Native"
Landcover classification:       "IGBPNCEP"              # Enter land cover classification type
Landcover file:            ./input/LS_PARAMETERS/noah_2dparms/igbp.bin      # Landcover map path
Landcover spatial transform:      tile                  # none | mode | neighbor | tile
Landcover fill option:            none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:        latlon

# Create landmask field from readin landcover map or read in separate landmask file
Create or readin landmask:      "create"                # create | readin
Landmask data source:           "MODIS_Native"          # If 'created', recommended to put Landcover source name here
Landmask file:                   none                   # Land mask file (if needed to be read-in)
Landmask spatial transform:      none                   # none | mode | neighbor

# Soil fraction
Soil fraction data source:    none
Soil fraction number of bands:  1
Sand fraction map:  ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/SNDPPT_M_sl1_250m_ll.tif
Clay fraction map:  ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/CLYPPT_M_sl1_250m_ll.tif
Silt fraction map:  ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/SLTPPT_M_sl1_250m_ll.tif
Soils spatial transform:                average
Soils fill option:                      none
Soils map projection:                   latlon
Soils lower left lat:                   -56.008104
Soils lower left lon:                  -180.00
Soils upper right lat:                  83.9991672
Soils upper right lon:                  179.9999424
Soils resolution (dx):                   0.0020833
Soils resolution (dy):                   0.0020833
 
#Soil texture map:
Soil texture data source:    ISRIC
Soil texture map:        ./input/LS_PARAMETERS/soil_parms/ISRIC/v2017/TEXMHT_M_sl1_250m.tif
Soil texture spatial transform:   mode                  # none | mode | neighbor | tile
Soil texture fill option:       neighbor                # none | neighbor
Soil texture fill radius:         5                     # Number of pixels to search for neighbor
Soil texture fill value:          6                     # Static value to fill where missing 
Soil texture map projection:     latlon
Soil texture lower left lat:                   -56.008104
Soil texture lower left lon:                  -180.00
Soil texture upper right lat:                  83.9991672
Soil texture upper right lon:                  179.9999424
Soil texture resolution (dx):                   0.0020833
Soil texture resolution (dy):                   0.0020833


#Soil texture map:
#Soil texture data source:    STATSGOFAO_Native
#Soil texture map:         ./input/noah_2dparms/topsoil30snew  # Enter soil texture map
#Soil texture spatial transform:   mode                  # none | mode | neighbor | tile
#Soil texture fill option:       neighbor                # none | neighbor
#Soil texture fill radius:         5                     # Number of pixels to search for neighbor
#Soil texture fill value:          6                     # Static value to fill where missing 
#Soil texture map projection:     latlon

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

# SRTM Elevation data entries:
Elevation data source:    "SRTM_LIS"
Elevation map:       ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/srtm_elev1km.1gd4r
Elevation number of bands:     1
Slope data source:        "SRTM_LIS"
Slope map:           ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/srtm_slope1km.1gd4r
Slope number of bands:         1
Aspect data source:       "SRTM_LIS"
Aspect map:          ./input/LS_PARAMETERS/topo_parms/SRTM/SRTM30/srtm_aspect1km.1gd4r
Aspect number of bands:        1

#Elevation data source:    "SRTM_Native"
#Elevation map:       ./input/topo_parms/SRTM/SRTM30/raw/
#Elevation number of bands:     1
#Slope data source:        "SRTM_Native"
#Slope map:           ./input/topo_parms/SRTM/SRTM30/raw/
#Slope number of bands:         1
#Aspect data source:       "SRTM_Native"
#Aspect map:          ./input/topo_parms/SRTM/SRTM30/raw/
#Aspect number of bands:        1

Topography spatial transform:  average
Elevation fill option:         average
Elevation fill radius:         5
Elevation fill value:          0
Slope fill option:             average
Slope fill radius:             5
Slope fill value:              0.1
Aspect fill option:            average
Aspect fill radius:            5
Aspect fill value:             0

Topography map projection:     latlon
Topography lower left lat:     -59.995
Topography lower left lon:     -179.995
Topography upper right lat:     89.995
Topography upper right lon:     179.995
Topography resolution (dx):     0.01
Topography resolution (dy):     0.01
   
# == Main Noah LSM Parameters ==

# Albedo maps:

Albedo data source:            NCEP_Native
Albedo map:                 ./input/LS_PARAMETERS/noah_2dparms/albedo       # Albedo files
Albedo climatology interval:     monthly                # monthly | quarterly
Albedo spatial transform:        bilinear               # average | neighbor | bilinear | budget-bilinear
Albedo fill option:              neighbor               # none | neighbor | average
Albedo fill radius:                5                    # Number of pixels to search for neighbor
Albedo fill value:                0.14                  # Static value to fill where missing
Albedo map projection:           latlon                  

Max snow albedo data source:    NCEP_Native
Max snow albedo map:      ./input/LS_PARAMETERS/noah_2dparms/maxsnoalb.asc  # Max. snow albedo map
Max snow albedo spatial transform:  budget-bilinear     # average | neighbor | bilinear | budget-bilinear
Max snow albedo fill option:        neighbor            # none | neighbor | average
Max snow albedo fill radius:         5                  # Number of pixels to search for neighbor
Max snow albedo fill value:         0.3                 # Static value to fill where missing
Max snow albedo map projection:    latlon

# Greenness fraction maps:

Greenness data source:        NCEP_Native
Greenness fraction map:   ./input/LS_PARAMETERS/noah_2dparms/gfrac          # Greenness fraction map        
Greenness climatology interval:   monthly               # monthly
Calculate min-max greenness fraction: .false.
Greenness maximum map:    ./input/LS_PARAMETERS/noah_2dparms/gfrac_max.asc  # Maximum greenness fraction map
Greenness minimum map:    ./input/LS_PARAMETERS/noah_2dparms/gfrac_min.asc  # Minimum greenness fraction map
Greenness spatial transform:   bilinear                 # average | neighbor | bilinear | budget-bilinear
Greenness fill option:         neighbor                 # none | neighbor | average
Greenness fill radius:           5                      # Number of pixels to search for neighbor
Greenness fill value:           0.30                    # Static value to fill where missing
Greenness maximum fill value:   0.40                    # Static value to fill where missing
Greenness minimum fill value:   0.20                    # Static value to fill where missing
Greenness map projection:      latlon

# Slope type map:

Slope type data source:       NCEP_Native
Slope type map:           ./input/LS_PARAMETERS/noah_2dparms/islope         # Slope type map
Slope type spatial transform:   neighbor                # none | neighbor | mode
Slope type fill option:         neighbor                # none | neighbor
Slope type fill radius:           5                     # Number of pixels to search for neighbor
Slope type fill value:            3                     # Static value to fill where missing
Slope type map projection:      latlon

# Bottom temperature map (lapse-rate correction option):

Bottom temperature data source:     ISLSCP1
Bottom temperature map:     ./input/LS_PARAMETERS/noah_2dparms/SOILTEMP.60     # Bottom soil temperature file
Bottom temperature topographic downscaling:  "lapse-rate"  # none | lapse-rate
Bottom temperature spatial transform:  bilinear            # average | neighbor | bilinear | budget-bilinear
Bottom temperature fill option:        average             # none | average | neighbor
Bottom temperature fill radius:        5                   # Number of pixels to search for neighbor
Bottom temperature fill value:         287.                # Static value to fill where missing
Bottom temperature map projection:     latlon              # Projection type

# Noah-MP Specific Parameters:

Noah-MP PBL Height Value:   900.     # Planetary Boundary layer height (in meters)

# ---------------------------------------------------------------------

###  RIVER ROUTING PARAMETERS  
#HYMAP river width map:                  ./HyMAP_5KM/lis_rivwth_0050.bin
#HYMAP river height map:                 ./HyMAP_5KM/lis_rivhgt_0050.bin
#HYMAP river roughness map:              ./HyMAP_5KM/lis_rivman_0050.bin
#HYMAP floodplain roughness map:         ./HyMAP_5KM/lis_fldman_0050.bin
#HYMAP river length map:                 ./HyMAP_5KM/lis_rivlen_0050.bin
#HYMAP floodplain height map:            ./HyMAP_5KM/lis_fldhgt_0050.bin
#HYMAP floodplain height levels:         10
#HYMAP flow direction x map:             ./HyMAP_5KM/lis_nextx_0050.bin
#HYMAP flow direction y map:             ./HyMAP_5KM/lis_nexty_0050.bin
#HYMAP grid elevation map:               ./HyMAP_5KM/lis_elevtn_0050.bin
#HYMAP grid distance map:                ./HyMAP_5KM/lis_nxtdst_0050.bin
#HYMAP grid area map:                    ./HyMAP_5KM/lis_grarea_0050.bin
#HYMAP runoff time delay map:            ./HyMAP_5KM/lis_getirana_paiva_0050.bin
#HYMAP runoff time delay multiplier map: ./HyMAP_5KM/lis_trunoff_0050.bin
#HYMAP baseflow time delay map:          ./HyMAP_5KM/lis_tbasflw_0050.bin
#HYMAP basin mask map:                   ./HyMAP_5KM/lis_mask_0050.bin
#HYMAP drainage area map:                ./HyMAP_5KM/lis_uparea_0050.bin
#HYMAP basin map:                        ./HyMAP_5KM/lis_basin_0050.bin
#HYMAP river flow type map:              ./HyMAP_5KM/lis_mask_0050.bin
#HYMAP baseflow dwi ratio map:           ./HyMAP_5KM/lis_mask_0050.bin
#HYMAP runoff dwi ratio map:             ./HyMAP_5KM/lis_mask_0050.bin
#HYMAP params spatial transform:         none
#HYMAP params map projection:            latlon
#HYMAP params lower left lat:            24.875
#HYMAP params lower left lon:           -179.625
#HYMAP params upper right lat:           83.875
#HYMAP params upper right lon:          -51.875
#HYMAP params resolution (dx):           0.05
#HYMAP params resolution (dy):           0.05

# ---------------------------------------------------------------------

### Crop information (used also in conjuction with irrigation modeling)

Incorporate crop information:  .false.      # Option to modify LSM parameters if crop info present

Crop classification:         "none"     # Crop classifications: 
                                           #   "FAOSTAT01" (Leff et al.,2004; 
                                           #   "CROPMAP" (Ozdogan etal.,2010);
                                           #   "FAOSTAT05" (Monfreda et al.,2008);
#Crop library directory:  "./LS_PARAMETERS/crop_params/Crop.Library.Files/"

Assign crop value type:        "none"      # Assign: "none", "single", "multiple" crop values
Default crop type:             "maize"     # "maize", "millet", etc.

Crop type data source:       "none"  # UMDCROPMAP, Monfreda08, CONSTANT
#Crop type file:  "./LS_PARAMETERS/crop_params/Monfreda_175Crops/Crops/"
Crop map spatial transform:    "average"   # Upscale
#Crop map spatial transform:    "neighbor"  # Downscale

### Irrigation Maps:

# GRIPC:
Irrigation fraction data source:      "none"
#Irrigation fraction map:    ./LS_PARAMETERS/irrigation/global_gripc/irrigtype_salmon2013.flt
Irrigation fraction spatial transform: average
Irrigation type data source:          "none"
#Irrigation type map:        ./LS_PARAMETERS/irrigation/global_gripc/irrigtype_salmon2013.flt
Irrigation type spatial transform:     tile


# ---------------------------------------------------------------------
MERRA2 forcing directory:        ./input/MET_FORCING/MERRA2/
MERRA2 use lowest model level forcing:    1
MERRA2 use corrected total precipitation: 1
MERRA2 geopotential terrain height file: ./input/MET_FORCING/MERRA2/MERRA2_100/MERRA2_101.const_2d_asm_Nx.00000000.nc4

PPT climatology data source: WORLDCLIM
PPT climatology maps:  ./input/LS_PARAMETERS/climate_maps/WorldClim/prec/prec_
PPT climatology interval:  monthly
Climate params spatial transform: average


