#LVT.config
LVT running mode:                    "Data intercomparison"
Map projection of the LVT analysis:  "latlon"
LVT output format:                   "netcdf"
LVT output methodology:              "2d gridspace"
Analysis data sources:               "UA SNOW"  "none"

Start mode:                                "coldstart"
LVT restart output interval:               "1mo"
#LVT restart filename:                      "./STATS_UA/RST/LVT.200512310000.rst" 
LVT output restart files: 0
Starting year:                             2013
Starting month:                            9
Starting day:                              1
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2013
Ending month:                              10
Ending day:                                30
Ending hour:                               23
Ending minute:                             0
Ending second:                             0
LVT clock timestep:                       "1da"
Undefined value:                          -9999
LVT diagnostic file:                       ./lvtlog

#LIS domain
Map projection of the LIS domain: latlon
Run domain lower left lat:       24.0833340
Run domain lower left lon:     -125.0000
Run domain upper right lat:      49.9166679
Run domain upper right lon:     -66.5000
Run domain resolution (dx):       0.04166662697178698
Run domain resolution (dy):       0.04166662697178698
Input domain and mask data file:   ./lis_input.d01.nc

LVT datastream attributes table::
SWE        1  1   kg/m2  -    1   1 SWE       1  1   kg/m2   -    1   1
SnowDepth  1  1   m      -    1   1 SnowDepth 1  1   m       -    1   1
::

LVT surface soil layer thickness:  0.1
LVT root zone soil layer thickness:  1.0  

#stats specifications (only applicable to retrospective mode)
Apply external mask:                            0
External mask directory:                        "none" #OBSMASK.bin
Compute information theory metrics:             0 
Compute ensemble metrics:                       0 
Metrics attributes file:                        ./input/METRICS.TBL
Observation count threshold:                    0
Metrics computation frequency:                  "1da" 
Spatial averaging mode:                         "pixel-by-pixel"
Starting month if a shifted year definition is used in temporal averaging: 1
Metrics output directory:                       ./STATS
Metrics output frequency:                       "1da"
Time series location file:                      ./input/TS_LOCATIONS_UA.TXT
Variable-based stratification:                   0 
Compute LSM diagnostics:                         0
Confidence interval (%):                         95
External data-based stratification:              0
Stratification attributes file:                  none
Seasonal cycle minimum count threshold:          0 
Seasonal cycle interval type:                    "monthly"
Average diurnal cycle minimum count threshold:   0
Apply temporal smoothing to obs:                 0 

UA SNOW observation directory: './input/UA_SNOW'
