#
##################### Settings for AWRAL600 ##################### 
#
# AWRAL600 - model time step in string (eg. 1hr, 3600s)
AWRAL600 model timestep: 
# AWRAL600- restart output interval in string (eg. 1 hr, 3600s)
AWRAL600 restart output interval: 
###
### CONSTANT PARAMETERS FOR AWRAL600
###
AWRAL600 slope_coeff:        # slope_coeff: scaling factor for slope
AWRAL600 pair:        # pair: air pressure
AWRAL600 kr_coeff:        # kr_coeff: scaling factor for ratio of saturated hydraulic conductivity
AWRAL600 alb_dry:        # alb_dry: dry soil albedo for each hru
AWRAL600 alb_wet:        # alb_wet: wet soil albedo for each hru
AWRAL600 cgsmax:        # cgsmax: coefficient relating vegetation photosynthetic capacity to maximum stomatal conductance for each hru
AWRAL600 er_frac_ref:        # er_frac_ref: specific ratio of the mean evaporation rate and the mean rainfall intensity during storms for each hru
AWRAL600 fsoilemax:        # fsoilemax: soil evaporation scaling factor corresponding to unlimited soil water supply for each hru
AWRAL600 lairef:        # lairef: reference leaf area index (at which fv = 0.63) for each hru
AWRAL600 rd:        # rd: rooting depth for each hru
AWRAL600 s_sls:        # s_sls: specific canopy rainfall storage per unit leaf area for each hru
AWRAL600 sla:        # sla: specific leaf area for each hru
AWRAL600 tgrow:        # tgrow: characteristic time scale for vegetation growth towards equilibrium for each hru
AWRAL600 tsenc:        # tsenc: characteristic time scale for vegetation senescence towards equilibrium for each hru
AWRAL600 ud0:        # ud0: maximum possible root water uptake from the deep soil store for each hru
AWRAL600 us0:        # us0: maximum possible root water uptake from the shallow soil store for each hru
AWRAL600 vc:        # vc: vegetation photosynthetic capacity index per unit canopy cover for each hru
AWRAL600 w0lime:        # w0lime: limiting the value of the relative soil moisture content of the top soil layer at which evaporation is reduced for each hru
AWRAL600 w0ref_alb:        # w0ref_alb: Reference value of w0 that determines the rate of albedo decrease with wetness for each hru
AWRAL600 wdlimu:        # wdlimu: water-limiting relative water content of the deep soil store for each hru
AWRAL600 wslimu:        # wslimu: water-limiting relative water content of the shallow soil store for each hru
AWRAL600 timesteps:        # timesteps: number of daily timesteps
AWRAL600 cells:        # cells: number of grid cells
###
### RESTART SETTING OF AWRAL600
###
# AWRAL600 restart file name
AWRAL600 restart file:
# AWRAL600 restart format (netcdf or binary). Default setting is netcdf. 
AWRAL600 restart file format: "netcdf"
###
### INITIAL CONDITION OF AWRAL600
###
AWRAL600 initial sr:        # sr: volume of water in the surface water store
AWRAL600 initial sg:        # sg: groundwater storage in the unconfined aquifer
AWRAL600 initial s0:        # s0: water storage in the surface soil layer for each hru
AWRAL600 initial ss:        # ss: water content of the shallow soil store for each hru
AWRAL600 initial sd:        # sd: water content of the deep soil store for each hru
AWRAL600 initial mleaf:        # mleaf: leaf biomass
