

# Overall driver options
LDT running mode:                   "DA preprocessing"
Processed LSM parameter filename:   ./lis_input.d01.nc 
LIS number of nests:                 1
Number of surface model types:       2
Surface model types:                 LSM  Openwater
Land surface model:                  Noah.3.6
Lake model :                         none
Routing model:                       none
Open water model:                    none
Water fraction cutoff value:         0.5

Number of met forcing sources: 0
Met forcing sources:                 none
LDT diagnostic file: ldtlog
Mask-parameter fill diagnostic file: MPFilltest.log
LDT output directory: OUTPUT
Undefined value: -9999.0
Number of ensembles per tile: 1
Number of processors along x:         1
Number of processors along y:         1
Output methodology: "2d gridspace"
Output data format: netcdf
Output naming style: "3 level hierarchy"

# Domain specification
# Rotated GALWEM 10-km domain
Map projection of the LIS domain:       latlon
Run domain lower left lat:             25.5449
Run domain lower left lon:            -124.102
Run domain upper right lat:            52.7344
Run domain upper right lon:           -67.5703
Run domain resolution (dx):            0.140625
Run domain resolution (dy):            0.09375

# Parameters
Landcover data source:     MODIS_Native 
Landcover classification:  IGBPNCEP 
Landcover file:            ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:     tile
#Landcover fill option:           none # Set to none if creating land mask
Landcover fill option:           neighbor
Landcover fill value:            10
Landcover fill radius:           5
Landcover map projection:       latlon


Create or readin landmask:    create
Landmask data source:         MODIS_Native
Landmask spatial transform:   mode

#Create or readin landmask:    readin
#Landmask file: cap2ldt_updated.nc
#Landmask data source:         UKMO_CAP_Netcdf
#Landmask spatial transform: none
#Landmask lower left lat:            -89.9531250
#Landmask lower left lon:           -179.9296875
#Landmask upper right lat:            89.9531250
#Landmask upper right lon:           179.9296875
#Landmask resolution (dx):             0.140625
#Landmask resolution (dy):             0.093750
#Landmask map projection:      latlon

# Crop-Irrigation parameters
Incorporate crop information:     .false.
Irrigation type data source:      none
Irrigation fraction data source:  none

# Soil Parameters
Soil fraction data source:       none
Soils spatial transform:         none
Soils fill option:               none
Soils map projection:            latlon

Soil texture data source:       none
Soil texture map:               ../LS_PARAMETERS/noah_2dparms/topsoil30snew
Soil texture spatial transform:   mode
Soil texture fill option:         neighbor
Soil texture fill value:          6
Soil texture fill value for Antarctica:   16
Soil texture fill radius:         5
Soil texture map projection:     latlon
Soil texture force exclusion of water points during fill: true

# Topography parameters -- Elevation, Slope, Aspect
Elevation data source:        none
Elevation number of bands:        1
Elevation map:       ../LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw_wgtopo30antarc
Elevation fill option: none # Preserve elevation for water bodies
Elevation fill value:             0
Elevation fill radius:            5

Slope data source:        none
Slope number of bands:        1
Slope map:       ../LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw_wgtopo30antarc
Slope fill option:            none # Preserve slope for water bodies
Slope fill value:             0
Slope fill radius:            5.

Aspect data source:        none
Aspect number of bands:        1
Aspect map:       ../LS_PARAMETERS/topo_parms/SRTM/SRTM30/raw_wgtopo30antarc
Aspect fill option:            none # Preserve aspect ratio for water bodies
Aspect fill value:             3.14159
Aspect fill radius:            5.

Topography spatial transform:     average 
Topography map projection:       latlon

# LSM-specific parameters
Albedo data source:          none
Albedo map:                 ../LS_PARAMETERS/noah_2dparms/albedo 
Albedo climatology interval:    monthly
Albedo spatial transform:       budget-bilinear
Albedo fill option:             neighbor
Albedo fill value:              0.15
Albedo fill radius:             5
Albedo map projection:          latlon

Max snow albedo data source: none
Max snow albedo map:        ../LS_PARAMETERS/noah_2dparms/maximum_snow_albedo.hdf
Max snow albedo spatial transform:     average
Max snow albedo fill option:           neighbor
Max snow albedo fill value:           0.3
Max snow albedo fill radius:          5
Max snow albedo map projection:        latlon

Greenness data source:         NCEP_Native
Greenness fraction map:        ./input/LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:    monthly
Calculate min-max greenness fraction:  .false.
Greenness maximum map:         ./input/LS_PARAMETERS/noah_2dparms/gfrac_max.asc
Greenness minimum map:         ./input/LS_PARAMETERS/noah_2dparms/gfrac_min.asc
Greenness spatial transform:       budget-bilinear
Greenness fill option:             neighbor
Greenness fill radius:             5
Greenness fill value:              0.3
Greenness maximum fill value:     1.0
Greenness minimum fill value:     0.0
Greenness map projection:         latlon

Slope type data source:   none

Bottom temperature data source:   none
Bottom temperature map:          ../LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:    budget-bilinear
Bottom temperature fill option:      average      
Bottom temperature fill value:       287.0       
Bottom temperature fill radius:       5.
Bottom temperature topographic downscaling:  lapse-rate
Bottom temperature map projection:      latlon


DA preprocessing method:             "CDF generation"
DA observation source:               "NASA SMAP soil moisture"
Name of the preprocessed DA file:    "SMAP_cdf_10km_30obs" #25km"

Apply anomaly correction to obs:      0
Temporal resolution of CDFs:         monthly # "yearly"
Number of bins to use in the CDF:     100
Observation count threshold:          30 # 50 # 200
Temporal averaging interval:          "1da"
Apply external mask:                  0
External mask directory:              none

NASA SMAP soil moisture observation directory:  ./input/RS_DATA/SMAP/SPL3SMP.005
NASA SMAP soil moisture data designation: SPL3SMP 
NASA SMAP search radius for openwater proximity detection:  3
SMAP(NASA) soil moisture Composite Release ID (e.g., R16): "R16"
# ====================================================
# NOTE: SMOPS V3 available at RS_DATA/SMOPS_v3 
# It covers 2012/08/01 to 2017/05/31
# ====================================================

Starting year:                        2015
Starting month:                       03 
Starting day:                         31 
Starting hour:                        0 
Starting minute:                      0
Starting second:                      0
Ending year:                          2019
Ending month:                         06
Ending day:                           01
Ending hour:                          0
Ending minute:                        0
Ending second:                        0
LIS output timestep:                 "1da"

Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.05
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05
