#Overall driver options
LDT running mode:                       "LSM parameter processing"
Processed LSM parameter filename:       ./lis_input.d01.nc
LIS number of nests:                    1
Number of surface model types:          1
Surface model types:                    "LSM"
Land surface model:                     Noah.3.3
Lake model:                             none
Include water points:                   .false.
Water fraction cutoff value:            0.5
Incorporate crop information:       .false.
Number of met forcing sources:          0
Met forcing sources:                    none
Met spatial transform methods:          bilinear
Topographic correction method (met forcing):  "lapse-rate"
LDT diagnostic file:                    ldtlog
LDT output directory:               OUTPUT
Undefined value:                        -9999.0

#Processor layout
Number of ensembles per tile:           1
Number of processors along x:           2
Number of processors along y:           2

#LIS domain
Map projection of the LIS domain:       latlon
#Run domain lower left lat:                40.125
#Run domain lower left lon:               -88.375
#Run domain upper right lat:               40.375
#Run domain upper right lon:              -88.125
Run domain lower left lat:                40.01
Run domain lower left lon:               -88.37
Run domain upper right lat:               40.26
Run domain upper right lon:              -88.12
Run domain resolution (dx):                0.25
Run domain resolution (dy):                0.25

#Landcover parameter inputs
Landcover data source: USGS_LIS
Landcover classification:               "USGS"
Landcover file:                         ./input/LS_PARAMETERS/UMD/25KM/landcover_USGS.1gd4r
Landcover spatial transform:            neighbor
Landcover fill option:                  none
Landcover map projection:               latlon
Landcover lower left lat:                -59.875
Landcover lower left lon:               -179.875
Landcover upper right lat:                89.875
Landcover upper right lon:               179.875
Landcover resolution (dx):                 0.25
Landcover resolution (dy):                 0.25

#Landmask parameter inputs
Create or readin landmask:              "readin"
Landmask data source: AVHRR
Landmask file:                          ./input/LS_PARAMETERS/UMD/25KM/landmask_UMD.1gd4r
Landmask spatial transform:             none
Landmask map projection:                latlon
Landmask lower left lat:                 -59.875
Landmask lower left lon:                -179.875
Landmask upper right lat:                 89.875
Landmask upper right lon:                179.875
Landmask resolution (dx):                  0.25
Landmask resolution (dy):                  0.25

#Soil parameter inputs
Soils spatial transform:                none
Soils fill option:                      none
Soils map projection:                   latlon

#Soil texture inputs
Soil texture data source: STATSGOFAO_LIS
Soil texture map:                       ./input/LS_PARAMETERS/UMD/25KM/soiltexture_STATSGO-FAO.1gd4r 
Soil texture spatial transform:         none
Soil texture fill option:               none
Soil texture fill radius:               0
Soil texture fill value:                0.0
Soil texture map projection:            latlon
Soil texture lower left lat:             -59.875
Soil texture lower left lon:            -179.875
Soil texture upper right lat:             89.875
Soil texture upper right lon:            179.875
Soil texture resolution (dx):              0.25
Soil texture resolution (dy):              0.25

# Slope type map:
Slope type data source:       CONSTANT
Slope type map:           ./noah_2dparms/islope         # Slope type map
Slope type spatial transform:   neighbor                # none | neighbor | mode
Slope type fill option:         neighbor                # none | neighbor
Slope type fill radius:           5                     # Number of pixels to search for neighbor
Slope type fill value:            3.                    # Static value to fill where missing
Slope type map projection:      latlon

# Bottom temperature map (lapse-rate correction option):
Bottom temperature data source:     CONSTANT
Bottom temperature map:     ./noah_2dparms/SOILTEMP.60     # Bottom soil temperature file
Bottom temperature topographic downscaling:  "none"  # none | lapse-rate
Bottom temperature spatial transform:  bilinear            # average | neighbor | bilinear | budget-bilinear
Bottom temperature fill option:        average             # none | average | neighbor
Bottom temperature fill radius:        5                   # Number of pixels to search for neighbor
Bottom temperature fill value:         285.                # Static value to fill where missing
Bottom temperature map projection:     latlon              # Projection type
