#Overall driver options
LDT running mode:                       "LSM parameter processing"
Processed LSM parameter filename:       ./lis_input.d01.nc
LIS number of nests:                    1
Number of surface model types:          1
Surface model types:                    "LSM"
Land surface model:                     "AquaCrop.7.2"
Lake model:                             none
Water fraction cutoff value:            0.5

Number of met forcing sources:          0
Met forcing sources:                    "NLDAS2"
Met spatial transform methods:          "bilinear"
Topographic correction method (met forcing):  none
Temporal interpolation method (met forcing): linear
LDT diagnostic file:                    ldtlog
LDT output directory:                   OUTPUT
Undefined value:                       -9999.0

#Processor layout
Number of ensembles per tile:           1
Number of processors along x:           1
Number of processors along y:           1

#LIS domain
Map projection of the LIS domain:      latlon
Run domain lower left lat:             34.375  
Run domain lower left lon:            -102.875 
Run domain upper right lat:            39.625 
Run domain upper right lon:           -96.125 
Run domain resolution (dx):             0.25
Run domain resolution (dy):             0.25

# Parameters
Landcover data source:        MODIS_Native 
Landcover classification:       IGBPNCEP 
Landcover file:            ./INPUT/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:     mode
Landcover fill option:           none # Set to none if creating land mask
Landcover map projection:       latlon


Create or readin landmask:    create
Landmask data source:         MODIS_Native
Landmask spatial transform:   none

# Crop-Irrigation parameters
Incorporate crop information:     .false.
Irrigation type data source:      none
Irrigation fraction data source:  none

# Soil Parameters
Soil fraction data source:       none
Soils spatial transform:         none
Soils fill option:               none
Soils map projection:            latlon

Soil texture data source:       STATSGOFAO_Native
Soil texture map:               ./INPUT/LS_PARAMETERS/noah_2dparms/topsoil30snew
Soil texture spatial transform:   tile
Soil texture fill option:         neighbor
Soil texture fill value:          6
Soil texture fill value for Antarctica:   16
Soil texture fill radius:         5
Soil texture map projection:     latlon
Soil texture force exclusion of water points during fill: true

# Topography parameters -- Elevation, Slope, Aspect
Elevation data source:        SRTM_Native
Elevation number of bands:        1
Elevation map:       	./INPUT/LS_PARAMETERS/topo_parms/SRTM30/raw_wgtopo30antarc
Elevation fill option:           none # Preserve elevation for water bodies
Elevation fill value:             0
Elevation fill radius:            5

Slope data source:        SRTM_Native
Slope number of bands:        1
Slope map:     		./INPUT/LS_PARAMETERS/topo_parms/SRTM30/raw_wgtopo30antarc
Slope fill option:            none # Preserve slope for water bodies
Slope fill value:             0
Slope fill radius:            5.

Aspect data source:        SRTM_Native
Aspect number of bands:        1
Aspect map:       	./INPUTLS_PARAMETERS/topo_parms/SRTM30/raw_wgtopo30antarc
Aspect fill option:            none # Preserve aspect ratio for water bodies
Aspect fill value:             3.14159
Aspect fill radius:            5.

Topography spatial transform:     average 
Topography map projection:       latlon

# LSM-specific parameters
#AquaCrop
##AquaCrop crop file directories
AquaCrop crop type data source:         "CONSTANT"
AquaCrop crop library directory:        ./INPUT/AC_INPUT/crop_params/
AquaCrop crop type:                     "GDD_grain_crop"

##AquaCrop soil layers
AquaCrop number of soil layers: 2
AquaCrop soil layer thickness:  0.3 0.9

##AquaCrop tmin/tmax climatology
AquaCrop temperature climatology directory: ./INPUT/Tmin_max_2000-2022/
AquaCrop reference year for climatology: 2011
AquaCrop temperature climatology spatial transform: "bilinear"


#Slope type inputs  
Slope type data source:         CONSTANT 
Slope type map:                 none
Slope type spatial transform:   neighbor                # none | neighbor | mode
Slope type fill option:         neighbor                # none | neighbor
Slope type fill radius:           0                     # Number of pixels to search for neighbor
Slope type fill value:            1.                    # Recommended static value to fill where missing
Slope type map projection:      latlon
# ------------------------

