
# == LDT Main Entry Options == 

LDT running mode:             "LSM parameter processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename: ./lis_input.d01.nc    # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "GeoWRSI.2"        # Enter LSM(s) of choice
Lake model:                          "none"             # Enter Lake model of choice
Routing model:                       "none"             # Enter the routing model
Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters

Number of met forcing sources:         0                # Enter number of forcing types
Met forcing sources:                 "none"             # Enter 'none' if no forcing selected
Met spatial transform methods:        none              # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"    # none | lapse-rate

LDT diagnostic file:                ldtlog              # Log-based diagnostic output file
LDT output directory:               OUTPUT              # If metrics or stats are written out
Undefined value:                   -9999.0              # Universal undefined value
Number of ensembles per tile:         1                 # The number of ensemble members per tile

# Processor layout: 
Number of processors along x:       1
Number of processors along y:       1

# LIS domain:  (See LDT User's Guide for other projection information)
# Eastern Africa (Oct-Feb) Domain:
Map projection of the LIS domain:   latlon 
Run domain lower left lat:         -11.750
Run domain lower left lon:          22.050   #  ulxmap 21.88 - mask
Run domain upper right lat:         22.950   #  ulymap 23.05 - mask
Run domain upper right lon:         51.350
Run domain resolution (dx):          0.10
Run domain resolution (dy):          0.10

# Landcover/Mask Parameter Inputs #
Landcover data source:          "AVHRR"
Landcover spatial transform:     tile
Landcover file:             ./input/UMD/10KM/landcover_UMD.1gd4r
Landcover fill option:           none
Landcover map projection:        latlon
Landcover lower left lat:       -59.95
Landcover lower left lon:      -179.95
Landcover upper right lat:       89.95
Landcover upper right lon:      179.95
Landcover resolution (dx):        0.1
Landcover resolution (dy):        0.1

Landmask data source:          "AVHRR"
Create or readin landmask:     "create" 

Soils spatial transform:       average  !Note: do not use mode with soil fractions
Soils map projection:          latlon

# GeoWRSI (2.0) Parameters:
# (Remove file extensions, since header files share same name)
WRSI length of growing period file: ./input/GeoWRSI_PARAMS/data/Africa/Static/lgp_et  
WRSI water holding capacity file:   ./input/GeoWRSI_PARAMS/data/Africa/Static/whc3   
WRSI SOS climatology file:          ./input/GeoWRSI_PARAMS/data/Africa/SOS/etw7006dt      
WRSI WRSI climatology file:         ./input/GeoWRSI_PARAMS/data/Africa/Static/etw7006eo  
WRSI landmask file:                 ./input/GeoWRSI_PARAMS/data/Africa/Static/etwmask   
WRSI SOS file:                      none
WRSI SOS anomaly file:              none

##
