#Overall driver options
Running mode:                     "RTM forward"
Map projection of the LIS domain: "latlon"
Number of nests:                  1
Number of surface model types:    1
Surface model types:             "LSM"
Surface model output interval:   "1hr"
Land surface model:              "Noah.3.6"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "NLDAS2"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial upscaling method (met forcing):       "average"
Spatial interpolation method (met forcing):   "neighbor"
Temporal interpolation method (met forcing):  "linear"

#Runtime options
Forcing variables list file:               ./input/forcing_variables.txt
Output forcing:                            0   #1-yes
Output parameters:                         0   #0- no 
Output methodology:                        "2d gridspace"
Output model restart files:                1
Output data format:                        "netcdf"
Output naming style:                       "4 level hierarchy"
Start mode:                                coldstart
Starting year:                             2010
Starting month:                            3
Starting day:                              29   # 30
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2010
Ending month:                              4
Ending day:                                3
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT'
Diagnostic output file:                   'OUTPUT/lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    1  
Number of processors along y:    1 
Halo size along x: 0
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:     "CMEM"
RTM invocation frequency:     1hr
RTM history output frequency: 1hr
CMEM3 sensor id:              smap
CMEM3 number of frequencies:  1
CMEM3 frequencies file:       ./input/smap-freqs.txt

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "none"
Data assimilation set:                               "none" 
# Number of state variables:                           2
Data assimilation exclude analysis increments:       0
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:   ###
Bias estimation start mode:                 ###
Bias estimation restart file:               ###

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                    ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:              ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

Run domain lower left lat:                  25.5
Run domain lower left lon:                -124.5
Run domain upper right lat:                 52.5
Run domain upper right lon:                -67.5
Run domain resolution (dx):                  1.0
Run domain resolution (dy):                  1.0

#The following options list the choice of parameter maps to be 
#used

LIS domain and parameter data file: ./lis_input.d01.nc
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Max snow albedo data source:     "LDT"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"


#--------------------------------FORCINGS----------------------------------
NLDAS2 forcing directory:               ./input/NLDAS2.FORCING
NLDAS2 data center source:              "GES-DISC"
NLDAS2 use model level data:            0 
NLDAS2 use model based swdown:          0 
NLDAS2 use model based precip:          0 
NLDAS2 use model based pressure:        0

#-----------------------LAND SURFACE MODELS--------------------------
Noah.3.6 model timestep:               15mn
Noah.3.6 restart output interval:      1mo
Noah.3.6 restart file:                 none
Noah.3.6 restart file format:          netcdf
Noah.3.6 vegetation parameter table:      ./input/LS_PARAMETERS/noah36_parms/VEGPARM.TBL
Noah.3.6 soil parameter table:            ./input/LS_PARAMETERS/noah3X_parms/SOILPARM.TBL.2017
Noah.3.6 general parameter table:         ./input/LS_PARAMETERS/noah36_parms/GENPARM.TBL
Noah.3.6 use PTF for mapping soil properties: 0
Noah.3.6 soils scheme:                    2      # 1-Zobler; 2-STATSGO
Noah.3.6 number of soil layers:           4
Noah.3.6 layer thicknesses:               0.1  0.3  0.6  1.0
Noah.3.6 use distributed soil depth map:  0
Noah.3.6 use distributed root depth map:  0
Noah.3.6 initial skin temperature:        290.0000                                 # Kelvin
Noah.3.6 initial soil temperatures:       290.0000  290.0000  290.0000   290.0000     # Kelvin
Noah.3.6 initial total soil moistures:    0.2000000 0.2000000 0.2000000 0.2000000 # volumetric (m3 m-3)
Noah.3.6 initial liquid soil moistures:   0.2000000 0.2000000 0.2000000 0.2000000  # volumetric (m3 m-3)
Noah.3.6 initial canopy water:            0.0                                      # depth (m)
Noah.3.6 initial snow depth:              0.0                                      # depth (m)
Noah.3.6 initial snow equivalent:         0.0                                      # also known swe - depth (m)
Noah.3.6 fixed max snow albedo:           0.0                                      # fraction; 0.0 - do not fix
Noah.3.6 fixed deep soil temperature:     0.0                                      # Kelvin; 0.0 - do not fix
Noah.3.6 fixed vegetation type:           0                                        # 0 - do not fix
Noah.3.6 fixed soil type:                 0                                        # 0 - do not fix
Noah.3.6 fixed slope type:                0                                        # 0 - do not fix
Noah.3.6 sfcdif option:                   1      # 0 - previous SFCDIF; 1 - updated SFCDIF
Noah.3.6 z0 veg-type dependence option:   0      # 0 - off; 1 - on; dependence of CZIL in SFCDIF
Noah.3.6 Run UA snow-physics option:   .false.   # ".true." or ".false"
# Green vegetation fraction - by month
#  - used only if "Greenness data source" above is zero
Noah.3.6 greenness fraction:  0.01  0.02  0.07  0.17  0.27  0.58  0.93  0.96  0.65  0.24  0.11  0.02
# Background (i.e., snow-free) albedo - by month
#  - used only for first timestep; subsequent timesteps use
#    the values as computed in the previous call to "SFLX"
Noah.3.6 background albedo:   0.18  0.17  0.16  0.15  0.15  0.15  0.15  0.16  0.16  0.17  0.17  0.18
# Background (i.e., snow-free) roughness length (m) - by month
#  - used only for first timestep; subsequent timesteps use
#    the values as computed in the previous call to "SFLX"
Noah.3.6 background roughness length: 0.020 0.020 0.025 0.030 0.035 0.036 0.035 0.030 0.027 0.025 0.020 0.020
Noah.3.6 reference height for forcing T and q:   2.0      # (m) - negative=use height from forcing data
Noah.3.6 reference height for forcing u and v:   10.0      # (m) - negative=use height from forcing data

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:     2008
Output start month:    3
Output start day:      1
Output start hour:     0
Output start minutes:  0
Output start seconds:  0

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'      
