LDT running mode:             "LSM parameter processing"
Processed LSM parameter filename:    lis_input.d01.nc

LIS number of nests:            1
Number of surface model types:   1
Surface model types:  "LSM"
Land surface model:       none
Lake model:               none
Water fraction cutoff value:     0.5
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters

Number of met forcing sources:  0
Met forcing sources:       none
Met spatial transform methods:     none
Topographic correction method (met forcing):  none

LDT diagnostic file:           ldtlog
Undefined value:               -9999.0
LDT output directory:               OUTPUT              # If metrics or stats are written out
Number of ensembles per tile:      1

Map projection of the LIS domain:      latlon
Run domain lower left lat:           25.065
Run domain lower left lon:         -124.935
Run domain upper right lat:          52.905
Run domain upper right lon:         -67.095
Run domain resolution (dx):           0.03
Run domain resolution (dy):           0.03

Landcover data source:        "MODIS_Native"
Landcover classification:     "IGBPNCEP"
Landcover file:               ./input/LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:     tile
Landcover fill option:   neighbor    # none, neighbor
Landcover fill radius:      5        # Number of pixels to search for neighbor
Landcover fill value:      10        # Static value to fill where missing
Landcover map projection:        latlon
Landcover lower left lat:       -59.995
Landcover lower left lon:      -179.995
Landcover upper right lat:       89.995
Landcover upper right lon:      179.995
Landcover resolution (dx):        0.01
Landcover resolution (dy):        0.01

Create or readin landmask:      "create"
Landmask data source:        "MODIS_Native"
Landmask file:        ./input/3KM_MODIS/modismask_3KM.1gd4r
Landmask spatial transform:    neighbor
Landmask map projection:        latlon
Landmask lower left lat:       -59.995
Landmask lower left lon:      -179.995
Landmask upper right lat:       89.995
Landmask upper right lon:      179.995
Landmask resolution (dx):        0.01
Landmask resolution (dy):        0.01

#Soil texture data source:       STATSGOFAO_Native
#Soil texture map:  ./input/LS_PARAMETERS/noah_2dparms/topsoil30snew
#Soil texture spatial transform:     neighbor
#Soil texture fill option:      neighbor
#Soil texture fill radius:         5
#Soil texture fill value:          4
#Soil texture map projection:        latlon
#Soil texture lower left lat:       -59.995
#Soil texture lower left lon:      -179.995
#Soil texture upper right lat:       89.995
#Soil texture upper right lon:      179.995
#Soil texture resolution (dx):        0.01
#Soil texture resolution (dy):        0.01

Soils map projection:          latlon
Soils spatial transform:        none            # Note: do not use mode with soil fractions

#Elevation data source:        GTOPO30_Native
#Elevation number of bands:        1
#Elevation map:     ./input/LS_PARAMETERS/topo_parms/GTOPO30/raw_all
#Elevation fill option:          average
#Elevation fill radius:           5
#Elevation fill value:           100
#Topography spatial transform:     average
#Topography map projection:         latlon
#Topography lower left lat:       -59.995
#Topography lower left lon:      -179.995
#Topography upper right lat:       89.995
#Topography upper right lon:      179.995
#Topography resolution (dx):        0.01
#Topography resolution (dy):        0.01

#Albedo data source:    NCEP_Native
#Albedo map:                 ./input/LS_PARAMETERS/noah_2dparms/albedo
#Albedo climatology interval:   monthly
#Albedo spatial transform:     bilinear
#Albedo fill option:            neighbor
#Albedo fill radius:               5
#Albedo fill value:               0.1
#Albedo map projection:       latlon
#Albedo lower left lat:      -59.995
#Albedo lower left lon:     -179.995
#Albedo upper right lat:      89.995
#Albedo upper right lon:     179.995
#Albedo resolution (dx):       0.01
#Albedo resolution (dy):       0.01

#Max snow albedo data source:    NCEP_LIS
#Max snow albedo map:   ./input/1KM_MODIS/mxsnoalb_1KM_MODIS.1gd4r
#Max snow albedo spatial transform:     average
#Max snow albedo fill option:          neighbor
#Max snow albedo fill radius:             5
#Max snow albedo fill value:             0.3
#Max snow albedo map projection:      latlon
#Max snow albedo lower left lat:    -59.995
#Max snow albedo lower left lon:   -179.995
#Max snow albedo upper right lat:    89.995
#Max snow albedo upper right lon:   179.995
#Max snow albedo resolution (dx):     0.01
#Max snow albedo resolution (dy):     0.01

Greenness data source:    NCEP_LIS
Greenness fraction map:     ./input/4KM_MODIS/gvf_MODIS_GLOBAL_4KM
Greenness climatology interval:   monthly
Calculate min-max greenness fraction:  .false.
Greenness maximum map:      ./input/VIIRSGVF/NESDIS_GVF_LISREAL/gvf_VIIRS_4KM.MAX.1gd4r
Greenness minimum map:      ./input/VIIRSGVF/NESDIS_GVF_LISREAL/gvf_VIIRS_4KM.MIN.1gd4r
Greenness spatial transform:     bilinear
Greenness fill option:        neighbor
Greenness fill radius:           5
Greenness fill value:           0.20
Greenness maximum fill value:   0.80
Greenness minimum fill value:   0.05
Greenness map projection:        latlon
Greenness lower left lat:      -89.982
Greenness lower left lon:     -179.982
Greenness upper right lat:      89.982
Greenness upper right lon:     179.982
Greenness resolution (dx):       0.036
Greenness resolution (dy):       0.036

#Slope type data source:    NCEP_Native
#Slope type map:         ./input/LS_PARAMETERS/noah_2dparms/islope
#Slope type spatial transform:     neighbor
#Slope type fill option:        neighbor
#Slope type fill radius:         5
#Slope type fill value:          2
#Slope type map projection:       latlon
#Slope type lower left lat:      -59.995
#Slope type lower left lon:     -179.995
#Slope type upper right lat:      89.995
#Slope type upper right lon:     179.995
#Slope type resolution (dx):       0.01
#Slope type resolution (dy):       0.01

#Bottom temperature data source:     NCEP_LIS
#Bottom temperature map:  ./input/1KM_MODIS/tbot_gdas_1KM.1gd4r
#Bottom temperature topographic downscaling:    none
#Bottom temperature spatial transform:     average
#Bottom temperature fill option:   average
#Bottom temperature fill radius:     15.
#Bottom temperature fill value:     287.0
#Bottom temperature map projection:      latlon
#Bottom temperature lower left lat:     -59.995
#Bottom temperature lower left lon:    -179.995
#Bottom temperature upper right lat:     89.995
#Bottom temperature upper right lon:    179.995
#Bottom temperature resolution (dx):      0.01
#Bottom temperature resolution (dy):      0.01

#GDAS T126 elevation map:  ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t126.grb
#GDAS T170 elevation map:  ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t170.grb
#GDAS T254 elevation map:  ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t254.grb
#GDAS T382 elevation map:  ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t382.grb
#GDAS T574 elevation map:  ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t574.grb
#GDAS T1534 elevation map: ./input/LS_PARAMETERS/metforcing_parms/GDAS/global_orography_uf.t1534.3072.1536.grb
#Elevation data source: GTOPO30_LIS

#NLDAS2 elevation difference map: ./input/LS_PARAMETERS/metforcing_parms/NLDAS2/NARR_elev-diff.1gd4r
#NARR terrain height map:         ./input/LS_PARAMETERS/metforcing_parms/NLDAS2/NARR_elevation.1gd4r
