#Overall driver options
Running mode:				"retrospective" 
Map projection of the LIS domain: 	"latlon"
Number of nests:	   	         1 
Number of surface model types:           1
Surface model types:			"LSM"
Surface model output interval:	        "1da" 
Land surface model:			"AquaCrop.7.2"
Number of met forcing sources:	        1
Blending method for forcings:	        "overlay"
Met forcing sources:			"NLDAS2 grib"
Topographic correction method (met forcing):	"none" 
Enable spatial downscaling of precipitation:	0
Spatial interpolation method (met forcing):	"neighbor" 
Spatial upscaling method (met forcing):		"average" 
Temporal interpolation method (met forcing):	"linear" 

#Runtime options
Forcing variables list file:		./INPUT/forcing_variables.txt
Output forcing:				0   #1-yes
Output parameters:			0   #0- no
Output methodology:			"2d gridspace"
Output data format:			netcdf
Output naming style:			"3 level hierarchy"
Output model restart files:		1
Start mode:				"coldstart"
Starting year:                          2017
Starting month:                         1 
Starting day:                           1  
Starting hour:                          0 
Starting minute:                        0 
Starting second:                        0
Ending year:                            2018
Ending month:                           1
Ending day:                             1
Ending hour:                            0
Ending minute:                          0
Ending second:                          0
Undefined value:                       -9999
Output directory:                      ./OUTPUT
Diagnostic output file:                ./OUTPUT/log/lislog
Number of ensembles per tile:            1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.05 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05

#Processor Layout	
#Should match the total number of processors used
Number of processors along x:    2  # e.g., 32
Number of processors along y:    2  # e.g., 16
Halo size along x: 0
Halo size along y: 0

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#-------------------------IRRIGATION------------------------------------
Irrigation scheme: "none"


#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0 

Data assimilation algorithm:                         "EnKF"
Data assimilation set:                               "SMOPS soil moisture"
Number of state variables:                           4 
Data assimilation use a trained forward model:       0
Data assimilation trained forward model output file: none
Data assimilation exclude analysis increments:       1 
Data assimilation output interval for diagnostics:   "1da"   
Data assimilation number of observation types:       1
Data assimilation output ensemble members:           0 
Data assimilation output processed observations:     0 
Data assimilation output innovations:                0 

Bias estimation algorithm:                "none" 
Bias estimation attributes file:          "none" 
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart" 
Perturbations restart output interval:    "1mo" 
Perturbations restart filename:           "none"
Apply perturbation bias correction:       0

Forcing perturbation algorithm:           "none" #"GMAO scheme"
Forcing perturbation frequency:           "1hr" 
Forcing attributes file:                  ./forcing_attribs.txt 
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt 

State perturbation algorithm:             "none" #"GMAO scheme"
State perturbation frequency:             "6hr" 
State attributes file:                    ./noah_sm_attribs.txt
State perturbation attributes file:       ./noah_sm_pertattribs.txt

Observation perturbation algorithm:       "none" #"GMAO scheme"
Observation perturbation frequency:       "6hr" 
Observation attributes file:              ./RTSMOPS_attribs.txt
Observation perturbation attributes file: ./RTSMOPS_pertattribs.txt

# ================================================================

#The following options list the choice of parameter maps to be used
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "LDT"
Aspect data source:              "LDT"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Greenness data source:           "none"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"
Max snow albedo data source:     "none"

LIS domain and parameter data file:    ./lis_input.d01.nc

#--------------------------------FORCINGS----------------------------------
#NLDAS2 (suppforcing option =5)
NLDAS2 forcing directory:               ./INPUT/NLDAS2.FORCING
NLDAS2 data center source:              "GES-DISC"
#NLDAS2 domain x-dimension size:         27 #28
#NLDAS2 domain y-dimension size:         21 #20
NLDAS2 use model level data:            0
NLDAS2 use model based swdown:          0
NLDAS2 use model based precip:          0
NLDAS2 use model based pressure:        0



#-----------------------LAND SURFACE MODELS--------------------------
#AquaCrop.7.2
AquaCrop.7.2 soil parameter table:          ./INPUT/SOILPARM_AC72.TBL
AquaCrop.7.2 model timestep:                "1da"
AquaCrop.7.2 restart output interval:       "1mo"
AquaCrop.7.2 restart file:                  none
AquaCrop.7.2 restart file format:           netcdf
AquaCrop.7.2 reference height of T and q:   2.0
AquaCrop.7.2 reference height of u and v:   2.0
AquaCrop.7.2 initial liquid soil moistures: 0.33 0.33
AquaCrop.7.2 input path:                    "./INPUT/AC_INPUT/"
AquaCrop.7.2 CO2_Filename:                  "MaunaLoa.CO2"
AquaCrop.7.2 crop library directory:        "./INPUT/AC_INPUT/crop_params/"
AquaCrop.7.2 Management_Filename:           "NearOpt.MAN"
AquaCrop.7.2 Irrigation_Filename:           "sprinkler.IRR"
##Simulation and crop period
AquaCrop.7.2 starting day of sim period:     1
AquaCrop.7.2 starting month of sim period:   1
AquaCrop.7.2 starting day of crop period:    22
AquaCrop.7.2 starting month of crop period:  3


#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Model output attributes file:  ./MODEL_OUTPUT_LIST.TBL

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

