
# == LDT Main Entry Options == 

LDT running mode:                "Metforce processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc   # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of ensembles per tile:          1                # The number of ensemble members per tile
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "none"             # Enter LSM(s) of choice
Lake model:                          "none"             # Enter Lake model(s) of choice
Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters
Undefined value:                    -9999.0             # Universal undefined value

LDT diagnostic file:               ./ldtlog             # Log-based diagnostic output file
LDT output directory:              ./TEST_OUTPUT        # If metrics or stats are written out

# Processor layout 
Number of processors along x:       4
Number of processors along y:       4

# Metforcing Entries:
Number of met forcing sources:        1                 # Enter number of forcing types
Met forcing sources:                "NLDAS2"            # Enter 'none' if no forcing selected
Met spatial transform methods:      "bilinear"          # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"    # none | lapse-rate
Temporal interpolation method (met forcing):  "linear" 

Blending method for forcings:       "overlay"

NLDAS2 forcing directory:       ./NLDAS2.FORCING 
NLDAS2 data center source:          "GES-DISC"
NLDAS2 use model level data:         0
NLDAS2 use model based swdown:       0
NLDAS2 use model based precip:       0
NLDAS2 use model based pressure:     0

Forcing variables list file:    ./ldt_forcing_vars.txt

# ---------------------------

Processed metforcing output interval:  "3hr"

Starting year:                       2010
Starting month:                       6
Starting day:                         1 
Starting hour:                        1
Starting minute:                      0
Starting second:                      0
Ending year:                         2010
Ending month:                         6  
Ending day:                           10
Ending hour:                          23
Ending minute:                        0
Ending second:                        0

# LIS domain:  (See LDT User's Guide for other projection information)
# Mid-Atlantic region:
Map projection of the LIS domain:   latlon 
Run domain lower left lat:          35.050
Run domain lower left lon:         -84.950
Run domain upper right lat:         44.950
Run domain upper right lon:        -70.050
Run domain resolution (dx):          0.10
Run domain resolution (dy):          0.10

Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs 
Landcover data source:         "CONSTANT" 
Landcover classification:      "UMD"                  # Enter land cover classification type
Landcover file:                 none                  # Landcover map path
Landcover spatial transform:    tile                  # none | mode | neighbor | tile
Landcover fill option:          none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:       latlon

# Create landmask field from readin landcover map or read in separate landmask file
Landmask data source:         "CONSTANT" 
Create or readin landmask:    "create"                # create | readin
Landmask file:                  none                  # Land mask file (if needed to be read-in)
Landmask spatial transform:     none                  # none | mode | neighbor
Landmask map projection:       latlon

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

# NLDAS-GTOPO30 elevation:
Elevation data source:          "none"
Elevation number of bands:          1            # Number of bins or bands of elevation
Elevation map:                   none
Topography spatial transform:    none
Elevation fill option:           none
Topography map projection:       latlon


# =======================================================

