LDT running mode:                "LSM parameter processing"  # LDT type of run-mode (top-level option)
Processed LSM parameter filename:  ./lis_input.d01.nc  # Final output file read by LIS-7

LIS number of nests:                   1                # Total number of nests run by LIS
Number of ensembles per tile:          1                # The number of ensemble members per tile
Number of surface model types:         1                # Total number of desired surface model types
Surface model types:                 "LSM"              # Surface models:  LSM | Openwater
Land surface model:                  "none"             # Enter LSM(s) of choice
Lake model:                          "none"             # Enter Lake model(s) of choice
Water fraction cutoff value:          0.5               # Fraction at which gridcell is designated as 'water'
Incorporate crop information:       .false.             # .true. = incorporate crop/irrig info with LSM parameters
Undefined value:                    -9999.0             # Universal undefined value

LDT output directory:              OUTPUT               # If metrics or stats are written out
LDT diagnostic file:               ldtlog               # Log-based diagnostic output file

# Metforcing Entries:
Number of met forcing sources:        0                 # Enter number of forcing types
Met forcing sources:                "none"              # Enter 'none' if no forcing selected
Met spatial transform methods:      "none"              # bilinear | budget-bilinear | neighbor | average
Topographic correction method (met forcing):  "none"    # none | lapse-rate
Temporal interpolation method (met forcing):  "linear" 

Blending method for forcings:     "overlay"

# ---------------------------

Starting year:                       2005
Starting month:                       5 
Starting day:                         1 
Starting hour:                        0 
Starting minute:                      0
Starting second:                      0
Ending year:                         2005
Ending month:                         1  
Ending day:                           0 
Ending hour:                          0
Ending minute:                        0
Ending second:                        0

# LIS domain:  (See LDT User's Guide for other projection information)
# Mid-Atlantic region:
Map projection of the LIS domain:    latlon 
Run domain lower left lat:         -89.75     #  -90.0
Run domain lower left lon:        -179.6875   # -180.0
Run domain upper right lat:         89.75     #   90.0
Run domain upper right lon:        179.0625   #  179.375
Run domain resolution (dx):          0.625    #    0.625
Run domain resolution (dy):          0.5      #    0.5

Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

# == Landcover, Landmask and Soil Texture Parameters ==

# Landcover/Mask Parameter Inputs 
Landcover data source:         "CONSTANT" 
Landcover classification:      "UMD"                  # Enter land cover classification type
Landcover file:                 none                  # Landcover map path
Landcover spatial transform:    tile                  # none | mode | neighbor | tile
Landcover fill option:          none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:       latlon

# Create landmask field from readin landcover map or read in separate landmask file
Landmask data source:         "CONSTANT" 
Create or readin landmask:    "create"                # create | readin
Landmask file:                  none                  # Land mask file (if needed to be read-in)
Landmask spatial transform:     none                  # none | mode | neighbor
Landmask map projection:       latlon

Soils spatial transform:        none            # Note: do not use mode with soil fractions
Soils map projection:          latlon

# NLDAS-GTOPO30 elevation:
Elevation data source:          "none"
#Elevation data source:         "SRTM_Native"
Elevation number of bands:          1            # Number of bins or bands of elevation
Elevation map:          ../topo_parms/SRTM/SRTM30/raw/
Topography spatial transform:     average
Elevation fill option:            average
Elevation fill radius:              3
Elevation fill value:              300.
Topography map projection:        latlon


# =======================================================

