#Overall driver options
LDT running mode:                       "LSM parameter processing"
Processed LSM parameter filename:       ./lis_input.d01.nc
LIS number of nests:                    1
Number of surface model types:          1
Surface model types:                    LSM
Land surface model:                     "none"
Routing model:                          none  # HYMAP
Lake model:                             none
Water fraction cutoff value:            0.5
Add buffer to parameter grid domain:    0    # New option (implicit); 0-no buffer, 1-add buffer
#
Number of met forcing sources:          0
Met forcing sources:                    none
Met spatial transform methods:          none
Topographic correction method (met forcing):  none

LDT diagnostic file:                    ./log/ldtlog
Mask-parameter fill diagnostic file:    ./log/maskparam.log
LDT output directory:                   OUTPUT
Undefined value:                        -9999.0

#LIS domain
Map projection of the LIS domain:       latlon
Run domain lower left lat:              20.975
Run domain lower left lon:              20.975
Run domain upper right lat:             34.975
Run domain upper right lon:             39.975
Run domain resolution (dx):             0.05
Run domain resolution (dy):             0.05

#Landcover parameter inputs
# Landcover/Mask Parameter Inputs 
Landcover data source:        	"MODIS_Native"
Landcover classification:       "IGBPNCEP"              # Enter land cover classification type
Landcover file:           	./input/igbp.bin      # Landcover map path
Landcover spatial transform:    tile                  # none | mode | neighbor | tile
Landcover fill option:          none                  # none | neighbor (Not needed if creating landmask)
Landcover map projection:       latlon

#Landmask parameter inputs
# Create landmask field from readin landcover map or read in separate landmask file
Create or readin landmask:      "create"                # create | readin
Landmask data source:           "MODIS_Native"          # If 'created', recommended to put Landcover source name here
Landmask file:                   none                   # Land mask file (if needed to be read-in)
Landmask spatial transform:      none                   # none | mode | neighbor
Landmask map projection:         latlon

Soil texture data source:        none
Soils spatial transform:         none      
Soils map projection:            latlon

Albedo data source:              none
Max snow albedo data source:     none
Greenness data source:           none
Slope type data source:          none
Elevation data source:           none
Aspect data source:              none
Slope data source:               none
Bottom temperature data source:  none

# =======================================================
### Crop information (used also in conjuction with irrigation modeling)
 
Incorporate crop information:  .true.             
 
Crop classification:       "CROPMAP"
Crop library directory:  "./input/Crop.Library.Files/"

# Crop maps:
Crop type data source:       "CONSTANT"  
Crop type file:              "none"
Crop map spatial transform:  "none"      # neighbor, average, none

Assign crop value type:      "single"      # Assign: "none", "single", "multiple" crop values
Default crop type:           "maize"     # "maize", "millet", etc.

# Irrigation maps:
# User-derived irrigation fraction map:
Irrigation fraction data source:     "UserDerived"
Irrigation fraction map:      ./input/irrigfrac_userderived_inputfile.gbin
Irrigation fraction spatial transform:  none
Irrigation fraction map projection:    latlon
Irrigation fraction lower left lat:    -1.975
Irrigation fraction lower left lon:   -19.975
Irrigation fraction upper right lat:   39.975
Irrigation fraction upper right lon:   61.975
Irrigation fraction resolution (dx):    0.05
Irrigation fraction resolution (dy):    0.05

# _________________________________________________________________________

