#Overall driver options
Running mode: 		  	 1  # 1-retrospective
Domain type:                     1  # 1-latlon
Number of nests:                 1  # 1- one nest
Land surface model:              0  # 0-forcing only(template)
Base forcing source:             1  # 1-GDAS
Number of base forcing variables:               9
Use elevation correction (base forcing):                  1
Spatial interpolation method (base forcing):              1
Temporal interpolation method (base forcing):             1
Number of supplemental forcing sources:  1
Supplemental forcing sources:     6  # CEOP station forcing
Number of supplemental forcing variables:  8
Use elevation correction (supplemental forcing):                  0
Spatial interpolation method (supplemental forcing):              1
Temporal interpolation method (supplemental forcing):             1

#The following options list the choice of parameter maps to be 
#used
Map projection of parameter data:           0
Landcover data source:           1  # 1-UMD
Use soil texture:                0  # 0-do not use
Soil data source:                0  # 0-do not use
Soil color data source:          0  # 0-do not use
Elevation data source:           1  # 1-GTOPO30 elevation
Slope data source:               0  # 0-do not use
Aspect data source:              0  # 0-do not use
Curvature data source:           0  # 0-do not use
LAI data source:                 0  # 0-do not use
SAI data source:                 0  # 0-do not use
Albedo data source:              0  # 0-do not use
Greenness data source:           0  # 0-do not use
Porosity data source:            0  # 0-do not use
Ksat data source:                0  # 0-do not use
B parameter data source:         0  # 0-do not use
Quartz data source:              0  # 0-do not use

#Runtime options
Experiment code:                           '111'  #experiment code
Number of veg types:                       13 #13-UMD
Forcing variables list file:               ./input/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        2   #2-gridded
Output data format:                        1   #1-binary
Output naming style:                        1
Output GRIB Table Version: 130
Output GRIB Center Id:     7
Output GRIB Subcenter Id: 138
Output GRIB Process Id:    1
Output GRIB Grid Id:       255
Logging level:                             1   #1-basic
Start mode:                                2   #2-coldstart
Starting year:                             2001
Starting month:                            7
Starting day:                              1
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2001
Ending month:                              7
Ending day:                                2
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Model timestep:                            1800
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'lisdiag'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of tiles per grid: 1
Cutoff percentage:                0.05 

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0
Halo size along y: 0 

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances: 0
Assimilation algorithm:          0  #0-none
Assimilation set:                0  
Bias estimation algorithm: 0 
Exclude analysis increments:     0 
Use bias restart:  0 
Bias restart output frequency:     86400 
Number of state variables:       0  
Number of observation types:     0 
Output interval for diagnostics: 21600 
Write ensemble members:          0
Write observations:              0
Write innovations:               0

#Perturbation options
Forcing perturbation algorithm:           0  # 0-none
Observation perturbation algorithm:       0  # 0-none
State perturbation algorithm:             0  # 0-none
Forcing perturbation frequency:           3600
Observation perturbation frequency:       3600
State perturbation frequency:             3600
Perturbations start mode:                 2
Perturbations restart output interval:    3600
Perturbations restart filename:           none
Number of forcing fields to be perturbed: 0
Forcing attributes file:                     
Forcing perturbation attributes file:        
State attributes file:                       
State perturbation attributes file:          
Observation attributes file:                 
Observation perturbation attributes file:     
Bias estimation attributes file:
Bias restart file: 


#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

run domain lower left lat:                  32.875
run domain lower left lon:                -104.875
run domain upper right lat:                 40.875
run domain upper right lon:                -93.875
run domain resolution (dx):                    0.25
run domain resolution (dy):                    0.25

#Definition of Parameter Domain

param domain lower left lat:                -59.875
param domain lower left lon:               -179.875
param domain upper right lat:                89.875
param domain upper right lon:               179.875
param domain resolution (dx):                   0.25
param domain resolution (dy):                   0.25


#--------------------------------PARAMETERS----------------------------------
#Metadata for Parameter maps
#Landcover and Landmask

landmask file:               ./input/LS_PARAMETERS/UMD/25KM/landmask_UMD.1gd4r
landcover file:              ./input/LS_PARAMETERS/UMD/25KM/landcover_UMD.1gd4r
landcover file format:          1
landcover lower left lat:       -59.875
landcover lower left lon:      -179.875
landcover upper right lat:       89.875
landcover upper right lon:      179.875
landcover resolution (dx):        0.25
landcover resolution (dy):        0.25

#Topography maps
elevation map:               ./input/LS_PARAMETERS/UMD/25KM/elev_GTOPO30.1gd4r
slope map:                      
aspect map:                     
curvature map:                  
topography lower left lat:       -59.875
topography lower left lon:      -179.875
topography upper right lat:       89.875
topography upper right lon:      179.875
topography resolution (dx):        0.25
topography resolution (dy):        0.25
     

#Soils maps
soil texture map:             
sand fraction map:        
clay fraction map:        
silt fraction map:        
soil color map:                
porosity map:                  
saturated matric potential map:       # psisat
saturated hydraulic conductivity map: # ksat
b parameter map:                      
quartz map:                           
soils lower left lat:            -59.875
soils lower left lon:           -179.875
soils upper right lat:            89.875
soils upper right lon:           179.875
soils resolution (dx):             0.25
soils resolution (dy):             0.25


#Albedo maps
albedo map:                    
albedo climatology interval: 3   #in months
max snow free albedo map:      
bottom temperature map:        

#Greenness fraction maps
greenness fraction map:        
greenness climatology interval:       1   #in months

#LAI maps
LAI map:                 
SAI map:                 

#--------------------------------FORCINGS----------------------------------
#GDAS (forcing option =1)
GDAS forcing directory:     ./input/MET_FORCING/GDAS/
GDAS T126 elevation map:           
GDAS T170 elevation map:    ./input/LS_PARAMETERS/UMD/25KM/elev_GDAS-T170.1gd4r
GDAS T254 elevation map:    ./input/LS_PARAMETERS/UMD/25KM/elev_GDAS-T254.1gd4r
GDAS T382 elevation map:    ./input/LS_PARAMETERS/UMD/25KM/elev_GDAS-T382.1gd4r
GDAS domain x-dimension size:      512
GDAS domain y-dimension size:      256
GDAS number of forcing variables:  9

#CEOP station forcing- during EOP1 (supplemental forcing option=6)
CEOP location index:                  3 #SGP location
CEOP forcing directory:             ./input/MET_FORCING/CEOP/sgp.cfr
CEOP metadata file:                 ./input/MET_FORCING/CEOP/sgp.mdata

#-----------------------LAND SURFACE MODELS--------------------------
#FORCING ONLY - TEMPLATE (lsm option = 0)
TEMPLATE model output interval:       3600   #in seconds

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file: './MODEL_OUTPUT_LIST.TBL'      
