#Overall driver options
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          1da
Land surface model:                     "AWRAL.6.0.0"
Number of met forcing sources:          1
Blending method for forcings:           overlay
Met forcing sources:                    "AWRAL processed forcing"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   neighbor
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  linear

#Runtime options
Forcing variables list file:            ./INPUT/forcing_variables.txt
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     netcdf
Output naming style:                    "3 level hierarchy"
Start mode:                             restart
Starting year:                          2010
Starting month:                            6
Starting day:                              30
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                            2010
Ending month:                              7
Ending day:                                5
Ending hour:                               0
Ending minute:                             0
Ending second:                             0
Undefined value:                       -9999
Output directory:                       "OUTPUT"
Diagnostic output file:                 "lislog"
Number of ensembles per tile:           1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     9
Minimum cutoff percentage (surface type tiles):    0.001
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05

#Processor Layout
#Should match the total number of processors used
Number of processors along x:    2  # e.g., 32
Number of processors along y:    2  # e.g., 16
Halo size along x: 0
Halo size along y: 0

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0      #1
Data assimilation algorithm:                         "none" #"Direct insertion"
Data assimilation set:                               "LAI"
Number of state variables:                           1 # added by Shugong
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"
Data assimilation number of observation types:       1
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                 0
Data assimilation use a trained forward model:       0
Data assimilation trained forward model output file: none

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           "INPUT/LIS_DAPERT_201010022330.d01.bin"

Forcing perturbation algorithm:           "none"
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  INPUT/forcing_attribs.txt
Forcing perturbation attributes file:     INPUT/forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./INPUT/awral_lai_attribs.txt
State perturbation attributes file:       ./INPUT/awral_lai_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./INPUT/LAIobs_attribs.txt
Observation perturbation attributes file: ./INPUT/LAI_pertattribs.txt


# ================================================================

#The following options list the choice of parameter maps to be used
Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "none"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "none"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "none"
Greenness data source:           "none"
Roughness data source:           "none"
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"
Max snow albedo data source:     "none"

Use greenness fraction climatology: 0
Use albedo climatology: 0
Albedo climatology interval type: monthly

LIS domain and parameter data file:    ./INPUT/awral_lis_input.nc

#--------------------------------FORCINGS----------------------------------
#AWRAL (suppforcing option =5)
AWRAL forcing directory:               ./INPUT/MET_FORCING/AWRAL.FORCING
AWRAL domain x-dimension size:         841
AWRAL domain y-dimension size:         681
#NLDAS2 use model based pressure:        0



#
##################### Settings for AWRAL600 ##################### 
#
# AWRAL600 - model time step in string (eg. 1hr, 3600s)
AWRAL600 model timestep:          1da
# AWRAL600- restart output interval in string (eg. 1 hr, 3600s)
AWRAL600 restart output interval: 1da
 
###
### CONSTANT PARAMETERS FOR AWRAL600
###

AWRAL600 nhru: 2        # nhru: number of hydrological response units
AWRAL600 nhypsbins: 20          # nhypsbins: number of hypsometric curve distribution percentile bins
AWRAL600 slope_coeff: 0.43879647       # slope_coeff: scaling factor for slope
AWRAL600 pair: 97500.0     # pair: air pressure
AWRAL600 kr_coeff: 0.66159026   # kr_coeff: scaling factor for ratio of saturated hydraulic conductivity
AWRAL600 hypsperc: 0.0 0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 0.15 0.2 0.3 0.4 0.5 0.6 0.75 0.9 1.0   # hypsperc: hypsometric curve distribution percentile bins
# hru params (1st = shallow, 2nd = deep)
AWRAL600 alb_dry: 0.26 0.26       # alb_dry: dry soil albedo for each hru
AWRAL600 alb_wet: 0.16 0.16      # alb_wet: wet soil albedo for each hru
AWRAL600 cgsmax: 0.03209419 0.02124781       # cgsmax: coefficient relating vegetation photosynthetic capacity to maximum stomatal conductance for each hru
AWRAL600 er_frac_ref: 0.032129 0.06425805       # er_frac_ref: specific ratio of the mean evaporation rate and the mean rainfall intensity during storms for each hru
AWRAL600 fsoilemax: 0.58500527 0.99960822       # fsoilemax: soil evaporation scaling factor corresponding to unlimited soil water supply for each hru
AWRAL600 lairef: 1.4 2.5       # lairef: reference leaf area index (at which fv = 0.63) for each hru
AWRAL600 rd: 1.0 6.0       # rd: rooting depth for each hru
AWRAL600 s_sls: 0.29277 0.067438        # s_sls: specific canopy rainfall storage per unit leaf area for each hru
AWRAL600 sla: 10.0 3.0       # sla: specific leaf area for each hru
AWRAL600 tgrow: 150.0 1000.0       # tgrow: characteristic time scale for vegetation growth towards equilibrium for each hru
AWRAL600 tsenc: 10.0 60.0       # tsenc: characteristic time scale for vegetation senescence towards equilibrium for each hru
AWRAL600 ud0: 0.0 11.56989       # ud0: maximum possible root water uptake from the deep soil store for each hru
AWRAL600 us0: 6.0 6.0      # us0: maximum possible root water uptake from the shallow soil store for each hru
AWRAL600 vc: 0.65 0.35       # vc: vegetation photosynthetic capacity index per unit canopy cover for each hru
AWRAL600 w0lime: 0.85 0.85       # w0lime: limiting the value of the relative soil moisture content of the top soil layer at which evaporation is reduced for each hru
AWRAL600 w0ref_alb: 0.3 0.3       # w0ref_alb: Reference value of w0 that determines the rate of albedo decrease with wetness for each hru
AWRAL600 wdlimu: 0.3 0.3       # wdlimu: water-limiting relative water content of the deep soil store for each hru
AWRAL600 wslimu: 0.3 0.3       # wslimu: water-limiting relative water content of the shallow soil store for each hru
AWRAL600 timesteps: 1        # timesteps: number of daily timesteps
###
### RESTART SETTING OF AWRAL600
###
AWRAL600 restart file:            ./INPUT/RESTART/LIS_RST_AWRAL600_201006300000.d01.nc
# AWRAL600 restart format (netcdf or binary). Default setting is netcdf. 
AWRAL600 restart file format:     "netcdf"
###
### INITIAL CONDITION OF AWRAL600
###
# hru params, shallow 1st, deep 2nd
AWRAL600 initial sr: 0.0        # sr: volume of water in the surface water store
AWRAL600 initial sg: 100.0       # sg: groundwater storage in the unconfined aquifer
AWRAL600 initial s0: 0.5 0.5       # s0: water storage in the surface soil layer for each hru
AWRAL600 initial ss: 0.5 0.5      # ss: water content of the shallow soil store for each hru
AWRAL600 initial sd: 0.5 0.5      # sd: water content of the deep soil store for each hru
### 2/sla
AWRAL600 initial mleaf: 0.67 0.2  # mleaf: leaf biomass

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output

Model output attributes file:  ./AWRAL600_OUTPUT_LIST.TBL

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

