#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                     1 
Number of surface model types:       1
Surface model types:               "LSM"
Land surface model:                "none"
Surface model output interval:     "6hr"

Number of met forcing sources:       1
Blending method for forcings:     "overlay"
Met forcing sources:              "GEFS forecast"
Number of ensembles per tile:        11

Spatial interpolation method (met forcing):   "bilinear"
Spatial upscaling method (met forcing):       "average"
Temporal interpolation method (met forcing):  "linear"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:   0
Enable new zterp correction (met forcing):    .false.

#Runtime options
Forcing variables list file:             ./input/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0-no
Output methodology:                        "2d ensemble gridspace"
Output model restart files:                1
Output data format:                        netcdf
Output naming style:                       "3 level hierarchy"
Start mode:                                coldstart
#
Starting year:                             2001
Starting month:                            2
Starting day:                              1
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2001
Ending month:                              2
Ending day:                                3
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
#
Undefined value:                          -9999
Output directory:                         './OUTPUT'
Diagnostic output file:                   './OUTPUT/lislog'

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10

#Processor Layout	
Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0 
Halo size along y: 0 

#------------------------ IRRIGATION ---------------------------------

Irrigation scheme:          "none"

#------------------------ ROUTING -------------------------------------

Routing model:              "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:               0
Data assimilation algorithm:                         "none"
Data assimilation set:                               "none"
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:            none

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                    ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"


#------------------------DOMAIN SPECIFICATION--------------------------

#The following options list the choice of parameter maps to be used:

LIS domain and parameter data file:    ./lis_input.d01.nc

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Max snow albedo data source:     "LDT"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"


#--------------------------------FORCINGS----------------------------------

# GEFS - Reforecast2:
GEFS forecast directory:        ./input/MET_FORCING/GEFS/Reforecast/     
GEFS forecast type:              Reforecast2      # Reforecast2 | Operational
GEFS forecast run mode:          forecast         # forecast | analysis 
GEFS forecast grid projection:   latlon           # latlon | gaussian
GEFS pressure level field:       surface          # surface | msl
GEFS forecast number of ensemble members:  11
GEFS forecast grid resolution: 1.0


#-----------------------LAND SURFACE MODELS--------------------------

TEMPLATE model timestep:                  "30mn"
TEMPLATE restart output interval:         "1mo"


#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the

Model output attributes file:  ./MODEL_OUTPUT_LIST.TBL

# Which date/time want to start writing output:
Output start year:     
Output start month:   
Output start day:       
Output start hour:      
Output start minutes:   
Output start seconds:   

# GRIB Output Type/Style:

Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255

