
# == LDT Main Entry Options ==

LDT running mode:                     "LSM parameter processing"
Processed LSM parameter filename:     ./lis_input.d01.nc

LIS number of nests:                   1
Number of surface model types:         1
Surface model types:                  "LSM"
Land surface model:                    none        # Enter LSM(s) of choice
Routing model:                        HYMAP
Lake model:                            none
Water fraction cutoff value:           0.5
Incorporate crop information:        .false. 

Number of met forcing sources:          0          # Enter number of forcing types
Met forcing sources:                 "none"        # Enter 'none' if no forcing selected
Met spatial transform methods:        none
Topographic correction method (met forcing):   "none"

LDT diagnostic file:                   ldtlog
LDT output directory:                  OUTPUT
Undefined value:                      -9999.0
Number of ensembles per tile:          1

# Processor layout
Number of processors along x:       1
Number of processors along y:       1

# Enter Data Source entries here:
Landcover data source:          AVHRR
Landmask data source:           AVHRR

#LIS domain:
Map projection of the LIS domain:   latlon 
Run domain lower left lat:          25.0625
Run domain lower left lon:        -124.9375
Run domain upper right lat:         52.9375
Run domain upper right lon:        -67.0625
Run domain resolution (dx):          0.125
Run domain resolution (dy):          0.125

# Landcover/Mask Parameter Inputs #
Landcover classification:        "UMD"
Landcover spatial transform:     tile
Landcover fill option:           neighbor
Landcover fill radius:           5
Landcover fill value:            4
Landcover file:           ./input/UMD/1KM/landcover_UMD.1gd4r
Landcover map projection:        latlon
Landcover lower left lat:       -59.995
Landcover lower left lon:      -179.995
Landcover upper right lat:       89.995
Landcover upper right lon:      179.995
Landcover resolution (dx):        0.01
Landcover resolution (dy):        0.01

Create or readin landmask:     "create" 

#Soil parameters:
Soils spatial transform:      none 
Soils fill option:            none
Soils map projection:         latlon

# HYMAP River routing data:
HYMAP river width map:              ./input/HYMAP_parms/NLDAS_12.5KM/rivwth.bin
HYMAP river height map:             ./input/HYMAP_parms/NLDAS_12.5KM/rivhgt.bin 
HYMAP river roughness map:          ./input/HYMAP_parms/NLDAS_12.5KM/rivman.bin 
HYMAP floodplain roughness map:     ./input/HYMAP_parms/NLDAS_12.5KM/fldman.bin
HYMAP river length map:             ./input/HYMAP_parms/NLDAS_12.5KM/rivlen.bin
HYMAP floodplain height map:        ./input/HYMAP_parms/NLDAS_12.5KM/fldhgt.bin
HYMAP floodplain height levels:     10
HYMAP flow direction x map:         ./input/HYMAP_parms/NLDAS_12.5KM/nextx.bin
HYMAP flow direction y map:         ./input/HYMAP_parms/NLDAS_12.5KM/nexty.bin
HYMAP grid elevation map:           ./input/HYMAP_parms/NLDAS_12.5KM/elevtn.bin
HYMAP grid distance map:            ./input/HYMAP_parms/NLDAS_12.5KM/nxtdst.bin
HYMAP grid area map:                ./input/HYMAP_parms/NLDAS_12.5KM/grarea.bin
HYMAP runoff time delay map:        ./input/HYMAP_parms/NLDAS_12.5KM/kirpich.bin
HYMAP runoff time delay multiplier map: ./input/HYMAP_parms/NLDAS_12.5KM/trunoff.bin
HYMAP baseflow time delay map:      ./input/HYMAP_parms/NLDAS_12.5KM/tbasflw.bin
HYMAP reference discharge map:      ./input/HYMAP_parms/NLDAS_12.5KM/qrefer.bin
HYMAP basin mask map:               ./input/HYMAP_parms/NLDAS_12.5KM/mask_all.bin 
HYMAP drainage area map:            ./input/HYMAP_parms/NLDAS_12.5KM/grarea.bin 
HYMAP basin map:                    ./input/HYMAP_parms/NLDAS_12.5KM/mask_all.bin 
HYMAP params spatial transform:      none
HYMAP params map projection:        latlon
HYMAP params lower left lat:        -59.9375
HYMAP params lower left lon:       -179.9375
HYMAP params upper right lat:        89.9375
HYMAP params upper right lon:       179.9375
HYMAP params resolution (dx):         0.125
HYMAP params resolution (dy):         0.125

# _________________________________________
