#LVT.config
LVT running mode:                   "LIS postprocessing"
Map projection of the LVT analysis: "latlon"
LVT output format:                 "netcdf"
LVT output methodology:            "2d gridspace"
Analysis data sources:            "LIS output" "none"

Start mode:                                coldstart
LVT restart output interval:               "1mo"
LVT restart filename:                      STATS.HIST/RST/
Starting year:                             2017
Starting month:                            10
Starting day:                              01 
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2018
Ending month:                              04
Ending day:                                01
Ending hour:                               0  
Ending minute:                             0
Ending second:                             0
LVT clock timestep:                       "1da"
Undefined value:                          -9999
LVT diagnostic file:                       lvtlog
Number of ensembles per tile:            1

#stats specifications (only applicable to retrospective mode)
External mask directory:                        OBSMASK.bin
Metrics computation frequency:                  "1da"
Metrics output directory:                         ./STATS
Metrics output frequency:                          "1da"

#LIS domain
Run domain lower left lat:                31.905
Run domain lower left lon:                -124.995
Run domain upper right lat:               52.995
Run domain upper right lon:               -109.405
Run domain resolution (dx):                0.01
Run domain resolution (dy):                0.01

Input domain and mask data file: ./lis_input.d01.nc


Number of processors used in the LIS output generation: 480 #240
Number of fields in the LIS output: 21 #21
Number of vertical levels in the LIS output: 4

LIS output interval:                           "1da"
LIS output analysis data class:               "LSM"
LIS output number of surface model types:      1
LIS output surface model types:               "LSM"
LIS output model name:              "Noah-MP.4.0.1"
LIS output map projection:          "latlon"
LIS output domain and parameter file:  ./lis_input.d01.nc
LIS output directory:               ./OUTPUT
LIS output naming style:            "3 level hierarchy"
LIS output methodology:            "2d gridspace"
LIS output format:                  "distributed binary"
LIS output attributes file:    ./OUTPUT
LIS output maximum number of surface type tiles per grid:     1
LIS output minimum cutoff percentage (surface type tiles):    0.10
LIS output maximum number of soil texture tiles per grid:     1
LIS output minimum cutoff percentage (soil texture tiles):    0.10
LIS output maximum number of soil fraction tiles per grid:    1
LIS output minimum cutoff percentage (soil fraction tiles):   0.10
LIS output maximum number of elevation bands per grid:        1
LIS output minimum cutoff percentage (elevation bands):       0.10
LIS output maximum number of slope bands per grid:            1
LIS output minimum cutoff percentage (slope bands):           0.10
LIS output maximum number of aspect bands per grid:           1
LIS output minimum cutoff percentage (aspect bands):          0.10
LIS output number of ensembles per tile:  1
LIS output nest index:     1
LIS output elevation data source: none
LIS output slope data source:     none
LIS output aspect data source:     none
LIS output soil texture data source: none
LIS output soil fraction data source: none
LIS output number of soil moisture layers:  4
LIS output number of soil temperature layers:  4
LIS output soil moisture layer thickness:  0.1 0.3 0.6 1.0
LIS output soil temperature layer thickness: 0.1 0.3 0.6 1.0

