#Overall driver options/lis
Running mode:                           retrospective
Map projection of the LIS domain:       latlon
Number of nests:                        1
Number of surface model types:          1
Surface model types:                    LSM
Surface model output interval:          1hr
Land surface model:                     "Noah-MP.4.0.1"
Number of met forcing sources:          1
Blending method for forcings:           ensemble
Met forcing sources:                    "NLDAS2"
Met forcing chosen ensemble member:     1
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial upscaling method (met forcing):       none
Spatial interpolation method (met forcing):   neighbor
Temporal interpolation method (met forcing):  linear 
Enable new zterp correction (met forcing):    1

#Runtime options
Forcing variables list file:            "./LIS_INPUTS/forcing_variables.txt"
Output methodology:                     "2d gridspace"
Output model restart files:             1
Output data format:                     netcdf
Output naming style:                    "3 level hierarchy"
Start mode:                             coldstart
Starting year:                          2005
Starting month:                           01
Starting day:                             01
Starting hour:                            00
Starting minute:                          00
Starting second:                          00
Ending year:                            2005
Ending month:                             01
Ending day:                               01
Ending hour:                              03
Ending minute:                            00
Ending second:                            00
Undefined value:                       -9999
Output directory:                       "./LIS_OUTPUT"
Diagnostic output file:                 "./LIS_LOGS/lislog"
Number of ensembles per tile:           1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:    1
Minimum cutoff percentage (surface type tiles):   0.05
Maximum number of soil texture tiles per grid:    1
Minimum cutoff percentage (soil texture tiles):   0.05
Maximum number of soil fraction tiles per grid:   1
Minimum cutoff percentage (soil fraction tiles):  0.05
Maximum number of elevation bands per grid:       1
Minimum cutoff percentage (elevation bands):      0.05
Maximum number of slope bands per grid:           1
Minimum cutoff percentage (slope bands):          0.05
Maximum number of aspect bands per grid:          1
Minimum cutoff percentage (aspect bands):         0.05

#Processor layout
#Should match the total number of processors used
Number of processors along x:           2
Number of processors along y:           2
Halo size along x:                      0
Halo size along y:                      0

#Sub-models
Routing model:                          "none"
#External runoff data source: "LIS runoff output"
Radiative transfer model:               none
Number of application models:           0

#HYMAP router
HYMAP routing model time step:                 15mn
HYMAP routing model output interval:           1da
HYMAP routing model restart interval:          1mo
HYMAP run in ensemble mode:                    0
# method:                enter 1 - kinematic; 2 - diffusive
# linear reservoir flag: enter 1 - use; or 2 - do not use linear reservoirs
# evaporation option:    enter 1 - compute; or 2 - do not compute evapotation in floodplains
HYMAP routing method:                          kinematic
HYMAP routing model linear reservoir flag:     1
HYMAP routing model evaporation option:        2
HYMAP routing model restart file:              ./LIS_RST_HYMAP_router_201805300000.d01.bin
HYMAP routing model start mode:                restart
HYMAP routing LIS output directory:            HYMAPTEST

#------------------------ IRRIGATION ---------------------------------
Irrigation scheme:            "none"
Irrigation output interval:   "1da"
Irrigation threshold:          0.5

# Parameters for Noah-MP and groundwater extraction (Nie et al. 2018)
Irrigation GVF parameter 1: 0.16
Irrigation GVF parameter 2: 0.00
Groundwater abstraction for irrigation: 1

# UMD-landcover and "CROPMAP" crop types (Leff et al. 2004):
Sprinkler irrigation max root depth file: ../temp/INPUT/LS_PARAMETERS/crop_params/maxrootdepth/umdcropmap32.txt

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options
#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200207312345.d01.bin


Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "1hr" 
State attributes file:                    ./noah_sm_attribs.txt 
State perturbation attributes file:       ./noah_sm_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "1hr" 
Observation attributes file:              ./LPRMsmobs_attribs.txt 
Observation perturbation attributes file: ./LPRMsmobs_pertattribs.txt 

Apply perturbation bias correction:       1

Number of data assimilation instances:              0
Data assimilation algorithm:                       "EnKF" 
Data assimilation set:                             "Synthetic SM"
Data assimilation exclude analysis increments:      0 
Data assimilation number of observation types:      1 

Data assimilation output interval for diagnostics:  "1da"
Data assimilation output processed observations:    1 
Data assimilation output ensemble spread:           0 
Data assimilation scaling strategy:                 "none"
Data assimilation output innovations:               0

Data assimilation use a trained forward model: 0
Data assimilation trained forward model output file: none

Bias estimation algorithm:                           "none"

Data assimilation observation domain file:           ./lis_input.d01.nc

Synthetic soil moisture data directory:              ../data/OBSGEN/OUTPUT
Synthetic soil moisture model CDF file:              LSM_cdf.nc
Synthetic soil moisture observation CDF file:        OBS_cdf.nc
Synthetic soil moisture number of bins in the CDF:   100


#------------------------DOMAIN SPECIFICATION--------------------------

#The following options list the choice of parameter maps to be used
LIS domain and parameter data file:     "./LIS_DOMAIN/lis_little_washita.nc"
Landmask data source:                   LDT
Landcover data source:                  LDT
Soil texture data source:               LDT
Soil fraction data source:              none
Soil color data source:                 none
Elevation data source:                  LDT
Slope data source:                      LDT
Aspect data source:                     LDT
Curvature data source:                  none
LAI data source:                        LDT
SAI data source:                        none
Albedo data source:                     LDT
Max snow albedo data source:            LDT
Greenness data source:                  LDT
Roughness data source:                  none
Porosity data source:                   none
Ksat data source:                       none
B parameter data source:                none
Quartz data source:                     none
Emissivity data source:                 none

#--------------------------------FORCINGS----------------------------------
#NLDAS2 (suppforcing option =5)
NLDAS2 forcing directory:               "./LIS_FORCING/NLDAS2.FORCING"
NLDAS2 data center source:              "GES-DISC"
#NLDAS2 domain x-dimension size:         27 #28
#NLDAS2 domain y-dimension size:         21 #20
NLDAS2 use model level data:            0
NLDAS2 use model based swdown:          0
NLDAS2 use model based precip:          0
NLDAS2 use model based pressure:        0
#-----------------------LAND SURFACE MODELS-------------------------
Noah-MP.4.0.1 model timestep:                1hr
Noah-MP.4.0.1 restart output interval:       3hr
Noah-MP.4.0.1 restart file:   none
#Noah-MP.4.0.1 restart file:                 "./LIS_RST_NOAHMP401_199005.nc"
Noah-MP.4.0.1 restart file format:           netcdf
Noah-MP.4.0.1 soil parameter table:          "./NOAHMP401_PARMS/SOILPARM.TBL"
Noah-MP.4.0.1 landuse parameter table:       "none"
Noah-MP.4.0.1 general parameter table:       "./NOAHMP401_PARMS/GENPARM.TBL"
Noah-MP.4.0.1 MP parameter table:            "./NOAHMP401_PARMS/MPTABLE.TBL"
Noah-MP.4.0.1 number of soil layers:         4
Noah-MP.4.0.1 thickness of soil layers:      0.1  0.3  0.6  1.0
Noah-MP.4.0.1 dynamic vegetation option:                      2  # 9 options available^M
Noah-MP.4.0.1 canopy stomatal resistance option:              1  # 1=Ball-Berry; 2=Jarvis^M
Noah-MP.4.0.1 soil moisture factor for stomatal resistance:   1  # 1=Noah; 2=CLM; 3=SSiB^M
Noah-MP.4.0.1 runoff and groundwater option:                  3  # 1=SIMGM; 2=SIMTOP; 3=Schaake96; 4=BATS^M
Noah-MP.4.0.1 surface layer drag coefficient option:          1  # 1=M-O; 2=Chen97^M
Noah-MP.4.0.1 supercooled liquid water option:                1  # 1=NY06; 2=Koren99^M
Noah-MP.4.0.1 frozen soil permeability option:                1  # 1=NY06; 2=Koren99^M
Noah-MP.4.0.1 radiation transfer option:                      3  # 1=gap=F(3D;cosz); 2=gap=0; 3=gap=1-Fveg^M
Noah-MP.4.0.1 snow surface albedo option:                     2  # 1=BATS; 2=CLASS^M
Noah-MP.4.0.1 rainfall & snowfall option:                     1  # 1=Jordan91; 2=BATS; 3=Noah^M
Noah-MP.4.0.1 lower boundary of soil temperature option:      2  # 1=zero-flux; 2=Noah
Noah-MP.4.0.1 snow&soil temperature time scheme option:       1  # 1=semi-implicit; 2=fully implicit
Noah-MP.4.0.1 glacier option:                                 1  # 1=include phase change; 2=slab ice (Noah)
Noah-MP.4.0.1 surface resistance option:                      1  # 1=Sakaguchi and Zeng 2009; 2=Sellers (1992); 3=adjusted Sellers; 4=option1 for non-snow and rsurf_snow for snow^M
Noah-MP.4.0.1 soil configuration option:                      1  # 1=input dominant soil texture; 2=input soil texture varies that varies with depth; 3=soil composition and pedotransfer functions^M
Noah-MP.4.0.1 soil pedotransfer function option:              1  # 1=Saxton and Rawls (2006) (used when soil_opt=3)
Noah-MP.4.0.1 crop model option:                              0  # 0=No crop model; 1=Liu et al. 2016; 2=Gecros
Noah-MP.4.0.1 urban physics option:                           0  # 0=No; 1=Single-layer; 2=Multi-layer BEP scheme; 3=Multi-layer BEM scheme^M
Noah-MP.4.0.1 initial surface skin temperature:              288.0
Noah-MP.4.0.1 initial soil temperatures:                     288.0  288.0  288.0  288.0
Noah-MP.4.0.1 initial total soil moistures:                    0.20   0.20   0.20   0.20
Noah-MP.4.0.1 initial snow water equivalent:                   0.0
Noah-MP.4.0.1 initial snow depth:                              0.0
Noah-MP.4.0.1 initial total canopy surface water:              0.0
Noah-MP.4.0.1 initial leaf area index:                         0.5
Noah-MP.4.0.1 initial water table depth:                       2.5
Noah-MP.4.0.1 initial water in the aquifer:                 4900.0
Noah-MP.4.0.1 initial water in aquifer and saturated soil:  4900.0
Noah-MP.4.0.1 reference height of temperature and humidity:   10.0

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the
#LSM model output
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:           "./LIS_INPUTS/NOAHMP401_OUTPUT_LIST.TBL"
