
LDT running mode:               "LSM parameter processing"
Processed LSM parameter filename:  ./lis_input.d01.nc

LIS number of nests:                   1         # 1 nest supported for now
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                Noah.3.3      # Enter LSM of choice
Lake model:                          'none'      # Lake model option: 'none'|'FLake'
Include water points:               .false.      # Include water points
Water fraction cutoff value:          0.5
Incorporate crop information:       .false.

Number of met forcing sources:         0         # Enter number of forcing types
Met forcing sources:                 "none"      # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none"

LDT diagnostic file:                ldtlog
Number of ensembles per tile:         1
Undefined value:                    -9999.0
LDT output directory:           OUTPUT

#Processor layout
Number of processors along x:         2
Number of processors along y:         2

#LDT/LIS domain and grid:
Map projection of the LIS domain:   latlon
Run domain lower left lat:         -59.875 
Run domain lower left lon:        -179.875 
Run domain upper right lat:         89.875 
Run domain upper right lon:        179.875 
Run domain resolution (dx):          0.25
Run domain resolution (dy):          0.25

#Land cover maps
Landcover data source: MODIS_Native
Landcover classification:     "IGBPNCEP"   # Enter land cover classification type
Landcover file:                ../LS_PARAMETERS/noah_2dparms/igbp.bin
Landcover spatial transform:     mode
Landcover fill option:           neighbor
Landcover fill radius:           5
Landcover fill value:            10 
Landcover map projection:       latlon
Landcover lower left lat:      -59.995
Landcover lower left lon:     -179.995
Landcover upper right lat:      89.995
Landcover upper right lon:     179.995
Landcover resolution (dx):       0.01
Landcover resolution (dy):       0.01

#Land mask file and options:
Create or readin landmask:    "readin"
Landmask data source: UMD
Landmask file:           ./input/global_0p25/mask_25KM.1gd4r 
Landmask spatial transform:     none
Landmask map projection:       latlon
Landmask lower left lat:      -59.875 
Landmask lower left lon:     -179.875 
Landmask upper right lat:      89.875 
Landmask upper right lon:     179.875 
Landmask resolution (dx):       0.25
Landmask resolution (dy):       0.25

Soil texture data source: STATSGOFAO_Native
#Soil texture map:
Soil texture map:       ../LS_PARAMETERS/noah_2dparms/topsoil30snew
Soil texture spatial transform:   neighbor
Soil texture fill option:         neighbor
Soil texture fill radius:         5
Soil texture fill value:          4
Soil texture map projection:     latlon
Soil texture lower left lat:    -59.9950
Soil texture lower left lon:   -179.9950
Soil texture upper right lat:    89.9950
Soil texture upper right lon:   179.9950
Soil texture resolution (dx):     0.01
Soil texture resolution (dy):     0.01


# Soils map projection:          latlon
# #Soils spatial transform:       none  !Note: do not use mode with soil fractions
# Soils spatial transform:       neighbor
# Soils lower left lat:         -59.99500
# Soils lower left lon:        -179.99500
# Soils upper right lat:         89.99500
# Soils upper right lon:        179.99500
# Soils resolution (dx):          0.0100
# Soils resolution (dy):          0.0100
# AFWA test version
Soils map projection:           latlon
Soils spatial transform:         none
Soils fill option:               none

#Topography maps
Elevation map:       ../LS_PARAMETERS/topo_parms/GTOPO30/gtopo30.1gd4r
Elevation fill option:            neighbor
Elevation number of bands:        1
Elevation fill radius:            5
Elevation fill value:             100
Topography spatial transform:     average
Topography map projection:       latlon
Topography lower left lat:      -59.995
Topography lower left lon:     -179.995
Topography upper right lat:      89.995
Topography upper right lon:     179.995
Topography resolution (dx):       0.01
Topography resolution (dy):       0.01

# Slope type:
Slope type data source: NCEP_Native
Slope type map:          ../LS_PARAMETERS/noah_2dparms/islope
Slope type spatial transform:   neighbor
Slope type fill option:         neighbor        # none, neighbor, average
Slope type fill radius:         5
Slope type fill value:          2
Slope type map projection:     latlon
Slope type lower left lat:    -59.99500
Slope type lower left lon:    -179.99500
Slope type upper right lat:    89.99500
Slope type upper right lon:   179.99500
Slope type resolution (dx):     0.0100
Slope type resolution (dy):     0.0100

Bottom temperature data source: ISLSCP1
Bottom temperature map:          ../LS_PARAMETERS/noah_2dparms/SOILTEMP.60
Bottom temperature spatial transform:    budget-bilinear
Bottom temperature topographic downscaling:  "lapse-rate"  # none | lapse-rate
Bottom temperature fill option:      average       # none, neighbor, average
Bottom temperature fill value:       287.0       # Static value to fill where missing
Bottom temperature fill radius:       15.        # Number of pixels to search for neighbor
Bottom temperature map projection:      latlon
Bottom temperature lower left lat:     -59.9950
Bottom temperature lower left lon:    -179.9950
Bottom temperature upper right lat:     89.9950
Bottom temperature upper right lon:    179.9950
Bottom temperature resolution (dx):      0.010
Bottom temperature resolution (dy):      0.010

Albedo data source: NCEP_Native
#Albedo maps
Albedo map:                 ../LS_PARAMETERS/noah_2dparms/albedo
Albedo climatology interval:    monthly   #in months
Albedo spatial transform:       budget-bilinear
Albedo fill option:             neighbor       # none, neighbor, average
Albedo fill radius:             5
Albedo fill value:              0.1
Albedo map projection:          latlon
Albedo lower left lat:         -59.99500
Albedo lower left lon:        -179.99500
Albedo upper right lat:         89.99500
Albedo upper right lon:        179.99500
Albedo resolution (dx):          0.0100
Albedo resolution (dy):          0.0100

Max snow albedo data source: NCEP_Native
Max snow albedo map:        ../LS_PARAMETERS/noah_2dparms/maxsnoalb.asc 
Max snow albedo spatial transform:     budget-bilinear
Max snow albedo fill option:           neighbor        # none, neighbor, average
Max snow albedo fill radius:          5
Max snow albedo fill value:           0.3
Max snow albedo map projection:        latlon
Max snow albedo lower left lat:      -59.99500
Max snow albedo lower left lon:     -179.99500
Max snow albedo upper right lat:      89.99500
Max snow albedo upper right lon:     179.99500
Max snow albedo resolution (dx):       0.0100
Max snow albedo resolution (dy):       0.0100

Greenness data source: NCEP_Native
Greenness fraction map:        ../LS_PARAMETERS/noah_2dparms/gfrac
Greenness climatology interval:    monthly
Calculate min-max greenness fraction:  .false.
Greenness maximum map:         ../LS_PARAMETERS/noah_2dparms/gfrac_max.asc
Greenness maximum fill value:     1.0
Greenness minimum map:         ../LS_PARAMETERS/noah_2dparms/gfrac_min.asc
Greenness minimum fill value:     0.0
Greenness spatial transform:       budget-bilinear
Greenness fill option:             neighbor
Greenness fill radius:             5
Greenness fill value:              0.20
Greenness map projection:         latlon
Greenness lower left lat:       -59.9950
Greenness lower left lon:      -179.9950
Greenness upper right lat:       89.9950
Greenness upper right lon:      179.9950
Greenness resolution (dx):        0.010
Greenness resolution (dy):        0.010

# Forcing Based Parameter Inputs:
NARR terrain height map:          ../LS_PARAMETERS/NLDAS_0.125/NARR_elevation.1gd4r
NLDAS2 elevation difference map:  ../LS_PARAMETERS/NLDAS_0.125/NARR_elev-diff.1gd4r

#------------------------
Elevation data source: GTOPO30_Native
