#Overall driver options
Running mode: 		                 	      3  # 1-retrospective
Domain type:                                          3  # 1-latlon
Number of nests:                                      1  # 1- one nest
Land surface model:                                   1  # 0-template
Base forcing source:                                  0  # 0-template
Number of base forcing variables:                     18 
Use elevation correction (base forcing):              0  #1-use lapse rate
Spatial interpolation method (base forcing):          1  #1-bilinear
Temporal interpolation method (base forcing):         1  #1-linear
Number of supplemental forcing sources:               0  # 0 or higher
Supplemental forcing sources:                         4  16 04-NLDAS (in order)
Number of supplemental forcing variables:             10 2
Use elevation correction (supplemental forcing):      0  0 #1-use lapse rate
Spatial interpolation method (supplemental forcing):  1  2 #3-nearest neighbor
Temporal interpolation method (supplemental forcing): 1  1 #1-linear

#The following options list the choice of parameter maps to be 
#used
Map projection of parameter data: 0 
Landcover data source:           1  # 1-UMD
Use soil texture:                0  # 0-do not use
Soil data source:                1  # 0-do not use
Soil color data source:          0  # 0-do not use
Elevation data source:           0  # 1-GTOPO30 elevation
Slope data source:               0  # 0-do not use
Aspect data source:              0  # 0-do not use
Curvature data source:           0  # 0-do not use
LAI data source:                 0  # 0-do not use
SAI data source:                 0 
Albedo data source:              1  # 0-do not use
Greenness data source:           1  # 0-do not use
Porosity data source:            0  # 0-do not use
Ksat data source:                0  # 0-do not use
B parameter data source:         0  # 0-do not use
Quartz data source:              0  # 0-do not use
Snow data source:                0  # 0-do not use

#Runtime options
Experiment code:                           '111'  #experiment code
Number of veg types:                       14 #13-UMD
Forcing variables list file:               ./forcing_variables.txt
Output forcing:                            0   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        2   #2-gridded
Output data format:                        1   #1-binary
Output naming style:                       1
Logging level:                             1   #1-basic
Start mode:                                2   #2-coldstart
Starting year:                             2002
Starting month:                            6
Starting day:                              12
Starting hour:                             0
Starting minute:                           0
Starting second:                           0
Ending year:                               2002
Ending month:                              6
Ending day:                                13
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Model timestep:                            10
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of tiles per grid: 1
Cutoff percentage:                0.05 

#Processor Layout	
#Should match the total number of processors used

Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0 
Halo size along y: 0 

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

Number of data assimilation instances:   0
Number of state perturbation instances:  0 
Assimilation algorithm:                  0
Assimilation set:                        14 
Bias estimation algorithm:               1
Exclude analysis increments:             1
Use bias restart:                        0
Bias restart output frequency:           86400 
Number of state variables:               4 
Number of observation types:             1 
Output interval for diagnostics:    21600  
Write ensemble members:                  0
Write observations:                      0 
Write innovations:                       0

#Perturbation options
Forcing perturbation algorithm:           0  # for all nests, all da instances
Observation perturbation algorithm:       0
State perturbation algorithm:             0
Forcing perturbation frequency:           1800
Observation perturbation frequency:       1800
State perturbation frequency:             1800
Perturbations start mode:                 2
Perturbations restart output interval:    3600
Perturbations restart filename:           none
Number of forcing fields to be perturbed: 3
Forcing attributes file:               ../forcing_attribs.txt
Forcing perturbation attributes file:  ../forcing_pert_attribs.txt
State attributes file:                 ../noah_sm_attribs.txt
State perturbation attributes file:    ../noah_sm_pertattribs.txt
Observation attributes file:           ../isccp_tskin_attribs.txt
Observation perturbation attributes file:  ../isccp_tskin_pertattribs.txt
Bias estimation attributes file:          ../noah_tskin_biasoptions1.txt
Bias restart file:                       ./Bias_rst_200101010000.1gs4r

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

run domain lower left lat:                 36.48382
run domain lower left lon:                -98.16849
run domain true lat1:                      36.700
run domain true lat2:                      36.700
run domain standard lon:                  -97.900
run domain resolution:                     1.0 # km
run domain x-dimension size:               49 #50
run domain y-dimension size:               49 #50


#Definition of Parameter Domain

param domain lower left lat:                -59.995
param domain lower left lon:               -179.995
param domain upper right lat:                89.995
param domain upper right lon:               179.995
param domain resolution (dx):                 0.01
param domain resolution (dy):                 0.01


#--------------------------------PARAMETERS----------------------------------
#Metadata for Parameter maps
#Landcover and Landmask

landmask file:                  ./input/UMD-1KM/UMD_601KMmask.1gd4r
landcover file:                 ./input/UMD-1KM/UMD_601KM.1gd4r
landcover file format:          1
landcover lower left lat:       -59.995
landcover lower left lon:      -179.995
landcover upper right lat:       89.995
landcover upper right lon:      179.995
landcover resolution (dx):        0.01
landcover resolution (dy):        0.01

#Topography maps
elevation map:                   
slope map:                      
aspect map:                     
curvature map:                  
topography lower left lat:       -59.995
topography lower left lon:      -179.995
topography upper right lat:       89.995
topography upper right lon:      179.995
topography resolution (dx):        0.01
topography resolution (dy):        0.01
     

#Soils maps
#saturated matric potential - psisat
#saturated hydraulic conductivity - ksat
soil texture map:         
sand fraction map:        ./input/UMD-1KM/sand60_1KM.1gd4r
clay fraction map:        ./input/UMD-1KM/clay60_1KM.1gd4r
silt fraction map:        ./input/UMD-1KM/silt60_1KM.1gd4r
soil color map:                
porosity map:                  
saturated matric potential map:       
saturated hydraulic conductivity map: 
b parameter map:                      
quartz map:                           
soils lower left lat:            -59.995
soils lower left lon:           -179.995
soils upper right lat:            89.995
soils upper right lon:           179.995
soils resolution (dx):             0.01
soils resolution (dy):             0.01


#Albedo maps
albedo map:                 ./input/UMD-1KM/alb                   
albedo climatology interval: 3   #in months
max snow free albedo map:   ./input/UMD-1KM/global_mxsnoalb.1km.1gd4r
bottom temperature map:     ./input/UMD-1KM/tbot_gdas_6yr_clim.1gd4r

#Greenness fraction maps
greenness fraction map:        ./input/UMD-1KM/green
greenness climatology interval:       1   #in months

#LAI maps
LAI map:                 
SAI map:                 

#--------------------------------FORCINGS----------------------------------
#GMAO GLDAS (forcing option =13)
GMAOGLDAS forcing directory:            ./input/FORCING/GLDAS_GMAO/
GMAOGLDAS domain x-dimension size:      144
GMAOGLDAS domain y-dimension size:      76
GMAOGLDAS number of forcing variables:  10

#GDAS (forcing option =3)
GDAS forcing directory:            ./input/FORCING/GDAS/
GDAS T126 elevation map:           
GDAS T170 elevation map:           ./input/UMD-25KM/gdas_T170_elev.1gd4r
GDAS T254 elevation map:           ./input/UMD-25KM/gdas_T254_elev.1gd4r
GDAS T382 elevation map:           ./input/UMD-25KM/gdas_T382_elev.1gd4r
GDAS domain x-dimension size:      512
GDAS domain y-dimension size:      256
GDAS number of forcing variables:  10

#NLDAS (supplemental forcing option =4)
NLDAS forcing directory:               ./input/FORCING/NLDAS  
NLDAS domain x-dimension size:         464  
NLDAS domain y-dimension size:         224  
NLDAS apply CONUS mask:                0 
NLDAS CONUS mask file:                 none
NLDAS mask lower left lat:             25.0625
NLDAS mask lower left lon:            -124.9375
NLDAS mask upper right lat:            52.9375
NLDAS mask upper right lon:           -67.0625
NLDAS mask resolution (dx):            0.125
NLDAS mask resolution (dy):            0.125
NLDAS elevation difference map:        ./input/FORCING/NLDAS/elevdiff.bin
EDAS height map:                       ./input/N0.125/edas_elev.1gd4r
EDAS height lower left lat:            25.0625  
EDAS height lower left lon:           -124.9375 
EDAS height upper right lat:           52.9375  
EDAS height upper right lon:          -67.0625  
EDAS height resolution (dx):            0.125   
EDAS height resolution (dy):            0.125       

#STAGEIV precip (supplemental forcing option=16)
STAGE4 forcing directory:             ./input/FORCING/STIV

#AGRMET forcing
AGRMET forcing directory:               ../AGRMET
AGRMET analysis directory:              ./Analysis
AGRMET surface fields directory:        SFCALC
AGRMET merged precip directory:         PRECIP
AGRMET cloud data directory:            WWMCA
AGRMET GFS data directory:              GFS
AGRMET SSMI data directory:             SSMI
AGRMET GEOPRECIP data directory:        GEO
AGRMET CDMS data directory:             CDMS
AGRMET use timestamp on directories:    1
AGRMET polar mask file:                 ./STATIC/point_switches
AGRMET polar terrain file:              ./STATIC/terrain
AGRMET sfcalc cntm file:                ./STATIC/sfcalc-cntm
AGRMET precip climatology:              ./STATIC/pcp_clim/
AGRMET nogaps wind weight:              0.75
AGRMET minimum wind speed:              0.25
AGRMET use present/past weather estimate: 1
AGRMET use precip observations:         1
AGRMET use SSMI data:                   1
AGRMET use CDFSII-based estimate:       1
AGRMET use GEOPRECIP estimate:          2
AGRMET CDFSII time interval:            6
AGRMET use precip climatology:          1
AGRMET SSMI zero use switch:            1
AGRMET snow distribution shape parameter: 2.6
AGRMET alternate monthly weighting factor: 1.0
AGRMET minimum 3hr climo value:            0.025
AGRMET maximum 3hr climo value:            0.375
AGRMET minimum precip-per-precip day multiplier: 0.0
AGRMET maximum precip-per-precip day multiplier: 1.1
AGRMET cloud threshold to generate CDFSII estimate: 85.0
AGRMET median cloud cover percentage1:              15.0
AGRMET median cloud cover percentage2:              0.60
AGRMET overcast percentage:                         0.30
AGRMET 3hr maximum precip ceiling:                  200.0


#-----------------------LAND SURFACE MODELS--------------------------
#FORCING ONLY - TEMPLATE (lsm option = 0)
TEMPLATE model output interval:       3600   #in seconds

#NCEP's NOAH (lsm option =1) 
NOAH model output interval:           3600
NOAH restart output interval:         2592000
NOAH restart file:                    ./LIS.E111.200711010100.d01.Noahrst 
#LIS.ESFX.200711010000.d01.Noahrst
NOAH slope file:                      
NOAH vegetation parameter table:       ./input/noah_parms/noah.vegparms.aist
NOAH soil parameter table:             ./input/noah_parms/noah.soilparms.afwa
NOAH general parameter table:          ./input/noah_parms/GENPARM.UNIF.TBL 
NOAH use PTF for mapping soil properties: 0
NOAH bottom temperature climatology interval: 0 
NOAH number of vegetation parameters: 7
NOAH soils scheme:                    2      #1-zobler
NOAH number of soil classes:          16      #9 for zobler
NOAH number of soil layers:           4
NOAH observation height:              20     #meters
NOAH initial soil moisture:           0.40   #volumetric soil moisture (m3 m-3)
NOAH initial soil temperature:        290.0 # Kelvin
NOAH use forcing data observation height: 0 
NOAH use forcing data aerodynamic conductance: 0 

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

Model output attributes file:   './MODEL_OUTPUT_LIST.TBL'

